{% extends './layout.html' %}

{% block content %}

{% include './nav.html' with {view_active:'boat'} %}

<div class="container">
  <hr class="hr-divider">
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.location') }}</label>
    </div>
    <div class="col-md-6">
      <div class="btn-group btn-group-justified radios" data-toggle="buttons">
        <label class="btn btn-default active">
          <input type="radio" autocomplete="off">{{ __('common.all') }}
        </label>
        <label class="btn btn-default">
          <input type="radio" autocomplete="off">深圳
        </label>
        <label class="btn btn-default">
          <input type="radio" autocomplete="off">香港
        </label>
      </div>
    </div>
  </div>
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.price_range') }}</label>
    </div>
    <div class="col-md-3">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ __('common.unlimited') }} <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-justified">
            <li><a href="#">{{ __('common.unlimited') }}</a></li>
            <li><a href="#">￥5000 - 10000</a></li>
            <li><a href="#">￥10000 － 15000</a></li>
            <li><a href="#">￥15000 － 20000</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.number_of_people') }}</label>
    </div>
    <div class="col-md-2">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            10 － 20 人 <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-justified">
            <li><a href="#">{{ __('common.unlimited') }}</a></li>
            <li><a href="#">10 人以下</a></li>
            <li><a href="#">10 － 20 人</a></li>
            <li><a href="#">20 － 30 人</a></li>
            <li><a href="#">30 － 40 人</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.entertainments') }}</label>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4">
      <div class="btn-group checkboxs" data-toggle="buttons">
        <label class="btn btn-default">
          <span class="glyphicon glyphicon-unchecked"></span>
          <input type="checkbox" autocomplete="off" value="option1"> 夜钓
        </label>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4">
      <div class="btn-group checkboxs" data-toggle="buttons">
        <label class="btn btn-default">
          <span class="glyphicon glyphicon-unchecked"></span>
          <input type="checkbox" autocomplete="off" value="option1"> 滑水
        </label>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4">
      <div class="btn-group checkboxs" data-toggle="buttons">
        <label class="btn btn-default">
          <span class="glyphicon glyphicon-unchecked"></span>
          <input type="checkbox" autocomplete="off" value="option1"> 香蕉船
        </label>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4">
      <div class="btn-group checkboxs" data-toggle="buttons">
        <label class="btn btn-default">
          <span class="glyphicon glyphicon-unchecked"></span>
          <input type="checkbox" autocomplete="off" value="option1"> 浮潜
        </label>
      </div>
    </div>
  </div>
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.extra') }}</label>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4">
      <div class="btn-group checkboxs" data-toggle="buttons">
        <label class="btn btn-default">
          <span class="glyphicon glyphicon-unchecked"></span>
          <input type="checkbox" autocomplete="off" value="option1"> 午餐
        </label>
      </div>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4">
      <div class="btn-group checkboxs" data-toggle="buttons">
        <label class="btn btn-default">
          <span class="glyphicon glyphicon-unchecked"></span>
          <input type="checkbox" autocomplete="off" value="option1"> 饮料
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
      <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#booking-confirm-modal">{{ __('common.search') }}</button>
    </div>
  </div>
  <hr class="hr-divider">
</div>
<div class="jumbotron columns">
  <div class="container">
    <h3>{{ __n('boat.list.find %d boat', 'boat.list.find %d boat', 2) }}</h3>
    <div class="row">
      <div class="col-md-4 col-sm-6 cell">
        <div class="thumbnail">
          <a href="#">
            <img src="/img/yacht01.jpg" alt="yacht01">
            <div class="caption">
              <h4>Rainbow</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 cell">
        <div class="thumbnail">
          <a href="#">
            <img src="/img/yacht02.jpg" alt="yacht02">
            <div class="caption">
              <h4>Hoifai</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 cell">
        <div class="thumbnail">
          <a href="#">
            <img src="/img/yacht03.jpg" alt="yacht03">
            <div class="caption">
              <h4>Yacht</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 cell">
        <div class="thumbnail">
          <a href="#">
            <img src="/img/yacht02.jpg" alt="yacht01">
            <div class="caption">
              <h4>Rainbow</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 cell">
        <div class="thumbnail">
          <a href="#">
            <img src="/img/yacht03.jpg" alt="yacht02">
            <div class="caption">
              <h4>Hoifai</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 cell">
        <div class="thumbnail">
          <a href="#">
            <img src="/img/yacht01.jpg" alt="yacht03">
            <div class="caption">
              <h4>Yacht</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 cell">
        <div class="thumbnail">
          <a href="#">
            <img src="/img/yacht03.jpg" alt="yacht03">
            <div class="caption">
              <h4>海钓</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 cell">
        <div class="thumbnail">
          <a href="#">
            <img src="/img/yacht01.jpg" alt="yacht03">
            <div class="caption">
              <h4>滑水</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 cell">
        <div class="thumbnail">
          <a href="#">
            <img src="/img/yacht02.jpg" alt="yacht03">
            <div class="caption">
              <h4>浮潜</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <nav class="container">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

{% include './footer.html' %}

{% endblock %}