{% import './macros/boat.html' as boat %}
{% import './macros/pager.html' as pagerView %}

{% extends './layout.html' %}

{% block content %}

{% include './nav.html' with {view_active:'boat'} %}

<div class="container columns-sm">
  <ol class="breadcrumb">
    <li><a href="/">{{ __('nav.home') }}</a></li>
    <li class="active">{{ __('nav.boat') }}</li>
  </ol>
  <div class="page-header">
    <h3>{{ __('common.filter') }}</h3>
  </div>
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.city') }}</label>
    </div>
    <div class="col-md-10">
      <a href="/boat/all/all/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.location == 'all' %}btn-primary{% else %}btn-default{% endif %}">{{ __('common.all') }}</a>
      <a href="/boat/hk/all/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.location == 'hk' %}btn-primary{% else %}btn-default{% endif %}">{{ __('db.location.city.hk') }}</a>
      <a href="/boat/sz/all/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.location == 'sz' %}btn-primary{% else %}btn-default{% endif %}">{{ __('db.location.city.sz') }}</a>
      <a href="/boat/hz/all/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.location == 'hz' %}btn-primary{% else %}btn-default{% endif %}">{{ __('db.location.city.hz') }}</a>
      <a href="/boat/sy/all/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.location == 'sy' %}btn-primary{% else %}btn-default{% endif %}">{{ __('db.location.city.sy') }}</a>
    </div>
  </div>
  {% if params.location != 'all' %}
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.district') }}</label>
    </div>
    {% if params.location == 'hk' %}
    <div class="col-md-10">
      <a href="/boat/hk/all/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.district == 'all' %}btn-primary{% else %}btn-default{% endif %}">{{ __('common.all') }}</a>
      <a href="/boat/hk/hk_saikung/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.district == 'hk_saikung' %}btn-primary{% else %}btn-default{% endif %}">{{ __('db.location.district.hk_saikung') }}</a>
    </div>
    {% endif %}
    {% if params.location == 'sz' %}
    <div class="col-md-10">
      <a href="/boat/sz/all/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.district == 'all' %}btn-primary{% else %}btn-default{% endif %}">{{ __('common.all') }}</a>
      <a href="/boat/sz/sz_nanao/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.district == 'sz_nanao' %}btn-primary{% else %}btn-default{% endif %}">{{ __('db.location.district.sz_nanao') }}</a>
      <a href="/boat/sz/sz_shekou/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.district == 'sz_shekou' %}btn-primary{% else %}btn-default{% endif %}">{{ __('db.location.district.sz_shekou') }}</a>
      <a href="/boat/sz/sz_dms/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.district == 'sz_dms' %}btn-primary{% else %}btn-default{% endif %}">{{ __('db.location.district.sz_dms') }}</a>
    </div>
    {% endif %}
    {% if params.location == 'sy' %}
    <div class="col-md-10">
      <a href="/boat/sy/all/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.district == 'all' %}btn-primary{% else %}btn-default{% endif %}">{{ __('common.all') }}</a>
      <a href="/boat/sy/sy_ddh/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.district == 'sy_ddh' %}btn-primary{% else %}btn-default{% endif %}">{{ __('db.location.district.sy_ddh') }}</a>
    </div>
    {% endif %}
    {% if params.location == 'hz' %}
    <div class="col-md-10">
      <a href="/boat/hz/all/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.district == 'all' %}btn-primary{% else %}btn-default{% endif %}">{{ __('common.all') }}</a>
      <a href="/boat/hz/hz_xlw/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.district == 'hz_xlw' %}btn-primary{% else %}btn-default{% endif %}">{{ __('db.location.district.hz_xlw') }}</a>
    </div>
    {% endif %}
  </div>
  {% endif %}
  {% if false %}
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.price_range') }}</label>
    </div>
    <div class="col-md-3">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if params.price == 'all' %}{{ __('common.unlimited') }}{% else %}￥{{ params.price }}{% endif %} <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-justified disabled">
            <li><a href="/boat/{{ params.location }}/{{ params.district }}/all/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}">{{ __('common.unlimited') }}</a></li>
            <li><a href="/boat/{{ params.location }}/{{ params.district }}/0-1000/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}">￥1000以下</a></li>
            <li><a href="/boat/{{ params.location }}/{{ params.district }}/1000-5000/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}">￥1000-5000</a></li>
            <li><a href="/boat/{{ params.location }}/{{ params.district }}/5000-10000/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}">￥5000-10000</a></li>
            <li><a href="/boat/{{ params.location }}/{{ params.district }}/10000-15000/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}">￥10000-15000</a></li>
            <li><a href="/boat/{{ params.location }}/{{ params.district }}/15000-20000/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}">￥15000-20000</a></li>
            <li><a href="/boat/{{ params.location }}/{{ params.district }}/20000/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}">￥20000以上</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.number_of_people') }}</label>
    </div>
    <div class="col-md-2">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if params.capacity == 'all' %}{{ __('common.unlimited') }}{% else %}{{ params.capacity }}{% endif %} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-justified disabled">
            <li><a href="/boat/{{ params.location }}/{{ params.district }}/{{ params.price }}/all/{{ params.entertainments }}/{{ params.extras }}">{{ __('common.unlimited') }}</a></li>
            <li><a href="/boat/{{ params.location }}/{{ params.district }}/{{ params.price }}/1-10/{{ params.entertainments }}/{{ params.extras }}">1-10</a></li>
            <li><a href="/boat/{{ params.location }}/{{ params.district }}/{{ params.price }}/10-20/{{ params.entertainments }}/{{ params.extras }}">10-20</a></li>
            <li><a href="/boat/{{ params.location }}/{{ params.district }}/{{ params.price }}/20-30/{{ params.entertainments }}/{{ params.extras }}">20-30</a></li>
            <li><a href="/boat/{{ params.location }}/{{ params.district }}/{{ params.price }}/30-40/{{ params.entertainments }}/{{ params.extras }}">30-40</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.entertainments') }}</label>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      {{ boat.etmItem(params, 'sightseeing', __('db.boat.etm.sightseeing')) }}
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      {{ boat.etmItem(params, 'fishing', __('db.boat.etm.fishing')) }}
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      {{ boat.etmItem(params, 'cruise', __('db.boat.etm.cruise')) }}
    </div>
    {% if false %}
    <div class="col-md-2 col-sm-4 col-xs-6">
      {{ boat.etmItem(params, 'ktv', __('db.boat.etm.ktv')) }}
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      {{ boat.etmItem(params, 'wakeboard', __('db.boat.etm.wakeboard')) }}
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      {{ boat.etmItem(params, 'bananaboat', __('db.boat.etm.bananaboat')) }}
    </div>
    {% endif %}
  </div>
  {% if false %}
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.extra') }}</label>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      {{ boat.extrasItem(params, 'launch', __('db.boat.extras.launch')) }}
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      {{ boat.extrasItem(params, 'bbq', __('db.boat.extras.bbq')) }}
    </div>
  </div>
  {% endif %}
  <hr class="hr-divider">
  <h4>{{ __n('boat.list.find %d boat', 'boat.list.find %d boat', itemCount) }}</h4>
  <div class="row">
    {% for boat in boats %}
    <div class="col-md-4 col-sm-6 cell">
      <div class="thumbnail">
        <a href="/boat/{{ boat.id }}/{{ boat.name }}">
          <div class="boat-thumbnail" style="background-image: url({{ boat.thumbnail }})">
            <div class="boat-basecharge">
              <h4>{{ boat.name }}</h4>
              <h4 class="text-danger">
              {{ __('boat.detail.from %s', preset.generateCharge(boat.baseCharge, boat.currency)) }}
              {% if boat.baseUnit %}
              /<small class="boat-unit">{{ boat.baseAmount }}{{ __(boat.baseUnit)}}</small>
              {% endif %}
              </h4>
            </div>
          </div>
          <div class="caption text-muted">
            <span>{{ __(boat.location.city) }} - {{ __(boat.type) }}</span>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {{ pagerView.create(pager) }}
</div>

{% include './footer.html' %}

{% endblock %}