{% import './macros/boat.html' as boat %}
{% import './macros/pager.html' as pagerView %}

{% extends './layout.html' %}

{% block content %}

{% include './nav.html' with {view_active:'boat'} %}

<div class="container">
  <hr class="hr-divider">
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.location') }}</label>
    </div>
    <div class="col-md-6">
      <div class="btn-group btn-group-justified">
        <a href="/boat/all/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.location == 'all' %}btn-primary{% else %}btn-default{% endif %}">{{ __('common.all') }}</a>
        <a href="/boat/sz/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.location == 'sz' %}btn-primary{% else %}btn-default{% endif %}">{{ __('db.location.city.sz') }}</a>
        <a href="/boat/hk/{{ params.price }}/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}" class="btn {% if params.location == 'hk' %}btn-primary{% else %}btn-default{% endif %}">{{ __('db.location.city.hk') }}</a>
      </div>
    </div>
  </div>
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.price_range') }}</label>
    </div>
    <div class="col-md-3">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if params.price == 'all' %}{{ __('common.unlimited') }}{% else %}￥{{ params.price }}{% endif %} <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-justified disabled">
            <li><a href="/boat/{{ params.location }}/all/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}">{{ __('common.unlimited') }}</a></li>
            <li><a href="/boat/{{ params.location }}/5000-10000/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}">￥5000-10000</a></li>
            <li><a href="/boat/{{ params.location }}/10000-15000/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}">￥10000-15000</a></li>
            <li><a href="/boat/{{ params.location }}/15000-20000/{{ params.capacity }}/{{ params.entertainments }}/{{ params.extras }}">￥15000-20000</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.number_of_people') }}</label>
    </div>
    <div class="col-md-2">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if params.capacity == 'all' %}{{ __('common.unlimited') }}{% else %}{{ params.capacity }}{% endif %} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-justified disabled">
            <li><a href="/boat/{{ params.location }}/{{ params.price }}/all/{{ params.entertainments }}/{{ params.extras }}">{{ __('common.unlimited') }}</a></li>
            <li><a href="/boat/{{ params.location }}/{{ params.price }}/1-10/{{ params.entertainments }}/{{ params.extras }}">1-10</a></li>
            <li><a href="/boat/{{ params.location }}/{{ params.price }}/10-20/{{ params.entertainments }}/{{ params.extras }}">10-20</a></li>
            <li><a href="/boat/{{ params.location }}/{{ params.price }}/20-30/{{ params.entertainments }}/{{ params.extras }}">20-30</a></li>
            <li><a href="/boat/{{ params.location }}/{{ params.price }}/30-40/{{ params.entertainments }}/{{ params.extras }}">30-40</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.entertainments') }}</label>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4">
      {{ boat.etmItem(params, 'ktv', __('db.boat.etm.ktv')) }}
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4">
      {{ boat.etmItem(params, 'wakeboard', __('db.boat.etm.wakeboard')) }}
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4">
      {{ boat.etmItem(params, 'bananaboat', __('db.boat.etm.bananaboat')) }}
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4">
      {{ boat.etmItem(params, 'speedboat', __('db.boat.etm.speedboat')) }}
    </div>
  </div>
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('common.extra') }}</label>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4">
      {{ boat.extrasItem(params, 'launch', __('db.boat.extras.launch')) }}
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4">
      {{ boat.extrasItem(params, 'bbq', __('db.boat.extras.bbq')) }}
    </div>
  </div>
  <hr class="hr-divider">
</div>
<div class="jumbotron columns">
  <div class="container">
    <h3>{{ __n('boat.list.find %d boat', 'boat.list.find %d boat', itemCount) }}</h3>
    <div class="row">
      {% for boat in boats %}
      <div class="col-md-4 col-sm-6 cell">
        <div class="thumbnail">
          <a href="/boat/{{ code(boat._id.valueOf()) }}/{{ boat.name }}">
            <img src="{{ boat.photos[0] }}" alt="yacht01">
            <div class="caption">
              <h4>{{ boat.name }}</h4>
              <p>{{ __(boat.location.city) }}</p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {{ pagerView.create(pager, preset) }}
  <!--<nav class="container">-->
    <!--<ul class="pagination">-->
      <!--<li>-->
        <!--<a href="#" aria-label="Previous">-->
          <!--<span aria-hidden="true">&laquo;</span>-->
        <!--</a>-->
      <!--</li>-->
      <!--{% for i in pager.pages %}-->
      <!--<li><a href="#">{{ i.page }}</a></li>-->
      <!--{% endfor %}-->
      <!--<li>-->
        <!--<a href="#" aria-label="Next">-->
          <!--<span aria-hidden="true">&raquo;</span>-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</nav>-->
</div>

{% include './footer.html' %}

{% endblock %}