{% extends './layout.html' %}

{% block content %}

{% include './nav.html' %}

<div class="embed-responsive embed-responsive-8by3">
  <img class="embed-responsive-item" src="/img/bg_yacht2.jpg">
</div>
<div class="container boat-info">
  <h2>{{ id }}</h2>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <p><span class="glyphicon glyphicon-map-marker"></span> 香港 西贡码头</p>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <p><span class="glyphicon glyphicon-tag"></span> 西式游艇
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="glyphicon glyphicon-asterisk"></span> 载客人数：50</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <p><span class="glyphicon glyphicon-user"></span> Mr.Shek</p>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <a href="#products" class="btn btn-primary">立即预定(￥8000起)</a>
    </div>
  </div>
</div>
<div class="jumbotron columns">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>关于此船只</h3>
        <p>在西貢十分搶眼的西式遊艇，提供一流的服務。</p>
        <h3>附属设备</h3>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <ul class="list-layout">
              <li><span class="glyphicon glyphicon-check"></span> 空调</li>
              <li><span class="glyphicon glyphicon-check"></span> 卡拉OK</li>
              <li><span class="glyphicon glyphicon-check"></span> 快艇</li>
              <li><span class="glyphicon glyphicon-check"></span> 香蕉船</li>
              <li><span class="glyphicon glyphicon-check"></span> 飞碟</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <ul class="list-layout">
              <li><span class="glyphicon glyphicon-check"></span> 厨房</li>
              <li><span class="glyphicon glyphicon-check"></span> BBQ</li>
              <li><span class="glyphicon glyphicon-check"></span> 冰箱</li>
              <li><span class="glyphicon glyphicon-check"></span> 麻将</li>
              <li><span class="glyphicon glyphicon-check"></span> 扑克</li>
            </ul>
          </div>
        </div>
        <h3 id="products">可预定项目</h3>
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active"><a href="#product1" role="tab" data-toggle="tab">日间船河 (￥8000起)</a></li>
          <li role="presentation"><a href="#product2" role="tab" data-toggle="tab">夜钓墨鱼 (￥4000起)</a></li>
          <li role="presentation"><a href="#product3" role="tab" data-toggle="tab">夜游维港 (￥3000起)</a></li>
        </ul>
        <hr class="hr-divider">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="product1">
            <div class="navbar-fixed-bottom fix-container">
              <div class="container">
                <div class="row">
                  <div class="col-lg-2 col-lg-offset-8 col-md-2 col-md-offset-8 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                    <a class="btn btn-danger btn-block">预定</a>
                  </div>
                </div>
              </div>
            </div>
            <h4>基本信息：</h4>
            <dl class="dl-horizontal">
              <dt><span class="glyphicon glyphicon-time"></span> 游玩时间</dt>
              <dd>8 小时</dd>
              <dt><span class="glyphicon glyphicon-dashboard"></span> 可选时间段</dt>
              <dd>9:00 - 18:00</dd>
            </dl>
            <h4>项目介绍：</h4>
            <img class="img-responsive" src="http://goseatrip.com/EditorV8/UploadUser/2015523203049417.jpg">
            <p>蓝天白云、水清沙幼…这样的景色不只在马尔代夫找到，香港也有这样的一个美景—浪茄湾。由于这儿海浪侵蚀力量较弱，细小的沙粒便沉积于此；加上这儿位处偏僻，一直并未受人类污染，所以这里真是可以媲美菲济群岛！西贡浪茄沙滩沙幼水清，四周风光如画，是都市人抛开一切烦忧，洗涤心灵的好地方。海风轻吹，令人心旷神怡。浪茄湾获由香港郊野公园之友会、国际狮子总会港澳三0三区及渔农自然护理署举办，“香港十大胜景选举”第五名。</p>
            <img class="img-responsive" src="http://goseatrip.com/EditorV8/UploadUser/2015523203049417.jpg">
            <p>蓝天白云、水清沙幼…这样的景色不只在马尔代夫找到，香港也有这样的一个美景—浪茄湾。由于这儿海浪侵蚀力量较弱，细小的沙粒便沉积于此；加上这儿位处偏僻，一直并未受人类污染，所以这里真是可以媲美菲济群岛！西贡浪茄沙滩沙幼水清，四周风光如画，是都市人抛开一切烦忧，洗涤心灵的好地方。海风轻吹，令人心旷神怡。浪茄湾获由香港郊野公园之友会、国际狮子总会港澳三0三区及渔农自然护理署举办，“香港十大胜景选举”第五名。</p>
            <img class="img-responsive" src="http://goseatrip.com/EditorV8/UploadUser/2015523203049417.jpg">
            <p>蓝天白云、水清沙幼…这样的景色不只在马尔代夫找到，香港也有这样的一个美景—浪茄湾。由于这儿海浪侵蚀力量较弱，细小的沙粒便沉积于此；加上这儿位处偏僻，一直并未受人类污染，所以这里真是可以媲美菲济群岛！西贡浪茄沙滩沙幼水清，四周风光如画，是都市人抛开一切烦忧，洗涤心灵的好地方。海风轻吹，令人心旷神怡。浪茄湾获由香港郊野公园之友会、国际狮子总会港澳三0三区及渔农自然护理署举办，“香港十大胜景选举”第五名。</p>
          </div>
          <div role="tabpanel" class="tab-pane" id="product2">
            <div class="navbar-fixed-bottom fix-container">
              <div class="container">
                <div class="row">
                  <div class="col-lg-2 col-lg-offset-8 col-md-2 col-md-offset-8 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                    <a class="btn btn-danger btn-block">预定</a>
                  </div>
                </div>
              </div>
            </div>
            <h4>基本信息：</h4>
            <dl class="dl-horizontal">
              <dt><span class="glyphicon glyphicon-time"></span> 游玩时间</dt>
              <dd>4 小时</dd>
              <dt><span class="glyphicon glyphicon-dashboard"></span> 可选时间段</dt>
              <dd>19:00 - 23:00</dd>
            </dl>
            <h4>项目介绍：</h4>
            <img class="img-responsive" src="http://goseatrip.com/EditorV8/UploadUser/2015523203058297.jpg">
            <p>蓝天白云、水清沙幼…这样的景色不只在马尔代夫找到，香港也有这样的一个美景—浪茄湾。由于这儿海浪侵蚀力量较弱，细小的沙粒便沉积于此；加上这儿位处偏僻，一直并未受人类污染，所以这里真是可以媲美菲济群岛！西贡浪茄沙滩沙幼水清，四周风光如画，是都市人抛开一切烦忧，洗涤心灵的好地方。海风轻吹，令人心旷神怡。浪茄湾获由香港郊野公园之友会、国际狮子总会港澳三0三区及渔农自然护理署举办，“香港十大胜景选举”第五名。</p>
            <img class="img-responsive" src="http://goseatrip.com/EditorV8/UploadUser/2015523203058297.jpg">
            <p>蓝天白云、水清沙幼…这样的景色不只在马尔代夫找到，香港也有这样的一个美景—浪茄湾。由于这儿海浪侵蚀力量较弱，细小的沙粒便沉积于此；加上这儿位处偏僻，一直并未受人类污染，所以这里真是可以媲美菲济群岛！西贡浪茄沙滩沙幼水清，四周风光如画，是都市人抛开一切烦忧，洗涤心灵的好地方。海风轻吹，令人心旷神怡。浪茄湾获由香港郊野公园之友会、国际狮子总会港澳三0三区及渔农自然护理署举办，“香港十大胜景选举”第五名。</p>
            <img class="img-responsive" src="http://goseatrip.com/EditorV8/UploadUser/2015523203058297.jpg">
            <p>蓝天白云、水清沙幼…这样的景色不只在马尔代夫找到，香港也有这样的一个美景—浪茄湾。由于这儿海浪侵蚀力量较弱，细小的沙粒便沉积于此；加上这儿位处偏僻，一直并未受人类污染，所以这里真是可以媲美菲济群岛！西贡浪茄沙滩沙幼水清，四周风光如画，是都市人抛开一切烦忧，洗涤心灵的好地方。海风轻吹，令人心旷神怡。浪茄湾获由香港郊野公园之友会、国际狮子总会港澳三0三区及渔农自然护理署举办，“香港十大胜景选举”第五名。</p>
            <img class="img-responsive" src="http://goseatrip.com/EditorV8/UploadUser/2015523203058297.jpg">
            <p>蓝天白云、水清沙幼…这样的景色不只在马尔代夫找到，香港也有这样的一个美景—浪茄湾。由于这儿海浪侵蚀力量较弱，细小的沙粒便沉积于此；加上这儿位处偏僻，一直并未受人类污染，所以这里真是可以媲美菲济群岛！西贡浪茄沙滩沙幼水清，四周风光如画，是都市人抛开一切烦忧，洗涤心灵的好地方。海风轻吹，令人心旷神怡。浪茄湾获由香港郊野公园之友会、国际狮子总会港澳三0三区及渔农自然护理署举办，“香港十大胜景选举”第五名。</p>
          </div>
          <div role="tabpanel" class="tab-pane" id="product3">
            <div class="navbar-fixed-bottom fix-container">
              <div class="container">
                <div class="row">
                  <div class="col-lg-2 col-lg-offset-8 col-md-2 col-md-offset-8 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                    <a class="btn btn-danger btn-block">预定</a>
                  </div>
                </div>
              </div>
            </div>
            <h4>基本信息：</h4>
            <dl class="dl-horizontal">
              <dt><span class="glyphicon glyphicon-time"></span> 游玩时间</dt>
              <dd>3 小时</dd>
              <dt><span class="glyphicon glyphicon-dashboard"></span> 可选时间段</dt>
              <dd>17:00 - 23:00</dd>
            </dl>
            <h4>项目介绍：</h4>
            <img class="img-responsive" src="http://goseatrip.com/EditorV8/UploadUser/2015523203136942.jpg">
            <p>蓝天白云、水清沙幼…这样的景色不只在马尔代夫找到，香港也有这样的一个美景—浪茄湾。由于这儿海浪侵蚀力量较弱，细小的沙粒便沉积于此；加上这儿位处偏僻，一直并未受人类污染，所以这里真是可以媲美菲济群岛！西贡浪茄沙滩沙幼水清，四周风光如画，是都市人抛开一切烦忧，洗涤心灵的好地方。海风轻吹，令人心旷神怡。浪茄湾获由香港郊野公园之友会、国际狮子总会港澳三0三区及渔农自然护理署举办，“香港十大胜景选举”第五名。</p>
            <img class="img-responsive" src="http://goseatrip.com/EditorV8/UploadUser/2015523203136942.jpg">
            <p>蓝天白云、水清沙幼…这样的景色不只在马尔代夫找到，香港也有这样的一个美景—浪茄湾。由于这儿海浪侵蚀力量较弱，细小的沙粒便沉积于此；加上这儿位处偏僻，一直并未受人类污染，所以这里真是可以媲美菲济群岛！西贡浪茄沙滩沙幼水清，四周风光如画，是都市人抛开一切烦忧，洗涤心灵的好地方。海风轻吹，令人心旷神怡。浪茄湾获由香港郊野公园之友会、国际狮子总会港澳三0三区及渔农自然护理署举办，“香港十大胜景选举”第五名。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include './footer.html' %}

{% endblock %}

{% block foot %}

<script>
  (function($, w) {
    $.fn.hadScrollToEl = function () {
      var win = $(w);
      var viewport = {
        top: win.scrollTop(),
      };
      viewport.bottom = viewport.top + win.height();

      var bounds = this.offset();
      bounds.bottom = bounds.top + this.outerHeight();

      return !(viewport.bottom < bounds.top);
    };

    $(w).scroll(function () {
      if ($('.tab-content').hadScrollToEl()) {
        $('.fix-container').show();
      } else {
        $('.fix-container').hide();
      }
    });
  })(jQuery, window);

</script>

{% endblock %}