{% extends './layout.html' %}

{% block content %}

{% include './nav.html' with {absolute: true} %}

<div id="hyf-carousel-index" class="carousel slide index-slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    {% for photo in boat.photos %}
    <div class="item index-slide-item {% if loop.first %}active{% endif %}" style="background-image: url({{ photo }})">
    </div>
    {% endfor %}
  </div>
</div>
<div class="boat-detail columns-sm">
  <div class="container">
    <h2>{{ boat.name }}</h2>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <span class="glyphicon glyphicon-map-marker"></span> {{ __(boat.location.city) }} - {{ __(boat.location.pier) }}
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="glyphicon glyphicon-tag"></span> {{ __(boat.type) }}
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="glyphicon glyphicon-asterisk"></span> {{ __('common.capacity') }}：{{ boat.capacity }}
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <span class="glyphicon glyphicon-user"></span> {{ boat.owner.nickname }}
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <a href="#products" class="btn btn-danger">{{ __('boat.detail.instant_book') }}({{ __('boat.detail.from %s', '$' + boat.baseCharge) }})</a>
      </div>
    </div>
    <hr class="hr-divider">
    <h3>{{ __('boat.detail.about') }}</h3>
    <p>{{ boat.description }}</p>
    <h4>{{ __('boat.detail.facilities') }}</h4>
    <div class="row">
      {% for item in boat.baseFacilities %}
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <span class="glyphicon glyphicon-check"></span> {{ __(item) }}
      </div>
      {% endfor %}
    </div>
    <h4>{{ __('boat.detail.entertainments') }}</h4>
    <div class="row">
      {% for item in boat.entertainments %}
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <span class="glyphicon glyphicon-check"></span> {{ __(item) }}
      </div>
      {% endfor %}
    </div>
    <h4>{{ __('boat.detail.extras') }}</h4>
    <div class="row">
      {% for item in boat.extras %}
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <span class="glyphicon glyphicon-check"></span> {{ __(item) }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="columns-sm columns-gray">
  <div class="container">
    <h3 id="products">{{ __('boat.detail.products') }}</h3>
    <div class="row">
      {% for product in boat.products %}
      <div class="boat-product col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="thumbnail">
          <a href="/product/{{ code(product._id.valueOf()) }}/{{ product.name }}/{{ code(boat._id.valueOf()) }}/{{ boat.name }}">
            <div class="boat-thumbnail" style="background-image: url({{ preset.imgHost }}{{ product.photo }})"></div>
            <div class="caption text-muted">
              <h4>{{ product.name }}</h4>
              <p>{{ product.summary }}</p>
              <div class="row">
                <h3 class="col-xs-6 text-danger">￥{{ product.baseCharge }}</h3>
                <p class="col-xs-6 text-right boat-product-learn">了解详情 <span class="glyphicon glyphicon-menu-right"></span></p>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include './footer.html' %}

{% endblock %}