{% extends './layout.html' %}

{% block head %}

<link rel="stylesheet" href="//cdn.bootcss.com/fullcalendar/2.4.0/fullcalendar.min.css">

{% endblock %}

{% block content %}

{% include './nav.html' %}

<div class="container boat-info">
  <div class="page-header">
    <h1>预定信息</h1>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">船只信息</div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt><span class="glyphicon glyphicon-pushpin"></span> 预定船只</dt>
        <dd>rainbow</dd>
        <dt><span class="glyphicon glyphicon-user"></span> 船东</dt>
        <dd>Mr.Shek</dd>
        <dt><span class="glyphicon glyphicon-map-marker"></span> 地点</dt>
        <dd>香港 西贡码头</dd>
        <dt><span class="glyphicon glyphicon-tag"></span> 类型</dt>
        <dd>西式游艇</dd>
        <dt><span class="glyphicon glyphicon-asterisk"></span> 载客人数</dt>
        <dd>50</dd>
      </dl>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">产品信息</div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt><span class="glyphicon glyphicon-pushpin"></span> 预定产品</dt>
        <dd>日间船河</dd>
        <dt><span class="glyphicon glyphicon-time"></span> 游玩时间</dt>
        <dd>8 小时</dd>
        <dt><span class="glyphicon glyphicon-dashboard"></span> 可选时间段</dt>
        <dd>9:00 - 18:00</dd>
      </dl>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">选择时间</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
          <div id="calendar"></div>
          <ul class="list-group">
            <li class="list-group-item">
              <label>开始时间</label>
              <p id="selectedTime-start"></p>
            </li>
            <li class="list-group-item">
              <label>结束时间</label>
              <p id="selectedTime-end"></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">人数</div>
    <div class="panel-body">
      <input type="number" class="form-control" placeholder="出游人数" max="50" min="1" value="35">
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">套餐</div>
    <div class="panel-body">
      <h4>套餐信息</h4>
      <strong>套餐A (￥8000)</strong>
      <p>
        包含25人的午餐以及水上活动, 25人之后每位$200<br><br>
        水上活动：滑水、香蕉船<br><br>
        午餐 － 25人基本，餐单如下：<br><br>
        水蟹粥<br>
        白灼虾<br>
        。。。<br>
      </p>
      <strong>额外项目</strong>
      <p>
        额外人员￥200/位<br>
        水上飞行￥2000<br>
        。。。<br>
      </p>
      <h4>套餐选项</h4>
      <ul class="list-group list-table">
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><strong>选择</strong></div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-5">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7"><strong>项目</strong></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 text-right"><strong>数量</strong></div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-right"><strong>价格</strong></div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="btn-group btn-group-sm" data-toggle="buttons">
                <label class="btn btn-default disabled">
                  <span class="glyphicon glyphicon-ok"></span>
                  <input type="checkbox" autocomplete="off" value="option1">
                </label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-5">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6"><strong>套餐A ￥8000</strong></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-right"><strong>x1</strong></div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-right">
              <strong>￥8000.00</strong>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="btn-group btn-group-sm" data-toggle="buttons">
                <label class="btn btn-default disabled">
                  <span class="glyphicon glyphicon-ok"></span>
                  <input type="checkbox" autocomplete="off" value="option1">
                </label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-5">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6"><strong>额外人员 ￥200</strong></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-right"><strong>x10</strong></div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-right">
              <strong>￥2000.00</strong>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="btn-group btn-group-sm checkboxs" data-toggle="buttons">
                <label class="btn btn-default active">
                  <span class="glyphicon glyphicon-ok"></span>
                  <input type="checkbox" autocomplete="off" value="option1">
                </label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-5">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6"><strong>水上飞行 ￥2000</strong></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-right"><strong>x1</strong></div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-right">
              <strong>￥2000.00</strong>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="btn-group btn-group-sm checkboxs" data-toggle="buttons">
                <label class="btn btn-default">
                  <span class="glyphicon glyphicon-unchecked"></span>
                  <input type="checkbox" autocomplete="off" value="option1">
                </label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-5">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6"><strong>啤酒 ￥20</strong></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-right">
                  <input type="number" class="form-control input-small" placeholder="0" max="50" min="0">
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-right">
              <strong>￥0.00</strong>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-7 text-right">
              <h4>合计</h4>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-right">
              <h4>￥14000.00</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">联系信息</div>
    <div class="panel-body">
      <label>联系人</label>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </span>
        <input type="text" class="form-control" placeholder="请输入联系人姓名">
      </div>
      <label>手机号码</label>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-phone"></span>
        </span>
        <input type="text" class="form-control" placeholder="请输入联系人手机号码">
      </div>
      <label>电子邮箱</label>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span>
        </span>
        <input type="text" class="form-control" placeholder="请输入联系人邮箱地址">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-lg-offset-10 col-md-2 col-md-offset-10 col-sm-4 col-sm-offset-8 col-xs-6 col-xs-offset-6">
      <a href="#" class="btn btn-danger btn-block">{{ __('booking.submit') }}</a>
    </div>
  </div>
</div>
{% include './footer.html' %}

{% endblock %}

{% block foot %}

<script src="//cdn.bootcss.com/moment.js/2.10.6/moment.min.js"></script>
<script src="//cdn.bootcss.com/fullcalendar/2.4.0/fullcalendar.min.js"></script>
<script src="//cdn.bootcss.com/fullcalendar/2.4.0/lang/zh-cn.js"></script>
<script>
  var selectedStart = false;

  function setSelectedTime(start, end){
    var tempEnd = end || moment(start);
    if(!end){
      tempEnd.hour(start.hour() + 1);
    }

    $("#selectedTime-start").html(start.format("YYYY年MM月DD日 a h:mm"));
    $("#selectedTime-end").html(tempEnd.format("YYYY年MM月DD日 a h:mm"));
  }

  $("#calendar").fullCalendar({
    contentHeight: "auto",
    timezone: "local",
    lang: "zh-CN",
    header: {
      left: "title",
      right: "today,month,prev,next"
    },
    eventLimit: 3,
    eventLimitClick: "agendaDay",
    minTime: "09:00:00",
    maxTime: "18:00:00",
    slotDuration: "01:00:00",
    selectable: true,
    selectOverlap: false,
    unselectAuto: false,
    viewRender: function(view, element){
      $(".fc-toolbar .fc-button").addClass("btn btn-default btn-lg").removeClass("fc-state-default");
      $(".fc-toolbar .fc-button-group").addClass("btn-group");
      $(".fc-prev-button").html('<span class="glyphicon glyphicon-menu-left"></span>');
      $(".fc-next-button").html('<span class="glyphicon glyphicon-menu-right"></span>');
    },
    dayClick: function(date, jsEvent, view){
      if(view.name == "agendaDay"){
        return;
      }

      $("#calendar").fullCalendar("gotoDate", date);
      $("#calendar").fullCalendar("changeView", "agendaDay");
    },
    eventClick: function(calEvent, jsEvent, view){
      if(view.name == "agendaDay"){
        return;
      }

      $("#calendar").fullCalendar("gotoDate", calEvent.start);
      $("#calendar").fullCalendar("changeView", "agendaDay");
    },
    select: function(start, end, jsEvent, view){
      if(view.name == "month"){
        return;
      }

      if(start < moment()){
        alert("此时间已不可预定。");
        return false;
      }

      if(!selectedStart){
        selectedStart = start;
        setSelectedTime(selectedStart);
      }else{
        if(selectedStart < start){
          var end = moment(start);
          end.hour(end.hour() + 1);

          //get events between selections
          var clientEvents = $("#calendar").fullCalendar("clientEvents", function(e){
            var eventEnd = e.end || e.start;
            return !e.allDay && e.start > selectedStart && (e.start < end);
          });

          if(clientEvents && clientEvents.length > 0) {
            selectedStart = start;
            setSelectedTime(selectedStart);
            return true;
          }

          $("#calendar").fullCalendar("select", selectedStart, end);
          setSelectedTime(selectedStart, end);
          selectedStart = false;
        }else{
          selectedStart = start;
          setSelectedTime(selectedStart);
        }
      }
    },
    events:[
      {
        title: "已预定",
        start: "2015-10-14T13:00",
        end: "2015-10-14T14:00",
        allDay: false
      },
      {
        title: "已预定",
        start: "2015-10-14T15:00",
        end: "2015-10-14T16:00",
        allDay: false
      },
      {
        title: "已预定",
        start: "2015-10-14T16:00",
        end: "2015-10-14T17:00",
        allDay: false
      },
      {
        title: "已预定",
        start: "2015-10-14T10:00",
        end: "2015-10-14T11:00",
        allDay: false
      },
      {
        title: "国庆",
        start: new Date(2015, 9, 1),
        allDay: true,
        backgroundColor: "#d43f3a",
        borderColor: "#d43f3a"
      }
    ]
  });

  $('.checkboxs .btn').click(function(){
    if($(this).hasClass('active')){
      $(this).find('.glyphicon').removeClass('glyphicon-ok').addClass('glyphicon-unchecked');
    }else {
      $(this).find('.glyphicon').removeClass('glyphicon-unchecked').addClass('glyphicon-ok');
    }
  });
</script>
{% endblock %}