{% import './macros/pager.html' as pagerView %}

{% extends './layout.html' %}

{% block content %}

{% include './nav.html' with {view_active:'event'} %}
<div class="columns-sm container">
  <ol class="breadcrumb">
    <li><a href="/">{{ __('nav.home') }}</a></li>
    <li class="active">{{ __('nav.event') }}</li>
  </ol>
  <div class="page-header">
    <h3>{{ __('common.filter') }}</h3>
  </div>
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('event.type') }}</label>
    </div>
    <div class="col-md-4">
      <div class="btn-group btn-group-justified">
        <a href="/event/list?type=all&status={{ query.status }}" class="btn {% if query.type == 'all' %}btn-primary{% else %}btn-default{% endif %}">{{ __('event.all') }}</a>
        <a href="/event/list?type=free&status={{ query.status }}" class="btn {% if query.type == 'free' %}btn-primary{% else %}btn-default{% endif %}">{{ __('event.free') }}</a>
      </div>
    </div>
  </div>
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('event.status') }}</label>
    </div>
    <div class="col-md-4">
      <div class="btn-group btn-group-justified">
        <a href="/event/list?type={{ query.type }}&status=all" class="btn {% if query.status == 'all' %}btn-primary{% else %}btn-default{% endif %}">{{ __('event.all') }}</a>
        <a href="/event/list?type={{ query.type }}&status=ongoing" class="btn {% if query.status == 'ongoing' %}btn-primary{% else %}btn-default{% endif %}">{{ __('event.ongoing_item') }}</a>
      </div>
    </div>
  </div>
  <hr class="hr-divider">
</div>
<div class="columns columns-gray">
  <div class="event-list container">
    {% for event in events %}
    <div class="thumbnail">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <a href="/event/{{ event.id }}"><img class="img-responsive" src="{{ event.thumbnail }}" alt="thumbnail"></a>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 event-info">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12"><h3>{{ event.title }}</h3></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h3 class="text-danger text-right hidden-xs">{{ preset.generateCharge(event.baseCharge, event.currency) }}</h3>
              <h3 class="text-danger visible-xs">{{ preset.generateCharge(event.baseCharge, event.currency) }}</h3>
            </div>
          </div>
          <div>
            <span class="glyphicon glyphicon-map-marker"></span> {{ __(event.location.city) }}{% if event.location.pier %} - {{ __(event.location.pier) }}{% endif %}
          </div>
          <div>
            <span class="glyphicon glyphicon-user"></span> <label>{{ __('event.organiser') }}</label>: {{ event.organiser.nickname }}
          </div>
          <div>
            <span class="glyphicon glyphicon-asterisk"></span> <label>{{ __('product.booking.numberOfPeople') }}</label>: {% if event.maxPersons > 0 %}{{ event.maxPersons }}{% else %}{{ __('event.unlimited') }}{% endif %}
          </div>
          {% if event.dateStart %}
          <div>
            <span class="glyphicon glyphicon-time"></span> {{ preset.getDateString(event.dateStart) }} - {{ preset.getDateString(event.dateEnd) }}
          </div>
          {% endif %}
          <div>
            <span class="glyphicon glyphicon-eye-open"></span> <label>{{ __('event.status') }}:</label>{% if event.attendedDate > dateNow %}{{ __('event.ongoing_item') }}{% else %}{{ __('event.over') }}{% endif %}
          </div>
          <div class="text-right"><a class="btn btn-primary" href="/event/{{ event.id }}">{{ __('boat.detail.learn') }}</a></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {{ pagerView.create(pager) }}
</div>

{% include './footer.html' %}

{% endblock %}