{% import './macros/pager.html' as pagerView %}

{% extends './layout.html' %}

{% block content %}

{% include './nav.html' with {view_active:'event'} %}
<div class="columns-sm container">
  <ol class="breadcrumb">
    <li><a href="/">{{ __('nav.home') }}</a></li>
    <li class="active">{{ __('nav.event') }}</li>
  </ol>
  <div class="page-header">
    <h3>{{ __('common.filter') }}</h3>
  </div>
  <form role="form" action="/event/list" method="GET">
    <div class="row search-field">
      <div class="col-md-2">
        <label>{{ __('event.type') }}</label>
      </div>
      <div class="col-md-6">
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type="submit" class="btn btn-default {% if query.type == '' %}btn-primary{% endif %}">
              <label class="radio-inline radio_button">
                <input type="radio" name="type" value="" {% if query.type == '' %}checked{% endif %}> {{ __('event.all') }}
              </label>
            </button>
          </div>
          <div class="btn-group">
            <button type="submit" class="btn btn-default {% if query.type == 'once' %}btn-primary{% endif %}">
              <label class="radio-inline radio_button">
                <input type="radio" name="type" value="once" {% if query.type == 'once' %}checked{% endif %}> {{ __('event.once') }}
              </label>
            </button>
          </div>
          <div class="btn-group">
            <button type="submit" class="btn btn-default {% if query.type == 'long' %}btn-primary{% endif %}">
              <label class="radio-inline radio_button">
                <input type="radio" name="type" value="long" {% if query.type == 'long' %}checked{% endif %}> {{ __('event.long') }}
              </label>
            </button>
          </div>
          <div class="btn-group">
            <button type="submit" class="btn btn-default {% if query.type == 'free' %}btn-primary{% endif %}">
              <label class="radio-inline radio_button">
                <input type="radio" name="type" value="free" {% if query.type == 'free' %}checked{% endif %}> {{ __('event.free') }}
              </label>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row search-field">
      <div class="col-md-2">
        <label>{{ __('event.status') }}</label>
      </div>
      <div class="col-md-3">
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type="submit" class="btn btn-default {% if query.attendedDate == '' %}btn-primary{% endif %}">
              <label class="radio-inline radio_button">
                <input type="radio" name="attendedDate" value="" {% if query.attendedDate == '' %}checked{% endif %}> {{ __('event.all') }}
              </label>
            </button>
          </div>
          <div class="btn-group">
            <button type="submit" class="btn btn-default {% if query.attendedDate == 'true' %}btn-primary{% endif %}">
              <label class="radio-inline radio_button">
                <input type="radio" name="attendedDate" value="true" {% if query.attendedDate == 'true' %}checked{% endif %}> {{ __('event.ongoing_item') }}
              </label>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <hr class="hr-divider">
</div>
<div class="columns columns-gray">
  <div class="event-list container">
    {% for event in events %}
    <div class="thumbnail">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <a href="/event/{{ event.id }}"><img class="img-responsive" src="{{ event.thumbnail }}" alt="thumbnail"></a>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 event-info">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12"><h3>{{ event.title }}</h3></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h3 class="text-danger text-right hidden-xs">{{ preset.generateCharge(event.baseCharge, event.currency) }}</h3>
              <h3 class="text-danger visible-xs">{{ preset.generateCharge(event.baseCharge, event.currency) }}</h3>
            </div>
          </div>
          <div>
            <span class="glyphicon glyphicon-map-marker"></span> {{ __(event.location.city) }}{% if event.location.pier %} - {{ __(event.location.pier) }}{% endif %}
          </div>
          <div>
            <span class="glyphicon glyphicon-user"></span> <label>{{ __('event.organiser') }}</label>: {{ event.organiser.nickname }}
          </div>
          <div>
            <span class="glyphicon glyphicon-asterisk"></span> <label>{{ __('product.booking.numberOfPeople') }}</label>: {% if event.maxPersons > 0 %}{{ event.maxPersons }}{% else %}{{ __('event.unlimited') }}{% endif %}
          </div>
          {% if event.dateStart %}
          <div>
            <span class="glyphicon glyphicon-time"></span> {{ preset.getDateString(event.dateStart) }} - {{ preset.getDateString(event.dateEnd) }}
          </div>
          {% endif %}
          <div>
            <span class="glyphicon glyphicon-eye-open"></span> <label>{{ __('event.status') }}:</label>{% if event.attendedDate > dateNow %}{{ __('event.ongoing_item') }}{% else %}{{ __('event.over') }}{% endif %}
          </div>
          <div class="text-right"><a class="btn btn-primary" href="/event/{{ event.id }}">{{ __('boat.detail.learn') }}</a></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {{ pagerView.create(pager) }}
</div>

{% include './footer.html' %}

{% endblock %}