{% extends './layout.html' %}
{% block title %}{{ event.title }} | {% parent %}{% endblock %}

{% block content %}

{% include './nav.html' %}
<div data-ng-app="event" data-ng-controller="eventController">
  <div class="columns-sm container">
    <ol class="breadcrumb">
      <li><a href="/">{{ __('nav.home') }}</a></li>
      <li><a href="/event/list">{{ __('nav.event') }}</a></li>
      <li class="active">{{ event.title }}</li>
    </ol>
    <div id="event-base" class="thumbnail">
      <div class="boat-thumbnail" style="background-image: url({{ event.thumbnail }})"></div>
      <div class="row caption">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h3>{{ event.title }}</h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h3 class="text-danger text-right hidden-xs">{{ preset.generateCharge(event.baseCharge, event.currency) }}</h3>
          <h3 class="text-danger visible-xs">{{ preset.generateCharge(event.baseCharge, event.currency) }}</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <span class="glyphicon glyphicon-map-marker"></span> {{ __(event.location.city) }}{% if event.location.pier %} - {{ __(event.location.pier) }}{% endif %}
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <span class="glyphicon glyphicon-user"></span> <label>{{ __('event.organiser') }}</label>: {{ event.organiser.nickname }}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" data-ng-cloak>
              <span class="glyphicon glyphicon-asterisk"></span> <label>{{ __('product.booking.numberOfPeople') }}</label>: {% if event.maxPersons > 0 %}{% raw %}{{ currPersons }}/{% endraw %}{{ event.maxPersons }}{% else %}{{ __('event.unlimited') }}{% endif %}
            </div>
            {% if event.dateStart %}
            <div class="col-md-8 col-sm-8 col-xs-12" data-ng-cloak>
              <span class="glyphicon glyphicon-time"></span> {{ preset.getDateString(event.dateStart) }} - {{ preset.getDateString(event.dateEnd) }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-warning" data-ng-if="outDate" data-ng-cloak>
      {{ __('event.result.error.out_date') }}
    </div>
    <div class="alert alert-warning" data-ng-if="!outDate && maxPersons <= 0" data-ng-cloak>
      {{ __('event.result.error.full') }}
    </div>
    <div id="event-attend" class="thumbnail" data-ng-show="!outDate && maxPersons > 0" data-ng-cloak>
      <div class="caption">
        <h3>{{ __('event.attend') }}</h3>
        <hr class="hr-divider">
        <form name="event" method="post" action="/event/submit" novalidate>
          <input type="hidden" name="_csrf" value="{{ _csrf }}">
          <input type="hidden" name="eventId" value="{{ event.id }}">
          <div id="product-booking-person" class="product-booking-container">
            <p><strong>{{ __('product.booking.numberOfPeople') }}(1-{% raw %}{{ maxPersons }}{% endraw %})</strong></p>
            <div class="alert alert-danger" data-ng-show="event.numberOfPersons.$dirty && event.numberOfPersons.$invalid" data-ng-cloak>
              <ul class="list-layout">
                <li data-ng-show="event.numberOfPersons.$error.required"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.numberOfPeople.required') }}</li>
                <li data-ng-show="event.numberOfPersons.$error.min || event.numberOfPersons.$error.max"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.numberOfPeople.outOfRange') }}</li>
                <li data-ng-show="event.numberOfPersons.$error.number"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.numberOfPeople.invaild') }}</li>
              </ul>
            </div>
            <input type="number" name="numberOfPersons" class="form-control" data-ng-model="numberOfPersons" min="1" max="{% raw %}{{ maxPersons }}{% endraw %}" required data-ng-disabled="eventType == 'free'">
          </div>
          <div id="product-booking-contact" class="product-booking-container">
            <p><strong>{{ __('product.booking.contact') }}</strong></p>
            <div>
              <div class="alert alert-danger" data-ng-show="event.contact.$dirty && booking.contact.$invalid" data-ng-cloak>
                <ul class="list-layout">
                  <li data-ng-show="event.contact.$error.required"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.contact.required') }}</li>
                  <li data-ng-show="event.contact.$error.maxlength"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.contact.maxlength') }}</li>
                </ul>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" class="form-control" name="contact" placeholder="{{ __('product.booking.name_plh') }}" data-ng-model="contact.name" maxlength="50" required>
              </div>
              <div class="alert alert-danger" data-ng-show="event.mobile.$dirty && event.mobile.$invalid" data-ng-cloak>
                <ul class="list-layout">
                  <li data-ng-show="event.mobile.$error.required"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.mobile.required') }}</li>
                  <li data-ng-show="event.mobile.$error.maxlength"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.mobile.maxlength') }}</li>
                  <li data-ng-show="event.mobile.$error.number"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.mobile.invaild') }}</li>
                </ul>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-phone"></span>
                </span>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle btn-middle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+86 <span class="caret"></span></button>
                  <input class="dropdown-menu-selected collapse" type="text" name="area_code" data-ng-model="contact.areaCode">
                  <ul class="dropdown-menu">
                    <li><a href="#" data-value="86">+86</a></li>
                    <li><a href="#" data-value="852">+852</a></li>
                  </ul>
                </div>
                <input type="number" class="form-control" name="mobile" placeholder="{{ __('product.booking.mobile_plh') }}" data-ng-model="contact.mobile" maxlength="11" required>
              </div>
            </div>
          </div>
          <div class="product-booking-container" data-ng-if="numberOfPersons > 0">
            <table class="table table-summary">
              <tr><th>{{ __('product.booking.package.item') }}</th><th>{{ __('product.booking.package.quantity') }}</th><th>{{ __('product.booking.package.subtotal') }}</th></tr>
              <tr><td>{{ event.title }} ({{ preset.generateCharge(event.baseCharge, event.currency) }})</td>{% raw %}<td>{{ numberOfPersons }}</td><td>{{ displayAmount(generateCharge(baseCharge) * numberOfPersons) }}</td>{% endraw %}</tr>
            </table>
            <div class="text-right" >
              <h4>{{ __('product.booking.package.total') }} {% raw %}{{ displayAmount(generateCharge(baseCharge) * numberOfPersons) }}{% endraw %}</h4>
            </div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-10 col-md-2 col-md-offset-10 col-sm-4 col-sm-offset-8 col-xs-6 col-xs-offset-6">
                <button type="button" class="btn btn-danger btn-block" data-ng-disabled="event.$invalid" data-ng-click="submit()">{{ __('event.attend') }}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% if event.geospatial.length > 0 %}
    <div id="event-geospatial" class="thumbnail">
      <div class="caption">
        <h3>{{ __('event.geospatial') }}</h3>
        <hr class="hr-divider">
        <div id="event-geospatial-map" class="hyf-map-container"></div>
      </div>
    </div>
    {% endif %}
    <div id="event-detail" class="thumbnail">
      <div class="caption">
        <h3>{{ __('event.desc') }}</h3>
        <hr class="hr-divider">
        {% autoescape %}{{ event.description }}{% endautoescape %}
      </div>
    </div>
    <h3>{{ __('common.relativeEvent') }}</h3>
    <hr class="hr-divider">
    <div class="row" data-ng-controller="moreEvents">
      <div class="boat-product col-lg-6 col-md-6 col-sm-12 col-xs-12" data-ng-repeat="event in events">
        <div class="thumbnail">
          {% raw %}
          <a data-ng-href="/event/{{ event._id }}">
            <div class="boat-thumbnail" data-ng-style="{'background-image': 'url({{ event.thumbnail }})'}"></div>
            <div class="caption text-muted">
              <h4 data-ng-bind="event.title"></h4>
              <div class="row">
                <h3 class="col-xs-6 text-danger">{{ displayAmount(generateCharge(event.baseCharge)) }}</h3>
                <p class="col-xs-6 text-right boat-product-learn">
                  {% endraw %}
                  {{ __('boat.detail.learn') }}
                  <span class="glyphicon glyphicon-menu-right"></span></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-fixed-bottom fix-container">
    <div class="container text-center">
      <ul id="event-nav" class="nav nav-pills">
        <li role="presentation"><a href="#event-base">{{ __('product.section.info') }}</a></li>
        <li role="presentation" data-ng-show="!outDate && maxPersons > 0" data-ng-cloak><a href="#event-attend">{{ __('event.attend') }}</a></li>
        <li role="presentation"><a href="#event-detail">{{ __('event.desc') }}</a></li>
      </ul>
    </div>
  </div>
</div>
{% include './footer.html' %}

{% endblock %}

{% block foot %}
<script>
  window.hgdata = {
    eventId: "{{ event.id|safe }}",
    eventType: "{{ event.type }}",
    clientCurrency: "{{ preset.currency|safe }}",
    currency: {{ preset.configCurrency|json|safe }},
    baseCurrency: "{{ event.currency|safe }}",
    baseCharge: {{ event.baseCharge|safe }},
    maxPersons: {{ event.maxPersons|safe }},
    attendedDate: "{{ event.attendedDate|safe }}",
    geospatial: {{ event.geospatial|json|safe }},
    dateStart: {{ event.dateStart.valueOf() }}
  };
</script>
{% if event.geospatial.length > 0 %}
<script>

  function loadBaiduMap() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "http://api.map.baidu.com/api?v=2.0&ak=XpLGCrdpWiH4k02rOXlWQBro&callback=initBaiduMap";
    document.body.appendChild(script);
  }

  function initBaiduMap() {
    var map = new BMap.Map("event-geospatial-map");
    var point = new BMap.Point(hgdata.geospatial[0], hgdata.geospatial[1]);
    map.centerAndZoom(point, 11);
    map.enableScrollWheelZoom();
    var marker = new BMap.Marker(point);
    map.addOverlay(marker);
  }

  loadBaiduMap();
</script>
{% endif %}
<script src="http://cdn.bootcss.com/moment.js/2.10.6/moment.min.js"></script>
<script src="http://cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
<script src="{{ preset.staticHost }}/js/view-event.js?_=20160107"></script>
<script src="http://cdn.bootcss.com/jquery-one-page-nav/3.0.0/jquery.nav.min.js"></script>
<script>
  (function($,w){
    $("#event-nav").onePageNav();

    $(w).on("scroll", function(){
      if($(".hyf-info").hadScrollToEl()){
        $(".navbar-fixed-bottom").css("position", "relative");
      }else{
        $(".navbar-fixed-bottom").css("position", "fixed");
      }
    });
  })(jQuery, window);
</script>
{% if wechatConfig %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  var config = {{ wechatConfig|json|safe }};
  var shareMessage = {
    title: "{{ event.title }}",
    desc: "{{ event.title }}",
    link: "http://hgboating.com/event/{{ event.id }}",
    imgUrl: "{{ event.thumbnail }}"
  };

  wx.config({
    debug: false,
    appId: config.appId,
    timestamp: config.timestamp,
    nonceStr: config.nonceStr,
    signature: config.signature,
    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareQZone']
  });

  wx.ready(function() {

    wx.onMenuShareTimeline({
      title: shareMessage.title,
      link: shareMessage.link,
      imgUrl: shareMessage.imgUrl,
      success: function () {
      },
      cancel: function () {
      }
    });

    wx.onMenuShareAppMessage({
      title: shareMessage.title,
      desc: shareMessage.desc,
      link: shareMessage.link,
      imgUrl: shareMessage.imgUrl,
      success: function () {
      },
      cancel: function () {
      }
    });

    wx.onMenuShareQQ({
      title: shareMessage.title,
      desc: shareMessage.desc,
      link: shareMessage.link,
      imgUrl: shareMessage.imgUrl,
      success: function () {
      },
      cancel: function () {
      }
    });

    wx.onMenuShareQZone({
      title: shareMessage.title,
      desc: shareMessage.desc,
      link: shareMessage.link,
      imgUrl: shareMessage.imgUrl,
      success: function () {
      },
      cancel: function () {
      }
    });
  });
</script>
{% endif %}

{% endblock %}