{% extends './layout.html' %}

{% block content %}

{% include './nav.html' %}

<div class="columns-sm" data-ng-app="event" data-ng-controller="eventController">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">{{ __('nav.home') }}</a></li>
      <li><a href="/event/list">{{ __('nav.event') }}</a></li>
      <li class="active">{{ event.title }}</li>
    </ol>
    <div id="event-base" class="thumbnail">
      <div class="boat-thumbnail" style="background-image: url({{ event.thumbnail }})"></div>
      <div class="row caption">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h3>{{ event.title }}</h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h3 class="text-danger text-right hidden-xs">{{ preset.generateCharge(event.baseCharge, event.currency) }}</h3>
          <h3 class="text-danger visible-xs">{{ preset.generateCharge(event.baseCharge, event.currency) }}</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <span class="glyphicon glyphicon-map-marker"></span> {{ __(event.location.city) }}
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <span class="glyphicon glyphicon-user"></span> <label>{{ __('event.organiser') }}</label>: {{ event.organiser.nickname }}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" data-ng-cloak>
              <span class="glyphicon glyphicon-asterisk"></span> <label>{{ __('product.booking.numberOfPeople') }}</label>: {% if event.maxPersons > 0 %}{% raw %}{{ currPersons }}/{% endraw %}{{ event.maxPersons }}{% else %}{{ __('event.unlimited') }}{% endif %}
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12" data-ng-cloak>
              <span class="glyphicon glyphicon-time"></span> {{ preset.getDateString(event.dateStart) }} - {{ preset.getDateString(event.dateEnd) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-warning" data-ng-if="outDate" data-ng-cloak>
      {{ __('event.result.error.out_date') }}
    </div>
    <div class="alert alert-warning" data-ng-if="!outDate && maxPersons <= 0" data-ng-cloak>
      {{ __('event.result.error.full') }}
    </div>
    <div id="event-attend" class="thumbnail" data-ng-if="!outDate && maxPersons > 0" data-ng-cloak>
      <div class="caption">
        <h3>{{ __('event.attend') }}</h3>
        <hr class="hr-divider">
        <form name="event" method="post" action="/event/submit" novalidate>
          <input type="hidden" name="_csrf" value="{{ _csrf }}">
          <input type="hidden" name="eventId" value="{{ event.id }}">
          <div id="product-booking-person" class="product-booking-container">
            <p><strong>{{ __('product.booking.numberOfPeople') }}(1-{% raw %}{{ maxPersons }}{% endraw %})</strong></p>
            <div class="alert alert-danger" data-ng-show="event.numberOfPersons.$dirty && event.numberOfPersons.$invalid" data-ng-cloak>
              <ul class="list-layout">
                <li data-ng-show="event.numberOfPersons.$error.required"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.numberOfPeople.required') }}</li>
                <li data-ng-show="event.numberOfPersons.$error.min || event.numberOfPersons.$error.max"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.numberOfPeople.outOfRange') }}</li>
                <li data-ng-show="event.numberOfPersons.$error.number"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.numberOfPeople.invaild') }}</li>
              </ul>
            </div>
            <input type="number" name="numberOfPersons" class="form-control" data-ng-model="numberOfPersons" min="1" max="{% raw %}{{ maxPersons }}{% endraw %}" required>
          </div>
          <div id="product-booking-contact" class="product-booking-container">
            <p><strong>{{ __('product.booking.contact') }}</strong></p>
            <div>
              <div class="alert alert-danger" data-ng-show="event.contact.$dirty && booking.contact.$invalid" data-ng-cloak>
                <ul class="list-layout">
                  <li data-ng-show="event.contact.$error.required"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.contact.required') }}</li>
                  <li data-ng-show="event.contact.$error.maxlength"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.contact.maxlength') }}</li>
                </ul>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" class="form-control" name="contact" placeholder="{{ __('product.booking.name_plh') }}" data-ng-model="contact.name" maxlength="50" required>
              </div>
              <div class="alert alert-danger" data-ng-show="event.mobile.$dirty && event.mobile.$invalid" data-ng-cloak>
                <ul class="list-layout">
                  <li data-ng-show="event.mobile.$error.required"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.mobile.required') }}</li>
                  <li data-ng-show="event.mobile.$error.maxlength"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.mobile.maxlength') }}</li>
                  <li data-ng-show="event.mobile.$error.number"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.mobile.invaild') }}</li>
                </ul>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-phone"></span>
                </span>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle btn-middle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+86 <span class="caret"></span></button>
                  <input class="dropdown-menu-selected collapse" type="text" name="area_code" data-ng-model="contact.areaCode">
                  <ul class="dropdown-menu">
                    <li><a href="#" data-value="86">+86</a></li>
                    <li><a href="#" data-value="852">+852</a></li>
                  </ul>
                </div>
                <input type="number" class="form-control" name="mobile" placeholder="{{ __('product.booking.mobile_plh') }}" data-ng-model="contact.mobile" maxlength="11" required>
              </div>
            </div>
          </div>
          <div class="product-booking-container" data-ng-if="numberOfPersons > 0">
            <table class="table table-summary">
              <tr><th>{{ __('product.booking.package.item') }}</th><th>{{ __('product.booking.package.quantity') }}</th><th>{{ __('product.booking.package.subtotal') }}</th></tr>
              <tr><td>{{ event.title }} ({{ preset.generateCharge(event.baseCharge, event.currency) }})</td>{% raw %}<td>{{ numberOfPersons }}</td><td>{{ displayAmount(generateCharge(baseCharge) * numberOfPersons) }}</td>{% endraw %}</tr>
            </table>
            <div class="text-right" >
              <h4>{{ __('product.booking.package.total') }} {% raw %}{{ displayAmount(generateCharge(baseCharge) * numberOfPersons) }}{% endraw %}</h4>
            </div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-10 col-md-2 col-md-offset-10 col-sm-4 col-sm-offset-8 col-xs-6 col-xs-offset-6">
                <button type="button" class="btn btn-danger btn-block" data-ng-disabled="event.$invalid" data-ng-click="submit()">{{ __('event.attend') }}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="event-detail" class="thumbnail">
      <div class="caption">
        <h3>{{ __('event.desc') }}</h3>
        <hr class="hr-divider">
        {% autoescape %}{{ event.description }}{% endautoescape %}
      </div>
    </div>
  </div>
  <div class="navbar-fixed-bottom fix-container">
    <div class="container text-center">
      <ul id="event-nav" class="nav nav-pills">
        <li role="presentation"><a href="#event-base">{{ __('product.section.info') }}</a></li>
        <li role="presentation"><a href="#event-attend">{{ __('event.attend') }}</a></li>
        <li role="presentation"><a href="#event-detail">{{ __('event.desc') }}</a></li>
      </ul>
    </div>
  </div>
</div>

{% include './footer.html' %}

{% endblock %}

{% block foot %}
<script>
  window.hgdata = {
    eventId: "{{ event.id|safe }}",
    clientCurrency: "{{ preset.currency|safe }}",
    currency: {{ preset.configCurrency|json|safe }},
    baseCurrency: "{{ event.currency|safe }}",
    baseCharge: {{ event.baseCharge|safe }},
    maxPersons: {{ event.maxPersons|safe }},
    attendedDate: "{{ event.attendedDate|safe }}"
  };
</script>
<script src="//cdn.bootcss.com/moment.js/2.10.6/moment.min.js"></script>
<script src="//cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
<script src="{{ preset.staticHost }}/js/view-event.js?_=20151221"></script>
<script src="//cdn.bootcss.com/jquery-one-page-nav/3.0.0/jquery.nav.min.js"></script>
<script>
  (function($,w){
    $("#event-nav").onePageNav();
  })(jQuery, window);
</script>
{% endblock %}