{% extends './layout.html' %}

{% block content %}

{% include './nav.html' with {view_active:'home', absolute: true} %}

<div class="index-slide">
  <div id="hyf-carousel-index" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item index-slide-item active" style="background-image: url(http://ww2.sinaimg.cn/large/62b25eb8gw1ex8vh0q5v1j21kw11xdk5.jpg)">
      </div>
      <div class="item index-slide-item" style="background-image: url(http://ww2.sinaimg.cn/large/62b25eb8gw1ex8vjws519j21z41bfgp1.jpg)">
      </div>
      <div class="item index-slide-item" style="background-image: url(http://ww3.sinaimg.cn/large/62b25eb8gw1ex8vk1q856j21z4182ah4.jpg)">
      </div>
    </div>
    <div class="index-slogan">
      <div class="index-slogan-table text-center">
        <h1>蓝天白云 以海为家</h1>
      </div>
    </div>
    <div class="index-search-field text-center">
      <div class="btn-group hidden-xs">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ __('index.search.where') }} <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#" data-value="深圳">{{ __('db.location.city.sz') }}</a></li>
            <li><a href="#" data-value="香港">{{ __('db.location.city.hk') }}</a></li>
          </ul>
        </div>
        <div class="btn-group hidden-xs">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ __('index.search.budget') }} <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">{{ __('common.unlimited') }}</a></li>
            <li><a href="#">￥5000 - 10000</a></li>
            <li><a href="#">￥10000 － 15000</a></li>
            <li><a href="#">￥15000 － 20000</a></li>
          </ul>
        </div>
        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span> {{ __('common.search') }}</button>
      </div>
      <div class="container visible-xs">
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ __('index.search.where') }} <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-justified disabled">
            <li><a href="/boat/sz/all/all/no/no">{{ __('db.location.city.sz') }}</a></li>
            <li><a href="/boat/hk/all/all/no/no">{{ __('db.location.city.hk') }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron columns">
  <div class="container">
    <section class="column">
      <h3>{{ __('index.column.hot') }}</h3>
      <div class="row">
        <div class="col-md-4 col-sm-6 cell">
          <div class="thumbnail">
            <a href="#">
              <div class="boat-thumbnail" style="background-image: url({{ preset.staticHost }}/img/yacht01.jpg)">
                <div class="boat-basecharge">
                  <h4>Rainbow</h4>
                  <h4 class="text-danger">{{ __('boat.detail.from %s', '$' + 8000) }}</h4>
                </div>
              </div>
              <div class="caption text-muted">
                <span>{{ __('db.location.city.sz') }} - {{ __('db.boat.type.yacht') }}</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 cell">
          <div class="thumbnail">
            <a href="#">
              <div class="boat-thumbnail" style="background-image: url({{ preset.staticHost }}/img/yacht02.jpg)">
                <div class="boat-basecharge">
                  <h4>Rainbow</h4>
                  <h4 class="text-danger">{{ __('boat.detail.from %s', '$' + 8000) }}</h4>
                </div>
              </div>
              <div class="caption text-muted">
                <span>{{ __('db.location.city.sz') }} - {{ __('db.boat.type.yacht') }}</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 cell">
          <div class="thumbnail">
            <a href="#">
              <div class="boat-thumbnail" style="background-image: url({{ preset.staticHost }}/img/yacht03.jpg)">
                <div class="boat-basecharge">
                  <h4>Rainbow</h4>
                  <h4 class="text-danger">{{ __('boat.detail.from %s', '$' + 8000) }}</h4>
                </div>
              </div>
              <div class="caption text-muted">
                <span>{{ __('db.location.city.sz') }} - {{ __('db.boat.type.yacht') }}</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 cell">
          <div class="thumbnail">
            <a href="#">
              <div class="boat-thumbnail" style="background-image: url({{ preset.staticHost }}/img/yacht02.jpg)">
                <div class="boat-basecharge">
                  <h4>Rainbow</h4>
                  <h4 class="text-danger">{{ __('boat.detail.from %s', '$' + 8000) }}</h4>
                </div>
              </div>
              <div class="caption text-muted">
                <span>{{ __('db.location.city.sz') }} - {{ __('db.boat.type.yacht') }}</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 cell">
          <div class="thumbnail">
            <a href="#">
              <div class="boat-thumbnail" style="background-image: url({{ preset.staticHost }}/img/yacht03.jpg)">
                <div class="boat-basecharge">
                  <h4>Rainbow</h4>
                  <h4 class="text-danger">{{ __('boat.detail.from %s', '$' + 8000) }}</h4>
                </div>
              </div>
              <div class="caption text-muted">
                <span>{{ __('db.location.city.sz') }} - {{ __('db.boat.type.yacht') }}</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 cell">
          <div class="thumbnail">
            <a href="#">
              <div class="boat-thumbnail" style="background-image: url({{ preset.staticHost }}/img/yacht01.jpg)">
                <div class="boat-basecharge">
                  <h4>Rainbow</h4>
                  <h4 class="text-danger">{{ __('boat.detail.from %s', '$' + 8000) }}</h4>
                </div>
              </div>
              <div class="caption text-muted">
                <span>{{ __('db.location.city.sz') }} - {{ __('db.boat.type.yacht') }}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="column">
      <h3>{{ __('index.column.entertainments') }}</h3>
      <div class="row">
        <div class="col-md-4 col-sm-6 cell">
          <div class="thumbnail">
            <a href="#">
              <div class="boat-thumbnail" style="background-image: url({{ preset.staticHost }}/img/yacht03.jpg)">
                <div class="boat-basecharge">
                  <h4>Rainbow</h4>
                  <h4 class="text-danger">{{ __('boat.detail.from %s', '$' + 8000) }}</h4>
                </div>
              </div>
              <div class="caption text-muted">
                <span>{{ __('db.location.city.sz') }} - {{ __('db.boat.type.yacht') }}</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 cell">
          <div class="thumbnail">
            <a href="#">
              <div class="boat-thumbnail" style="background-image: url({{ preset.staticHost }}/img/yacht01.jpg)">
                <div class="boat-basecharge">
                  <h4>Rainbow</h4>
                  <h4 class="text-danger">{{ __('boat.detail.from %s', '$' + 8000) }}</h4>
                </div>
              </div>
              <div class="caption text-muted">
                <span>{{ __('db.location.city.sz') }} - {{ __('db.boat.type.yacht') }}</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 cell">
          <div class="thumbnail">
            <a href="#">
              <div class="boat-thumbnail" style="background-image: url({{ preset.staticHost }}/img/yacht02.jpg)">
                <div class="boat-basecharge">
                  <h4>Rainbow</h4>
                  <h4 class="text-danger">{{ __('boat.detail.from %s', '$' + 8000) }}</h4>
                </div>
              </div>
              <div class="caption text-muted">
                <span>{{ __('db.location.city.sz') }} - {{ __('db.boat.type.yacht') }}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% include './footer.html' %}

{% endblock %}
