{% extends './layout.html' %}

{% block content %}

{% include './nav.html' with {view_active:'home', absolute: true} %}

<div class="index-slide">
  <div id="hyf-carousel-index" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      {% for slide in slides %}
      <div class="item index-slide-item {% if loop.first %}active{% endif %}" style="background-image: url({{ slide }})">
      </div>
      {% endfor %}
    </div>
    <div class="index-slogan">
      <div class="index-slogan-table text-center">
        <h1>{{ __('site.slogan') }}</h1>
      </div>
    </div>
    {% if false %}
    <div class="index-search-field text-center">
      <div class="row">
        <div class="col-lg-offset-5 col-md-offset-5 col-sm-offset-4 col-xs-offset-2 col-lg-2 col-md-2 col-sm-4 col-xs-8">
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ __('index.search.where') }} <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-justified disabled">
              <li><a href="/boat/sz/all/all/no/no">{{ __('db.location.city.sz') }}</a></li>
              <li><a href="/boat/hk/all/all/no/no">{{ __('db.location.city.hk') }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<div class="columns columns-gray">
  <div class="container">
    <section class="column">
      <h3>{{ __('index.column.hot') }}</h3>
      <div class="row">
        {% for boat in boats %}
        <div class="col-md-4 col-sm-6 cell">
          <div class="thumbnail">
            <a href="/boat/{{ boat.id }}/{{ boat.name }}">
              <div class="boat-thumbnail" style="background-image: url({{ boat.thumbnail }})">
                <div class="boat-basecharge">
                  <h4>{{ boat.name }}</h4>
                  <h4 class="text-danger">{{ __('boat.detail.from %s', preset.generateCharge(boat.baseCharge, boat.currency)) }}</h4>
                </div>
              </div>
              <div class="caption text-muted">
                <span>{{ __(boat.location.city) }} - {{ __(boat.type) }}</span>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    {% if false %}
    <section class="column">
      <h3>{{ __('index.column.entertainments') }}</h3>
      <div class="row">
        <div class="col-md-4 col-sm-6 cell">
          <div class="thumbnail">
            <a href="#">
              <div class="boat-thumbnail" style="background-image: url({{ preset.imgHost }}/yacht03.jpg)">
                <div class="boat-basecharge">
                  <h4>Rainbow</h4>
                  <h4 class="text-danger">{{ __('boat.detail.from %s', '$' + 8000) }}</h4>
                </div>
              </div>
              <div class="caption text-muted">
                <span>{{ __('db.location.city.sz') }} - {{ __('db.boat.type.yacht') }}</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 cell">
          <div class="thumbnail">
            <a href="#">
              <div class="boat-thumbnail" style="background-image: url({{ preset.imgHost }}/yacht01.jpg)">
                <div class="boat-basecharge">
                  <h4>Rainbow</h4>
                  <h4 class="text-danger">{{ __('boat.detail.from %s', '$' + 8000) }}</h4>
                </div>
              </div>
              <div class="caption text-muted">
                <span>{{ __('db.location.city.sz') }} - {{ __('db.boat.type.yacht') }}</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 cell">
          <div class="thumbnail">
            <a href="#">
              <div class="boat-thumbnail" style="background-image: url({{ preset.imgHost }}/yacht02.jpg)">
                <div class="boat-basecharge">
                  <h4>Rainbow</h4>
                  <h4 class="text-danger">{{ __('boat.detail.from %s', '$' + 8000) }}</h4>
                </div>
              </div>
              <div class="caption text-muted">
                <span>{{ __('db.location.city.sz') }} - {{ __('db.boat.type.yacht') }}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
  </div>
</div>

{% include './footer.html' %}

{% endblock %}
