{% extends './layout.html' %}

{% block content %}

{% include './nav.html' with {index_page: true} %}
  <section class="hyf-banner bg-responsive hyf-hide">
    <div class="hyf-overlay hyf-overlay-strong"></div>
    <div class="hyf-banner-slogan">
      <div class="hyf-banner-slogan-table">
        <div class="hyf-banner-slogan-content">
          <h1 class="hyf-banner-show-element">{{ __('index.slogan') }}</h1>
          <h2 class="hyf-banner-show-element">{{ __('index.sub_slogan') }}</h2>
          <div class="hyf-banner-controller">
            <a id="btn-learn-more" href="javascript:void(0)">{{ __('common.learn') }}<br><i class="fa fa-angle-down fa-4x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hyf-row">
    <a href="/event/list">
      <div class="hyf-grid hyf-grid-event">
        <img class="img-responsive" src="{{ preset.imgHost }}/event2.jpg" alt="event">
        <div class="hyf-overlay hyf-overlay-light"></div>
        <h1 class="hyf-grid-title hyf-grid-left hyf-grid-top">{{ __('nav.event') }}</h1>
      </div>
    </a>
    <a href="/boat">
      <div class="hyf-grid hyf-grid-boat">
        <img class="img-responsive" src="{{ preset.imgHost }}/boat2.jpg" alt="finding boat">
        <div class="hyf-overlay hyf-overlay-light"></div>
        <h1 class="hyf-grid-title hyf-grid-right hyf-grid-top">{{ __('nav.boat') }}</h1>
        <!--<div class="hyf-banner-slogan">-->
          <!--<div class="hyf-banner-slogan-table">-->
            <!--<div class="hyf-banner-slogan-content text-center">-->
              <!--<h1 class="hyf-banner-show-element">租艘船,出海玩</h1>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </a>
    <div class="hyf-grid hyf-gird-dive">
      <img class="img-responsive" src="{{ preset.imgHost }}/dive.jpg" alt="dive">
      <div class="hyf-overlay"></div>
      <div class="hyf-banner-slogan">
        <div class="hyf-banner-slogan-table">
          <div class="hyf-banner-slogan-content">
            <div class="hyf-ocean-function">{{ __('index.column.diving') }}</div>
            <div class="hyf-ocean-function-tips">{{ __('common.coming_soon') }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="hyf-grid hyf-gird-fishing">
      <img class="img-responsive" src="{{ preset.imgHost }}/fishing.jpg" alt="fishing">
      <div class="hyf-overlay hyf-overlay-strong"></div>
      <div class="hyf-banner-slogan">
        <div class="hyf-banner-slogan-table">
          <div class="hyf-banner-slogan-content">
            <div class="hyf-ocean-function">{{ __('index.column.fishing') }}</div>
            <div class="hyf-ocean-function-tips">{{ __('common.coming_soon') }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="hyf-grid hyf-gird-surf">
      <img class="img-responsive" src="{{ preset.imgHost }}/surf.jpg" alt="surf">
      <div class="hyf-overlay"></div>
      <div class="hyf-banner-slogan">
        <div class="hyf-banner-slogan-table">
          <div class="hyf-banner-slogan-content">
            <div class="hyf-ocean-function">{{ __('index.column.surfing') }}</div>
            <div class="hyf-ocean-function-tips">{{ __('common.coming_soon') }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="hyf-grid hyf-gird-cruise">
      <img class="img-responsive" src="{{ preset.imgHost }}/cruise.jpg" alt="cruise">
      <div class="hyf-overlay hyf-overlay-light"></div>
      <div class="hyf-banner-slogan">
        <div class="hyf-banner-slogan-table">
          <div class="hyf-banner-slogan-content">
            <div class="hyf-ocean-function">{{ __('index.column.cruise') }}</div>
            <div class="hyf-ocean-function-tips">{{ __('common.coming_soon') }}</div>
          </div>
        </div>
      </div>
    </div>
    <a href="/article/detail/56d540ddbad95b30d74444f6">
      <div class="hyf-grid hyf-grid-share">
        <img class="img-responsive" src="{{ preset.imgHost }}/share3.jpg" alt="custom share">
        <div class="hyf-overlay hyf-overlay-strong"></div>
        <h2 class="hyf-grid-content hyf-grid-top hyf-grid-left">{{ __('index.column.share') }}</h2>
        <div class="hyf-banner-slogan">
          <div class="hyf-banner-slogan-table">
            <div class="hyf-banner-slogan-content">
              <ul class="hyf-share-container list-layout">
                <li class="text-left"><i class="fa fa-quote-left"></i></li>
                <li>西贡游船河,海上8小时游艇趴,体验不一样的香港</li>
                <li class="text-right"><i class="fa fa-quote-right"></i></li>
                <li class="text-right"><small>海龟船长 2015.8.2</small></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="/news/detail/56d55f6a4747e1c603958baf">
      <div class="hyf-grid hyf-gird-news">
        <img class="img-responsive" src="{{ preset.imgHost }}/news2.jpg" alt="news">
        <div class="hyf-overlay"></div>
        <h2 class="hyf-grid-content hyf-grid-top hyf-grid-left">{{ __('index.column.news') }}</h2>
        <div class="hyf-grid-content hyf-grid-bottom hyf-grid-left">
          <h2 class="hyf-gird-news-title">海龟租船祝大家猴年快乐,如意吉祥</h2>
          <h3 class="hyf-gird-news-date">2016.2.7</h3>
        </div>
      </div>
    </a>
  </section>

{% include './footer.html' %}

{% endblock %}

{% block foot %}
<script src="http://cdn.bootcss.com/jquery-easing/1.3/jquery.easing.min.js"></script>
<script>
  (function ($, window){
    setTimeout(function(){
      $('.hyf-banner').removeClass('hyf-hide');
    }, 0);

    $("#btn-learn-more").click(function(){
      $("html, body").stop().animate({scrollTop: $(window).height() + "px"}, 800, "easeInOutCirc");
    });
  })(jQuery, window);
</script>
{% endblock %}