<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="海龟租船，整合全球休闲船舶资源，让客户可在平台直接对接优质船舶，方便快捷完成租赁过程，本平台价格为船东直接报价，不存在中介环节，让客户以最低的价格，最高的性价比来开启您的出海休闲生活。">
    <meta name="keywords" content="海龟租船,hgboating,租船,游艇,海钓,钓鱼,海龟">
    <meta name="author" content="深圳市海云帆游艇发展有限公司">
    <title>{% block title %}{{ __('site.title') }}{% endblock %}</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="{{ preset.staticHost }}/css/style.css?_=2016033001" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ preset.staticHost }}/css/base.css?_=20160321" rel="stylesheet">
    {% block head %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block content %}{% endblock %}
    <div id="hyf-modal-alert" class="modal fade">
      <div class="modal-table">
        <div class="modal-table-cell">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{ __('site.title') }}</h4>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <div class="row">
                  <div class="col-xs-6 col-xs-offset-6">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">{{ __('common.close') }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/Tocca.js/0.1.21/Tocca.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ preset.staticHost }}/js/lib.js?_=20160330"></script>
    {% block foot %}{% endblock %}
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256860309'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256860309%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
  </body>
</html>