{% import './macros/menu.html' as menu %}
{% import './macros/menu.html' as menu %}

<div class="hyf-navbar-overlay hyf-overlay-strong hyf-hide">
  <button class="btn-hide-navbar"><i class="fa fa-close fa-3x"></i></button>
</div>
<nav class="hyf-navbar{% if !index_page %} hyf-navbar-page{% endif %}{% if absolute %} hyf-navbar-absolute{% endif %}">
  <div class="hyf-field-container">
    <div class="hyf-navbar-brand"><a href="/"><img src="{{ preset.imgHost }}/logo-white{% if preset.locale == 'en' || preset.locale =='zh-hk' %}-en{% endif %}.png" alt="logo" height="30"></a></div>
    <div class="hyf-navbar-right">
      <button class="hyf-navbar-toggle" type="button"><i class="fa fa-bars fa-2x"></i></button>
      <ul class="hyf-navbar-nav hyf-hide">
        {{ menu.item(__('owner.nav.calendar'), '/owner', view_active == 'calendar') }}
        {{ menu.item(__('owner.nav.booking'), '/owner/booking', view_active == 'booking') }}
        {{ menu.item(__('owner.nav.ownerInformation'), '/owner/setting', view_active == 'setting') }}
        {{ menu.item(__('owner.nav.ownerBoats'), '/owner/boat', view_active == 'boat') }}
        {{ menu.item(__('owner.nav.home'), '/', view_active == 'home') }}
        <li><img class="hyf-user-avatar hyf-img-circle hyf-img-thumbnail" src="{{ preset.imgHost }}/captain.jpg" height="26">{{ preset.username }}
          <ul class="list-layout">
            <li><a href="/user/booking">{{ __('user.bookings') }}</a></li>
            <li><a href="/user/event">{{ __('user.events') }}</a></li>
            <li><a href="/user/setting">{{ __('user.settings') }}</a></li>
            <li><a href="/logout">{{ __('common.logout') }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>