{% import './macros/menu.html' as menu %}

<div class="hyf-overlay hyf-navbar-overlay  hyf-hide">
  <button class="btn-hide-navbar"><i class="fa fa-close fa-3x"></i></button>
</div>
<nav class="hyf-navbar{% if !index_page %} hyf-navbar-page{% endif %}{% if absolute %} hyf-navbar-absolute{% endif %}">
  <div class="hyf-field-container">
    {% if !index_page %}
    <div class="hyf-navbar-brand"><a href="/"><img src="{{ preset.imgHost }}/logo-white{% if preset.locale == 'en' || preset.locale =='zh-hk' %}-en{% endif %}.png" alt="logo" height="30"></a></div>
    {% endif %}
    <div class="hyf-navbar-right">
      <button class="hyf-navbar-toggle" type="button"><i class="fa fa-bars fa-2x"></i></button>
      <ul class="hyf-navbar-nav hyf-hide">
        {{ menu.item(__('nav.home'), '/', view_active == 'home') }}
        {{ menu.item(__('nav.boat'), '/boat', view_active == 'boat') }}
        {{ menu.item(__('nav.event'), '/event/list', view_active == 'event') }}
        {% if preset.username %}
        {% if preset.owner %}
        <li><a href="/owner">{{ __('nav.boatowner') }}</a></li>
        {% endif %}
        <li class="hyf-user-info"><img class="hyf-user-avatar hyf-img-circle hyf-img-thumbnail" src="{% if preset.avatar %}{{ preset.avatar }}{% else %}{{ preset.imgHost }}/captain.jpg{% endif %}" height="26"><span class="hyf-user-nickname">{{ preset.username }}</span>
          <ul class="list-layout">
            <li><a href="/user/booking">{{ __('user.bookings') }}</a></li>
            <li><a href="/user/event">{{ __('user.events') }}</a></li>
            <li><a href="/user/setting">{{ __('user.settings') }}</a></li>
            <li><a href="/logout">{{ __('common.logout') }}</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="/login?from={{ preset.originalUrl }}">{{ __('common.login') }}</a></li>
        <li><a href="/signup">{{ __('common.signup') }}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>