{% extends './layout.html' %}

{% block head %}

<link rel="stylesheet" href="http://cdn.bootcss.com/fullcalendar/2.4.0/fullcalendar.min.css">

{% endblock %}

{% block content %}

{% include './nav-owner.html' with {view_active:'calendar'} %}

<div class="container columns-sm">
  <ol class="breadcrumb">
    <li><a href="/owner">{{ __('nav.boatowner') }}</a></li>
    <li class="active">{{ __('owner.nav.calendar') }}</li>
  </ol>
  <div class="page-header">
    <h1>{{ __('owner.nav.calendar') }}</h1>
  </div>
  {% if boats.length > 0 %}
  <ul class="nav nav-pills">
    {% for boat in boats %}
    <li role="presentation" {% if loop.index0 == index %}class="active"{% endif %}><a href="/owner/{{ loop.index0 }}">{{ boat.name }}</a></li>
    {% endfor %}
  </ul>
  <hr class="hr-divider">
  <div id="calendar"></div>
  <div class="row calendar-controller">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <span class="glyphicon glyphicon-stop calendar-event-icon"></span>
      {{ __('calendar.booked') }}
      <span class="glyphicon glyphicon-stop calendar-event-icon-wait"></span>
      {{ __('calendar.wait_to_pay') }}
      <span class="glyphicon glyphicon-stop calendar-event-icon-unavailable"></span>
      {{ __('calendar.unavailable') }}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 text-right">
      <button id="calendar-month" type="button" class="btn btn-default invisible">{{ __('calendar.selectdate') }}</button>
      <button id="calendar-today" type="button" class="btn btn-default">{{ __('calendar.today') }}</button>
      <div class="btn-group">
        <button id="calendar-prev" type="button" class="btn btn-default"><span class="glyphicon glyphicon-menu-left"></span></button>
        <button id="calendar-next" type="button" class="btn btn-default"><span class="glyphicon glyphicon-menu-right"></span></button>
      </div>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <label>{{ __('product.booking.start') }}</label>
      <p id="selectedTime-start"></p>
    </li>
    <li class="list-group-item">
      <label>{{ __('product.booking.end') }}</label>
      <p id="selectedTime-end"></p>
    </li>
  </ul>
  <div class="calendar-controller text-right">
    <button id="btn-set-available" type="button" class="btn btn-primary" disabled>设置为可预定</button>
    <button id="btn-set-unavailable" type="button" class="btn btn-danger" disabled>设置为不可预定</button>
  </div>
  <input id="data-selected-date-uid" name="uid" type="hidden">
  <input id="data-selected-date-start" name="dateStart" type="hidden">
  <input id="data-selected-date-end" name="dateEnd" type="hidden">
  {% endif %}
</div>

{% include './footer.html' %}

{% endblock %}

{% block foot %}

<script src="http://cdn.bootcss.com/moment.js/2.10.6/moment.min.js"></script>
<script src="http://cdn.bootcss.com/fullcalendar/2.4.0/fullcalendar.min.js"></script>
<script src="http://cdn.bootcss.com/fullcalendar/2.4.0/lang/{% if preset.locale == 'zh-cn' %}zh-cn{% elseif preset.locale == 'zh-hk' %}zh-tw{% elseif preset.locale == 'en' %}en-gb{% endif %}.js"></script>
<script>
(function($, window){
  var selectedStart = false;

  function setSelectedTime(start, end){
    var tempEnd = end || moment(start);
    if(!end){
      tempEnd.hour(start.hour() + 1);
    }

    $("#data-selected-date-start").val(start.format("YYYY-MM-DD HH:mm"));
    $("#data-selected-date-end").val(tempEnd.format("YYYY-MM-DD HH:mm"));

    $("#selectedTime-start").html(start.format("YYYY-MM-DD HH:mm"));
    $("#selectedTime-end").html(tempEnd.format("YYYY-MM-DD HH:mm"));
  }

  function clearSelectedTime(){
    $("#calendar").fullCalendar("select", false, false);

    selectedStart = false;
    $("#data-selected-date-uid").val("");
    $("#data-selected-date-start").val("");
    $("#data-selected-date-end").val("");

    $("#selectedTime-start").html("");
    $("#selectedTime-end").html("");
  }

  var region = {{ boats[index].region|json|safe }};

  var holidayUrl = "/api/getHoliday?country=" + region.country;
  if(region.region){
    holidayUrl += "&region=" + region.region;
  }

  var sources = [
    {
      url: "/owner/booking/cal/{{ boats[index].id }}?type=success",
      color: "#258ec7"
    },
    {
      url: "/owner/booking/cal/{{ boats[index].id }}?type=waittopay",
      color: "#f0ad4e"
    },
    {
      url: "/owner/booking/cal/unavailable/{{ boats[index].id }}",
      color: "#ff5a5e"
    },
    {
      url: holidayUrl,
      color: "#ff0000"
    }
  ];

  $("#calendar").fullCalendar({
    contentHeight: "auto",
    timezone: "local",
    lang: "zh-CN",
    header: {
      left: "title",
      right: ""
    },
    eventLimit: 3,
    eventLimitClick: "agendaDay",
//    allDayText: "节日",
    allDaySlot: false,
    minTime: "06:00:00",
    maxTime: "24:00:00",
    slotDuration: "01:00:00",
    slotLabelFormat: "HH:00",
    selectable: true,
    selectOverlap: false,
    unselectAuto: false,
    viewRender: function(view, element){
      if(view.name == "month"){
        $("#calendar-month").addClass("invisible");
      }else{
        $("#calendar-month").removeClass("invisible");
      }

      $(".fc-toolbar .fc-button").addClass("btn btn-default btn-lg").removeClass("fc-state-default");
      $(".fc-toolbar .fc-button-group").addClass("btn-group");
      $(".fc-prev-button").html('<span class="glyphicon glyphicon-menu-left"></span>');
      $(".fc-next-button").html('<span class="glyphicon glyphicon-menu-right"></span>');
    },
    dayClick: function(date, jsEvent, view){
      $("#calendar").fullCalendar("gotoDate", date);
      $("#calendar").fullCalendar("changeView", "agendaDay");

      $("#calendar-month").removeClass("invisible");
    },
    eventClick: function(calEvent, jsEvent, view){
      if(view.name == "agendaDay"){
        if(calEvent.ownerDisabled){
          $("#data-selected-date-uid").val(calEvent.uid);
          setSelectedTime(calEvent.start, calEvent.end);
          $("#btn-set-unavailable").prop("disabled", true);
          $("#btn-set-available").prop("disabled", false);
        }

        if(calEvent.bookingId){
          window.location = '/owner/booking/detail/' + calEvent.bookingId;
        }

//        if(!calEvent.ownerDisabled && !calEvent.allDay){
//          $("#booking-detail-modal").modal();
//        }

        return;
      }

      $("#calendar").fullCalendar("gotoDate", calEvent.start);
      $("#calendar").fullCalendar("changeView", "agendaDay");

      $("#calendar-month").removeClass("invisible");
    },
    select: function(start, end, jsEvent, view){
      if(view.name == "month"){
        return;
      }

      if(start < moment()){
        $("#hyf-modal-alert").CustomAlert("{{ __('calendar.invaild') }}");
        return false;
      }

      $("#btn-set-unavailable").prop("disabled", false);
      $("#btn-set-available").prop("disabled", true);

      if(!selectedStart){
        selectedStart = start;
        setSelectedTime(selectedStart);
      }else{
        if(selectedStart < start){
          var end = moment(start);
          end.hour(end.hour() + 1);

          //get events between selections
          var clientEvents = $("#calendar").fullCalendar("clientEvents", function(e){
            var eventEnd = e.end || e.start;
            return !e.allDay && e.start > selectedStart && (e.start < end);
          });

          if(clientEvents && clientEvents.length > 0) {
            selectedStart = start;
            setSelectedTime(selectedStart);
            return true;
          }

          $("#calendar").fullCalendar("select", selectedStart, end);
          setSelectedTime(selectedStart, end);
          selectedStart = false;
        }else{
          selectedStart = start;
          setSelectedTime(selectedStart);
        }
      }
    },
    eventSources: sources,
    eventRender: function(event, element){
      $(element).find(".fc-time").text(moment(event.start).format("HH:mm") + "-" + moment(event.end).format("HH:mm"));
    }
  });

  $("#calendar-month").click(function(){
    selectedStart = false;
    $("#calendar").fullCalendar("changeView", "month");
  });

  $("#calendar-today").click(function(){
    $("#calendar").fullCalendar("today");
  });

  $("#calendar-prev").click(function(){
    selectedStart = false;
    $("#calendar").fullCalendar("prev");
  });

  $("#calendar-next").click(function(){
    selectedStart = false;
    $("#calendar").fullCalendar("next");
  });

  $("#btn-set-available").click(function(){
    var uid = $("#data-selected-date-uid").val();

    if(uid){
      $.getJSON("/owner/unavailable/remove/" + uid, function(data){
        if(data.result){
          $("#calendar").fullCalendar("refetchEvents");
          clearSelectedTime();
        }else{
          $("#hyf-modal-alert").CustomAlert("{{ __('calendar.try_later') }}");
          return;
        }
      });
    }else{
      $("#hyf-modal-alert").CustomAlert("{{ __('calendar.select_date') }}");
      return;
    }
  });

  $("#btn-set-unavailable").click(function(){
    var boatId = "{{ boats[index].id }}";
    var dateStart = $("#data-selected-date-start").val();
    var dateEnd = $("#data-selected-date-end").val();

    if(!boatId || !dateStart || !dateEnd){
      $("#hyf-modal-alert").CustomAlert("{{ __('calendar.select_date') }}");
      return;
    }else{
      $.post("/owner/unavailable/set", {
        _csrf: "{{ _csrf }}",
        boatId: boatId,
        dateStart: dateStart,
        dateEnd: dateEnd
      }, function(data){
        if(data.result){
          $("#calendar").fullCalendar("refetchEvents");
          clearSelectedTime();
        }else{
          $("#hyf-modal-alert").CustomAlert("{{ __('calendar.try_later') }}");
          return;
        }
      });
    }
  });
})(jQuery, window);
</script>
{% endblock %}