{% extends './layout.html' %}

{% block head %}

<link rel="stylesheet" href="//cdn.bootcss.com/fullcalendar/2.4.0/fullcalendar.min.css">

{% endblock %}

{% block content %}

{% include './nav-owner.html' with {view_active:'home'} %}

<div class="container">
  <div class="page-header">
    <h1>船期</h1>
  </div>
  <div id="calendar"></div>
  <div class="calendar-controller text-right">
    <button id="calendar-month" type="button" class="btn btn-default invisible">选择日期</button>
    <div class="btn-group">
      <button id="calendar-prev" type="button" class="btn btn-default"><span class="glyphicon glyphicon-menu-left"></span></button>
      <button id="calendar-next" type="button" class="btn btn-default"><span class="glyphicon glyphicon-menu-right"></span></button>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <label>开始时间</label>
      <p id="selectedTime-start"></p>
    </li>
    <li class="list-group-item">
      <label>结束时间</label>
      <p id="selectedTime-end"></p>
    </li>
  </ul>
  <div class="calendar-controller text-right">
    <button type="button" class="btn btn-primary">设置为可预定</button>
    <button type="button" class="btn btn-danger">设置为不可预定</button>
  </div>
</div>
<div id="booking-detail-modal" class="modal fade">
  <div class="modal-table">
    <div class="modal-table-cell">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">定单号: 2015101511001</h4>
          </div>
          <div class="modal-body">
            <dl class="dl-horizontal">
              <dt>预定船只</dt>
              <dd>rainbow</dd>
              <dt>船东</dt>
              <dd>Mr.Shek</dd>
              <dt>地点</dt>
              <dd>香港 西贡码头</dd>
              <dt>预定产品</dt>
              <dd>日间船河</dd>
              <dt>开始时间</dt>
              <dd>2015年10月17日 上午 10:00</dd>
              <dt>结束时间</dt>
              <dd>2015年10月17日 下午 5:00</dd>
              <dt>人数</dt>
              <dd>35</dd>
              <dt>套餐</dt>
              <dd>套餐A (￥8000)</dd>
              <dt>联系人</dt>
              <dd>吴雪方</dd>
              <dt>手机号码</dt>
              <dd>13500000000</dd>
              <dt>电子邮箱</dt>
              <dd>wxf@hgboating.com</dd>
            </dl>
            <table class="table table-summary">
              <caption>价格清单</caption>
              <tr><th>项目</th><th>数量</th><th>价格</th></tr>
              <tr><td>套餐A ￥8000</td><td>1</td><td>￥8000.00</td></tr>
              <tr><td>额外人员 ￥200</td><td>10</td><td>￥2000.00</td></tr>
              <tr><td>水上飞行 ￥2000</td><td>1</td><td>￥2000.00</td></tr>
            </table>
            <div class="text-right">
              <h4>合计：￥14000.00</h4>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-xs-4 col-xs-offset-8">
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">{{ __('common.close') }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include './footer.html' %}

{% endblock %}

{% block foot %}

<script src="//cdn.bootcss.com/moment.js/2.10.6/moment.min.js"></script>
<script src="//cdn.bootcss.com/fullcalendar/2.4.0/fullcalendar.min.js"></script>
<script src="//cdn.bootcss.com/fullcalendar/2.4.0/lang/zh-cn.js"></script>
<script>
  var selectedStart = false;

  function setSelectedTime(start, end){
    var tempEnd = end || moment(start);
    if(!end){
      tempEnd.hour(start.hour() + 1);
    }

    $("#selectedTime-start").html(start.format("YYYY年MM月DD日 a h:mm"));
    $("#selectedTime-end").html(tempEnd.format("YYYY年MM月DD日 a h:mm"));
  }

  $("#calendar").fullCalendar({
    contentHeight: "auto",
    timezone: "local",
    lang: "zh-CN",
    header: {
      left: "title",
      right: "today"
    },
    eventLimit: 3,
    eventLimitClick: "agendaDay",
    allDayText: "节日",
    minTime: "09:00:00",
    maxTime: "18:00:00",
    slotDuration: "01:00:00",
    slotLabelFormat: "HH:00",
//    hiddenDays: [0,6],
    selectable: true,
//    selectOverlap: false,
    unselectAuto: false,
    viewRender: function(view, element){
      if(view.name == "month"){
        $("#calendar-month").addClass("invisible");
      }else{
        $("#calendar-month").removeClass("invisible");
      }

      $(".fc-toolbar .fc-button").addClass("btn btn-default btn-lg").removeClass("fc-state-default");
      $(".fc-toolbar .fc-button-group").addClass("btn-group");
      $(".fc-prev-button").html('<span class="glyphicon glyphicon-menu-left"></span>');
      $(".fc-next-button").html('<span class="glyphicon glyphicon-menu-right"></span>');
    },
    dayClick: function(date, jsEvent, view){
      $("#calendar").fullCalendar("gotoDate", date);
      $("#calendar").fullCalendar("changeView", "agendaDay");

      $("#calendar-month").removeClass("invisible");
    },
    eventClick: function(calEvent, jsEvent, view){
      if(view.name == "agendaDay"){
        if(calEvent.ownerDisabled){
          setSelectedTime(calEvent.start, calEvent.end);
        }

        if(!calEvent.ownerDisabled && !calEvent.allDay){
          $("#booking-detail-modal").modal();
        }

        return;
      }

      $("#calendar").fullCalendar("gotoDate", calEvent.start);
      $("#calendar").fullCalendar("changeView", "agendaDay");

      $("#calendar-month").removeClass("invisible");
    },
    select: function(start, end, jsEvent, view){
      if(view.name == "month"){
        return;
      }

      if(!selectedStart){
        selectedStart = start;
        setSelectedTime(selectedStart);
      }else{
        if(selectedStart < start){
          var end = moment(start);
          end.hour(end.hour() + 1);

          //get events between selections
          var clientEvents = $("#calendar").fullCalendar("clientEvents", function(e){
            var eventEnd = e.end || e.start;
            return !e.allDay && e.start > selectedStart && (e.start < end);
          });

          if(clientEvents && clientEvents.length > 0) {
            selectedStart = start;
            setSelectedTime(selectedStart);
            return true;
          }

          $("#calendar").fullCalendar("select", selectedStart, end);
          setSelectedTime(selectedStart, end);
          selectedStart = false;
        }else{
          selectedStart = start;
          setSelectedTime(selectedStart);
        }
      }
    },
    events:[
      {
        title: "已预定",
        start: "2015-10-16T13:00",
        end: "2015-10-16T14:00",
        allDay: false
      },
      {
        title: "已预定",
        start: "2015-10-16T15:00",
        end: "2015-10-16T16:00",
        allDay: false
      },
      {
        title: "已预定",
        start: "2015-10-16T16:00",
        end: "2015-10-16T17:00",
        allDay: false
      },
      {
        title: "已预定",
        start: "2015-10-16T10:00",
        end: "2015-10-16T11:00",
        allDay: false
      },
      {
        title: "已预定",
        start: "2015-10-20T09:00",
        end: "2015-10-20T17:00",
        allDay: false
      },
      {
        title: "国庆",
        start: new Date(2015, 9, 1),
        allDay: true,
        backgroundColor: "#d43f3a",
        borderColor: "#d43f3a"
      },
      {
        title: "已设置不可预定",
        start: "2015-09-30T10:00",
        end: "2015-09-30T16:00",
        allDay: false,
        backgroundColor: "#f2dede",
        borderColor: "#f2dede",
        ownerDisabled: true
      }
    ]
  });

  $("#calendar-month").click(function(){
    selectedStart = false;
    $("#calendar").fullCalendar("changeView", "month");
  });

  $("#calendar-prev").click(function(){
    selectedStart = false;
    $("#calendar").fullCalendar("prev");
  });

  $("#calendar-next").click(function(){
    selectedStart = false;
    $("#calendar").fullCalendar("next");
  });

</script>
{% endblock %}