{% import './macros/pager.html' as pagerView %}

{% extends './layout.html' %}

{% block content %}

{% include './nav-owner.html' with {view_active:'booking'} %}

<div class="container columns-sm">
  <ol class="breadcrumb">
    <li><a href="/owner">{{ __('owner.nav.home') }}</a></li>
    <li class="active">{{ __('owner.nav.booking') }}</li>
  </ol>
  <div class="page-header">
    <h1>{{ __('owner.nav.booking') }}</h1>
  </div>
  <div class="booking-list">
    {% for booking in bookings %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-10 col-sm-10 col-xs-8">
            <strong>{{ __('product.booking.result.bookingDate') }}: {{ preset.getDateString(booking.createDate) }} {{ __('product.booking.result.bookingId') }}: {{ booking.bookingId }}</strong>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 text-right">
            <a href="/owner/booking/detail/{{ booking.bookingId }}" class="btn btn-default btn-sm">{{ __('common.detail') }}</a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="thumbnail">
                  <a href="/product/{{ booking.productId.id }}/{{ booking.productName }}/{{ booking.boatId.valueOf() }}/{{ booking.boatName }}">
                    <img src="{{ booking.productId.photo }}" alt="product photo">
                  </a>
                </div>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-8">
                <p><strong>{{ booking.boatName }} - {{ booking.productName }} - {{ booking.packageName }}</strong></p>
                <p>{{ __('product.booking.start') }}: {{ preset.getDateString(booking.dateStart) }}</p>
                <p>{{ __('product.booking.end') }}: {{ preset.getDateString(booking.dateEnd) }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 visible-lg visible-md visible-sm">
                {{ booking.contact.name }}
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 visible-lg visible-md visible-sm">
                {{ __('product.booking.package.total') }}：{% if booking.settlementCurrency == 'hkd' %}${% else %}￥{% endif %}{{ (booking.total / 100).toFixed(2) }}
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right">
                <strong>{{ __(booking.status) }}</strong> {% if booking.status == 'db.booking.wait_to_pay' %}<a href="/user/booking/detail/{{ booking.bookingId }}" class="btn btn-primary">{{ __('common.pay') }}</a>{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{{ pagerView.create(pager, preset) }}

{% include './footer.html' %}

{% endblock %}