{% extends './layout.html' %}

{% block content %}

{% include './nav-owner.html' with {view_active:'setting'} %}

<div class="container columns-sm">
	<ol class="breadcrumb">
		<li><a href="/owner">{{ __('nav.boatowner') }}</a></li>
		<li class="active">{{ __('owner.nav.ownerInformation') }}</li>
	</ol>
	<div class="page-header">
	  <h1>{{ __('owner.nav.ownerInformation') }}</h1>
	</div>
	<div class="userSetting" ng-app="ownerSetting" ng-controller="ownerSettingCtrl">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-8 text-right">
				<button class="btn btn-info" ng-model="owner" edit ng-show="!isEdit">
				  <span class="glyphicon glyphicon-pencil"></span>{{ __('common.edit') }}
				</button>
			</div>
		</div>
		<div class="row">
			<input type="hidden" name="_csrf" id="csrf" value="{{ _csrf }}">
				<div class="col-lg-9">
					<dl class="dl-horizontal">
						<dt>{{ __('common.mobile') }}</dt>
						<dd>
								<input type="text" ng-model="owner.mobile" ng-class="{'editInput':isEdit, 'form-control':isEdit}">
						</dd>
						<dt>{{ __('product.booking.name')}}</dt>
						<dd>
							<div class="col-lg-2 noPadding">
								<input type="text" ng-model="owner.name.first" ng-class="{'editInput':isEdit, 'form-control':isEdit}" >
							</div>
							<div class="col-lg-10 noPadding">
								<input type="text" ng-model="owner.name.last" ng-class="{'editInput':isEdit, 'form-control':isEdit}" >
							</div>
						</dd>
						<dt>{{ __('common.nickname') }}</dt>
						<dd>
							<input type="text" ng-model="owner.nickname" ng-class="{'editInput':isEdit, 'form-control':isEdit}">
						</dd>
						<dt>{{ __('common.email') }}</dt>
						<dd>
							<input type="email" ng-model="owner.email" ng-class="{'editInput':isEdit, 'form-control':isEdit}">
						</dd>
						<dt>{{ __('common.customLink') }}</dt>
						<dd>
							<div ng-if="!owner.customLink">
								<input type="text" id="customLink" ng-class="{'editInput':isEdit, 'form-control':isEdit}">
							</div>
							<div ng-if="owner.customLink">
								<span ng-bind="owner.customLink"></span>								
							</div>
						</dd>
						<dt>{{ __('common.currency') }}</dt>
						<dd>
							<span ng-bind="getOptionsValue(owner.currency, 'currency')" ng-show="!isEdit"></span>
							<select ng-model="owner.currency" ng-options="opt.currency for opt in currencys" ng-show="isEdit" class="form-control">
							</select>
						</dd>
						<dt>{{ __('common.country') }}</dt>
						<dd>
							<span ng-bind="getOptionsValue(owner.location.country, 'country')" ng-show="!isEdit"></span>
							<select ng-model="owner.location.country" ng-options="opt.country for opt in countrys" ng-show="isEdit" class="form-control">
							</select>
						</dd>
						<dt>{{ __('common.city') }}</dt>
						<dd>
							<span ng-bind="getOptionsValue(owner.location.city, 'city')" ng-show="!isEdit"></span>
							<select ng-model="owner.location.city" ng-options="opt.city for opt in citys" ng-show="isEdit" class="form-control">
							</select>
						</dd>
						<dt>{{ __('common.locale') }}</dt>
						<dd>
							<span ng-bind="getOptionsValue(owner.locale, 'locale')" ng-show="!isEdit"></span>
							<select ng-model="owner.locale" ng-options="opt.locale for opt in locales" ng-show="isEdit" class="form-control">
							</select>
						</dd>
						<dt>{{ __('common.boats') }}</dt>
						<dd>
							<span ng-bind="owner.boats.length"></span>
						</dd>
						<dt>{{ __('common.createDate') }}</dt>
						<dd>
							<span ng-bind="switchDate(owner.createDate,'lll')"></span>
						</dd>
						<dt>{{ __('common.description') }}</dt>
						<dd>
							<div contenteditable="false" ng-bind="owner.description" ng-class="{'editInput':isEdit, 'form-control':isEdit}" id="div_input">
							</div>
						</dd>
					</dl>
					<div class="col-lg-4 col-lg-offset-8 text-right">
						<button class="btn btn-primary" ng-model="owner" cancel ng-show="isEdit">
					    <span class="glyphicon glyphicon-remove"></span>{{ __('common.cancel') }}
					  </button>
					  <button class="btn btn-danger" confirm ng-show="isEdit">
					    <span class="glyphicon glyphicon-ok"></span>{{ __('common.submit') }}
					  </button>
					</div>
				</div>
		</div>
	</div>
</div>


{% include './footer.html' %}

{% endblock %}

{% block foot %}
<script src="http://cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
<script	src="//cdn.bootcss.com/moment.js/2.10.6/moment.min.js"></script>
<script>
	angular.element("input").prop("readOnly", true);
	var app = angular.module("ownerSetting", []);

	app.controller("ownerSettingCtrl", function($scope, $http, common122){

	$scope.isEdit = false;
  	$scope.userTemp = {};
  	$scope.tempdes = "";
  	$scope.owner = {
  		description : ""
  	}

		$http.get("/owner/setting/getOwnerInformation").success(function(owner){
  		angular.element("#div_input").text(owner.description);
  		$scope.owner = owner;
  	});

		$scope.switchDate = common122.switchDate;
		$scope.locales = common122.locales;
		$scope.countrys = common122.countrys;
		$scope.citys = $scope.countrys[0].citys;
		$scope.currencys = common122.currencys;
		$scope.getOptionsValue = common122.getOptionsValue;

		$scope.setOptionValue = function(arr, proname, val){
		  for(var i in arr){
		    if(arr[i].value == val){
		      if(proname == "city" || proname == "pier" || proname == "country"){
		        $scope.owner.location[proname] = arr[i];
		      }else{
		        $scope.owner[proname] = arr[i];
		      }
		    }
		  }
		}
	}); 

	app.directive("edit", function(){
		return {
			restrict: "A",
			require : "ngModel",
			link: function(scope, element, attr, ngModel){
				element.bind("click", function(ev){

  				angular.copy(ngModel.$modelValue, scope.userTemp);
  				scope.isEdit = true;

  				scope.setOptionValue(scope.currencys, "currency", scope.owner.currency);
  				scope.setOptionValue(scope.citys, "city", scope.owner.location.city);
  				scope.setOptionValue(scope.locales, "locale", scope.owner.locale);
  				scope.setOptionValue(scope.countrys, "country", scope.owner.location.country);
  				scope.$apply();

  				scope.tempdes = angular.element("#div_input").text();
					angular.element("#div_input").prop("contenteditable","plaintext-only");
  				angular.element("input").removeProp("readOnly");
				});
			}
		}
	});

	app.directive("cancel", function(){
  	return {
  		restrict: "A",
  		require : "ngModel",
  		link: function(scope, element, attr, ngModel){
  			element.bind("click", function(e){
  					
  				angular.copy(scope.userTemp, ngModel.$modelValue);
  				scope.isEdit = false;
  				scope.$apply();

  				angular.element("#div_input").text(scope.tempdes);
  				scope.tempdes = "";
  				angular.element("#div_input").prop("contenteditable",false);
  				angular.element("input").prop("readOnly", true);
  			});
  		}
  	}
  });

	app.directive("confirm", function($http){
  	return {
  		restrict: "A",
  		link: function(scope, element, attr){
  			element.bind("click", function(e){

  				scope.isEdit = false;
  				scope.$apply();
  				scope.owner.description = angular.element("#div_input").text();
  				
  				scope.owner.customLink = angular.element("#customLink").val();
  				$http.post("/owner/setting/updateOwnerInformation", scope.owner, {
  					headers: {
					    'X-XSRF-TOKEN': angular.element("#csrf").val()
					 	}
  				}).success(function(owner){
  					scope.owner = owner;
  					angular.element("#div_input").text(scope.owner.description);
  				});

  				angular.element("#div_input").prop("contenteditable", false);
  				angular.element("input").prop("readOnly", true);
  			});
  		}
  	}
  });

</script>
<script	src="/js/common122.js"></script>

{% endblock %}