{% import './macros/pager.html' as pagerView %}

{% extends './layout.html' %}

{% block head %}
<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

{% include './nav-owner.html' with {view_active:'booking'} %}
<div class="columns-sm container">
  <ol class="breadcrumb">
    <li><a href="/owner">{{ __('nav.boatowner') }}</a></li>
    <li class="active">{{ __('owner.nav.booking') }}</li>
  </ol>
  <div class="page-header">
    <h1>{{ __('owner.nav.booking') }}</h1>
  </div>
  {% if boats.length > 1 %}
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('product.booking.findByBoat') }}</label>
    </div>
    <div class="btn-group col-lg-4">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ query.boatName || __('event.all') }} <span class="caret"></span></button>
        <ul class="dropdown-menu disabled">
          <li><a href="/owner/booking?selectBoat=all&selectDate={{ query.selectDate }}" data-value="{{ __('event.all') }}">{{ __('event.all') }}</a></li>
          {% for boat in boats %}
          <li><a href="/owner/booking?selectBoat={{ boat._id.valueOf() }}&selectDate={{ query.selectDate }}" data-value="{{boat.name}}">{{boat.name}}</a></li>
          {% endfor %}
        </ul>
    </div>
  </div>
  {% endif %}
  <div class="row search-field">
    <div class="col-md-2">
      <label>{{ __('product.booking.findByDate') }}</label>
    </div>
    <div class="col-md-4">
      <div class="input-group date" id="datetimepicker">
        <input class="form-control" type="text" id="timepick" {% if query.selectDate %} value="{{ query.selectDate }}" {% endif %}>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>  
  </div>
  <hr class="hr-divider">
  <h4>{{ __n('owner.list.find %d booking', 'owner.list.find %d booking', itemCount) }}</h4>
  <div class="booking-list">
    {% for booking in bookings %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-10 col-sm-10 col-xs-8">
            <strong>{{ __('product.booking.result.bookingDate') }}: {{ preset.getDateString(booking.createDate) }} {{ __('product.booking.result.bookingId') }}: {{ booking.bookingId }}</strong>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4 text-right">
            <a href="/owner/booking/detail/{{ booking.bookingId }}" class="btn btn-default btn-sm">{{ __('common.detail') }}</a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="thumbnail">
                  <a href="/product/{{ booking.productId.id }}/{{ booking.productName }}/{{ booking.boatId.valueOf() }}/{{ booking.boatName }}">
                    <img src="{{ booking.productId.photo }}" alt="product photo">
                  </a>
                </div>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-8">
                <p><strong>{{ booking.boatName }} - {{ booking.productName }} - {{ booking.packageName }}</strong></p>
                <p>{{ __('product.booking.start') }}: {{ preset.getDateString(booking.dateStart) }}</p>
                <p>{{ __('product.booking.end') }}: {{ preset.getDateString(booking.dateEnd) }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 visible-lg visible-md visible-sm">
                {{ booking.contact.name }}
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 visible-lg visible-md visible-sm">
                {{ __('product.booking.package.total') }}：{% if booking.settlementCurrency == 'hkd' %}${% else %}￥{% endif %}{{ (booking.total / 100).toFixed(2) }}
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right">
                <strong>{{ __(booking.status) }}</strong> {% if booking.status == 'db.booking.wait_to_pay' %}<a href="/user/booking/detail/{{ booking.bookingId }}" class="btn btn-primary">{{ __('common.pay') }}</a>{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {{ pagerView.create(pager) }}
</div>

{% include './footer.html' %}

{% endblock %}

{% block foot %}
<script src="//cdn.bootcss.com/moment.js/2.10.6/moment.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
{% if preset.locale !== "en" %}
  <script src="//cdn.bootcss.com/moment.js/2.11.1/locale/zh-cn.js"></script>
{% endif %}

<script>
  var locale;
  {% if preset.locale !== "en" %}
  locale = "zh-cn";
  {% endif %}
 $(function (){
    $("#datetimepicker").datetimepicker({
      format: "YYYY-MM-DD",
      viewMode: "days",
      allowInputToggle: true,
      showTodayButton: true,
      showClear: true,
      locale: locale || "en"
    }).on("dp.hide", function(){
      window.location.href = "/owner/booking?selectBoat={{ query.selectBoat }}&selectDate="+$("#timepick").val();
    });
  });

</script>
{% endblock %}