{% extends './layout.html' %}

{% block head %}
<link rel="stylesheet" href="http://cdn.bootcss.com/fullcalendar/2.4.0/fullcalendar.min.css">
<link href="http://cdn.bootcss.com/photoswipe/4.1.1/photoswipe.min.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/photoswipe/4.1.1/default-skin/default-skin.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% include './nav.html' %}
<div data-ng-app="product" data-ng-controller="productController">
  <div class="columns-sm" data-ng-controller="bookingController">
    <form name="booking" method="post" action="/booking/submit" novalidate>
      <input type="hidden" name="_csrf" value="{{ _csrf }}">
      <input type="hidden" name="productId" value="{{ product.id }}">
      <input type="hidden" name="boatId" value="{{ boat.id }}">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="/">{{ __('nav.home') }}</a></li>
          <li><a href="/boat/{{ boat.id }}/{{ boat.name }}">{{ boat.name }}</a></li>
          <li class="active">{{ product.name }}</li>
        </ol>
        <div id="product-base" class="thumbnail">
          <div class="boat-thumbnail" style="background-image: url({{ product.photo }})"></div>
          <div class="row caption">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h3>{{ product.name }}</h3>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
              <h3 class="text-danger">{{ preset.generateCharge(product.baseCharge, product.currency) }}
              {% if product.baseUnit %}
              /<small class="boat-unit">{{ product.baseAmount }}{{ __(product.baseUnit)}}</small>
              {% endif %}</h3>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p>{{ product.summary }}</p>
            </div>
          </div>
        </div>
        <div id="product-booking" class="thumbnail">
          <div class="caption" id="product-booking-caption">
            <h3>{{ __('product.section.booking') }}</h3>
            <hr class="hr-divider">
            <!-- /*选择步骤 -->
            <p class="text-center" id="booking-step-title">
              <strong>{{ __('product.booking.step') }}</strong>
            </p>
            <div class="text-center clearfix product-booking-container">
              <div class="col-xs-3 booking-step styleTransition">
                <span class="booking-step-glyphicon glyphicon glyphicon-calendar"></span>
                <div class="booking-step-font-size">{{ __('product.booking.selectDate') }}</div>
              </div>
              <div class="col-xs-3 booking-step styleTransition">
                <span class="booking-step-glyphicon glyphicon glyphicon-time"></span>
                <div class="booking-step-font-size">{{ __('product.booking.selectPackage') }}</div>
                <div class="col-xs-10 borderline styleTransition"></div>
              </div>
              <div class="col-xs-3 booking-step styleTransition">
                <span class="booking-step-glyphicon glyphicon glyphicon-th-list"></span>
                <div class="booking-step-font-size">{{ __('product.booking.package.items') }}</div>
                <div class="col-xs-10 borderline styleTransition"></div>
              </div>
              <div class="col-xs-3 booking-step styleTransition">
                <span class="booking-step-glyphicon glyphicon glyphicon-phone"></span>
                <div class="booking-step-font-size">{{ __('product.booking.contact') }}</div>
                <div class="col-xs-10 borderline styleTransition"></div>
              </div>
            </div>
            <!-- 选择步骤*/ -->
            <div id="product-booking-date" class="product-booking-container">
              <p id="step1Hide" class="text-center"><strong>{{ __('product.booking.selectDate') }}</strong></p>
              <div id="calendar"></div>
              <div id="product-booking-package" class="product-booking-container">
                <p class="text-center"><strong>{{ __('product.booking.selectPackage') }}</strong></p>
                <div class="panel-group" id="package-accordion" role="tablist">
                  {% raw %}
                  <input id="data-selected-date" name="selectedDate" class="collapse" type="text" data-ng-model="selectedDate" data-ng-change="selectedDateChange()">
                  <input id="data-selected-date-start" name="dateStart" class="collapse" type="text" data-ng-model="dateStart" required>
                  <input id="data-selected-date-end" name="dateEnd" class="collapse" type="text" data-ng-model="dateEnd" required>
                  <input name="currPackage" class="collapse" type="number" data-ng-model="currPackage" min="0" required>
                  <input name="packageId" class="collapse" type="text" data-ng-model="packages[currPackage]._id">
                  <input name="items" class="collapse" type="text" value="{{ getItems() }}">
                  <input name="total" class="collapse" type="text" value="{{ getTotal() }}">
                  <input id="data-calendar-events" name="events" class="collapse" type="text" data-ng-model="events">
                  <div data-ng-show="!packageAlready" class="text-center">
                    <i class="fa fa-spinner fa-2x fa-spin text-muted"></i>
                  </div>
                  <div class="panel panel-custom" data-ng-repeat="package in packages" data-ng-if="checkAvailable(package)" data-ng-show="packageAlready" data-ng-cloak>
                    <div class="panel-heading" role="tab" id="package-heading-{{ $index }}">
                      <h4 class="panel-title relative-container collapsed" role="button" data-toggle="collapse" data-parent="#package-accordion" href="#package-collapse-{{ $index }}" aria-expanded="true" aria-controls="package-collapse-{{ $index }}">
                        {{ package.name }}({{ displayAmount(generateCharge(package.baseCharge)) }})
                        <a class="absolute-right-top more" role="button" data-toggle="collapse" data-parent="#package-accordion" href="#package-collapse-{{ $index }}" aria-expanded="true" aria-controls="package-collapse-{{ $index }}">
                          <span class="showInCollapsed glyphicon glyphicon-triangle-bottom"></span>
                          <span class="hideInCollapsed glyphicon glyphicon-triangle-top"></span>
                        </a>
                      </h4>
                    </div>
                    <div id="package-collapse-{{ $index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="package-heading-{{ $index }}">
                      <div class="panel-body">
                        <div class="package-summary" data-ng-bind-html="package.summary | santize"></div>
                        <div class="package-select-time">
                          {% endraw %}
                          <hr class="hr-divider">
                          <p><strong>{{ __('product.booking.selectTime') }}</strong></p>
                          {% raw %}
                          <div class="row" data-ng-if="package.type.rule == 'slot'">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" data-ng-repeat="slot in package.type.slots">
                              <button type="button" class="package-slot btn-block" data-ng-class="{'selected': checkSlotSelected($parent.$index, $index)}" data-ng-click="toggleSlot($parent.$index, $index)" data-ng-disabled="checkTimeAvailable(package.type.slots[$index])">
                                {{ slot.name }} ( {{ slot.start }} - {{ slot.end }} )
                              </button>
                            </div>
                          </div>
                          <div data-ng-if="package.type.rule == 'minute'">
                            <div class="row" data-ng-repeat="slot in package.type.slots">
                              <div class="col-lg-12">{{ slot.name }}</div>
                              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" data-ng-repeat="time in getTimes(package.type, slot)">
                                <button type="button" class="package-slot-time btn-block" data-ng-class="{'selected': checkTimeSelected($parent.$parent.$index,time)}" data-ng-click="toggleTime($parent.$parent.$index, $parent.$index, time)" data-ng-disabled="checkTimeAvailable(getSlotFromTime(time))">
                                  {{ time }}
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endraw %}
                  <div class="alert alert-warning" data-ng-if="!availablePackages && packageAlready" data-ng-cloak>
                    {{ __('product.booking.no_package') }}
                  </div>
                </div>
                <div class="alert alert-danger" data-ng-show="packageAlready && step1 && (!dateStart || !dateEnd)" data-ng-cloak>
                  <ul class="list-layout">
                    <li data-ng-show="step1 && (!dateStart || !dateEnd)"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.submit.package') }} </li>
                  </ul>
                </div>
              </div>
              <div class="alert alert-danger" data-ng-show="step0 && !selectedDate" data-ng-cloak>
                <ul class="list-layout">
                  <li data-ng-show="step0 && !selectedDate"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.submit.time') }} </li>
                </ul>
              </div>
              <div class="row calendar-controller" id="calendar-controller">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <span class="glyphicon glyphicon-stop calendar-event-icon"></span>
                  {{ __('calendar.booked') }}
                  <span class="glyphicon glyphicon-stop calendar-event-icon-unavailable-client"></span>
                  {{ __('calendar.unavailable') }}
                </div>
              </div>
            </div>

            <div id="product-booking-option">
              <p class="text-center" data-ng-cloak><strong>{{ __('product.booking.package.items') }}</strong></p>
              <div id="product-booking-person" class="product-booking-container">
                <p data-ng-cloak><strong>{{ __('product.booking.numberOfPeople') }} (1 - {% raw %}{{ packages[currPackage].maxPersons }}{% endraw %})</strong></p>
                
                <input type="number" name="numberOfPersons" class="form-control" data-ng-model="numberOfPersons" placeholder="{{ __('product.booking.error.numberOfPeople.required') }}" min="1" max="{% raw %}{{ packages[currPackage].maxPersons }}{% endraw %}" required data-ng-cloak>
              </div>
              <div id="product-booking-items" class="product-booking-container" data-ng-if="currPackage > -1" data-ng-cloak>
                
                <ul class="list-group list-table">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><strong>{{ __('product.booking.package.check') }}</strong></div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        <div class="row">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7"><strong>{{ __('product.booking.package.item') }}</strong></div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 text-right"><strong>{{ __('product.booking.package.quantity') }}</strong></div>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-right"><strong>{{ __('product.booking.package.subtotal') }}</strong></div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="btn-group btn-group-sm" data-toggle="buttons">
                          <label class="btn btn-default disabled">
                            <span class="glyphicon glyphicon-ok"></span>
                            <input type="checkbox" autocomplete="off">
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        <div class="row">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7"><strong>{% raw %}{{ baseChargeName }} ({{ displayAmount(generateCharge(baseCharge)) }}){% endraw %}</strong></div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 text-right"><strong>{% raw %}{{ slotCount }}{% endraw %}</strong></div>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-right">
                        <strong>{% raw %}{{ displayAmount(generateCharge(baseCharge) * slotCount) }}{% endraw %}</strong>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item" data-ng-if="extraSlot > 0">
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="btn-group btn-group-sm" data-toggle="buttons">
                          <label class="btn btn-default disabled">
                            <span class="glyphicon glyphicon-ok"></span>
                            <input type="checkbox" autocomplete="off">
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        <div class="row">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7"><strong>{% raw %}{{ extraSlotChargeName }} ({{ displayAmount(generateCharge(extraSlotCharge)) }}){% endraw %}</strong></div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 text-right"><strong>{% raw %}{{ extraSlot }}{% endraw %}</strong></div>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-right">
                        <strong>{% raw %}{{ displayAmount(generateCharge(extraSlotCharge) * extraSlot ) }}{% endraw %}</strong>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item" data-ng-if="packages[currPackage].extraCharge >0 && (numberOfPersons - packages[currPackage].basePersons) > 0">
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="btn-group btn-group-sm" data-toggle="buttons">
                          <label class="btn btn-default disabled">
                            <span class="glyphicon glyphicon-ok"></span>
                            <input type="checkbox" autocomplete="off">
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        <div class="row">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7"><strong>{{ __('product.booking.package.extra') }} ({% raw %}{{ displayAmount(generateCharge(packages[currPackage].extraCharge)) }}{% endraw %})</strong></div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 text-right"><strong>{% raw %}{{ numberOfPersons - packages[currPackage].basePersons }}{% endraw %}</strong></div>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-right">
                        <strong>{% raw %}{{ displayAmount(generateCharge(packages[currPackage].extraCharge) * (numberOfPersons - packages[currPackage].basePersons)) }}{% endraw %}</strong>
                      </div>
                    </div>
                  </li>
                  {% raw %}
                  <li class="list-group-item" data-ng-repeat="item in packages[currPackage].items">
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="btn-group btn-group-sm" data-toggle="buttons" data-ng-if="item.type == 'single' " data-ng-click="toggleItem(item)">
                          <label class="btn btn-default" data-ng-if="!selectedItems[item.name]">
                            <span class="glyphicon glyphicon-unchecked"></span>
                            <input type="checkbox" autocomplete="off">
                          </label>
                          <label class="btn btn-primary" data-ng-if="selectedItems[item.name]">
                            <span class="glyphicon glyphicon-ok"></span>
                            <input type="checkbox" autocomplete="off">
                          </label>
                        </div>
                        <div class="btn-group btn-group-sm" data-toggle="buttons" data-ng-if="item.type == 'multi' " data-ng-click="focus(item, $index)">
                          <label class="btn btn-default disabled" data-ng-if="!selectedItems[item.name]">
                            <span class="glyphicon glyphicon-unchecked"></span>
                            <input type="checkbox" autocomplete="off">
                          </label>
                          <label class="btn btn-primary disabled" data-ng-if="selectedItems[item.name]">
                            <span class="glyphicon glyphicon-ok"></span>
                            <input type="checkbox" autocomplete="off">
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        <div class="row">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7"><strong>{{ item.name }} ({{ displayAmount(generateCharge(item.charge)) }}){{ item.max ? ' (' + maxTips + ': ' + item.max + ')' : '' }} </strong></div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 text-right">
                            <strong data-ng-if="item.type == 'single'">{{ selectedItems[item.name] ? selectedItems[item.name].amount : 0 }}</strong>
                            <input type="number" id="{{'item'+$index}}" name="{{'item'+$index}}" class="form-control input-small text-right" placeholder="0" data-ng-if="item.type == 'multi'" data-ng-model="inputValue[item.name]" data-ng-step="1" onkeydown="inputCheck(event,this)" data-ng-keyup="inputItem(item, $index)"  min="0" max="{{ item.max }}" >
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-right">
                        <strong>{{ selectedItems[item.name] ? displayAmount(generateCharge(selectedItems[item.name].charge) * selectedItems[item.name].amount) : displayAmount(0) }}</strong>
                      </div>
                    </div>
                  </li>
                  {% endraw %}
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 text-right">
                        <h4>{{ __('product.booking.package.total') }}</h4>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-right">
                        <h4>{% raw %}{{ displayAmount(getTotal()) }}{% endraw %}</h4>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="alert alert-danger" data-ng-show="(booking.numberOfPersons.$dirty && booking.numberOfPersons.$invalid) || errStep2 || invalidItem" data-ng-cloak>
                <ul class="list-layout">
                  <li data-ng-show="booking.numberOfPersons.$error.required"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.numberOfPeople.required') }}</li>
                  <li data-ng-show="booking.numberOfPersons.$error.min || booking.numberOfPersons.$error.max"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.numberOfPeople.outOfRange') }}</li>
                  <li data-ng-show="booking.numberOfPersons.$error.number"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.numberOfPeople.invaild') }}</li>
                  <li data-ng-show="invalidItem"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.submit.items') }}</li>
                </ul>
              </div>
            </div>
            <div id="product-booking-contact" class="product-booking-container" data-ng-cloak>
              <p class="text-center"><strong>{{ __('product.booking.contact') }}</strong></p>
              <div>
                <div class="alert alert-danger" data-ng-show="booking.contact.$dirty && booking.contact.$invalid">
                  <ul class="list-layout">
                    <li data-ng-show="booking.contact.$error.required"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.contact.required') }}</li>
                    <li data-ng-show="booking.contact.$error.maxlength"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.contact.maxlength') }}</li>
                  </ul>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                  </span>
                  <input type="text" class="form-control" name="contact" placeholder="{{ __('product.booking.name_plh') }}" data-ng-model="contact.name" maxlength="50" required>
                </div>
                <div class="alert alert-danger" data-ng-show="booking.mobile.$dirty && booking.mobile.$invalid">
                  <ul class="list-layout">
                    <li data-ng-show="booking.mobile.$error.required"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.mobile.required') }}</li>
                    <li data-ng-show="booking.mobile.$error.maxlength"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.mobile.maxlength') }}</li>
                    <li data-ng-show="booking.mobile.$error.number"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.mobile.invaild') }}</li>
                    <li data-ng-show="booking.mobile.$error.pattern"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.mobile.invaild') }}</li>
                  </ul>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-phone"></span>
                  </span>
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle btn-middle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% raw %} +{{ contact.areaCode || 86}} {% endraw %}<span class="caret"></span></button>
                    <input class="dropdown-menu-selected collapse" type="text" name="area_code" data-ng-model="contact.areaCode" data-ng-change="areaCodeChange()">
                    <ul class="dropdown-menu">
                      <li><a href="#" data-value="86">+86</a></li>
                      <li><a href="#" data-value="852">+852</a></li>
                    </ul>
                  </div>
                  <input type="number" class="form-control" name="mobile" placeholder="{{ __('product.booking.mobile_plh') }}" data-ng-model="contact.mobile" maxlength="11" required data-ng-pattern="mobileTest">
                </div>
                <div class="alert alert-danger" data-ng-show="booking.email.$dirty && booking.email.$invalid">
                  <ul class="list-layout">
                    <li data-ng-show="booking.email.$error.required"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.email.required') }}</li>
                    <li data-ng-show="booking.email.$error.pattern"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.email.invaild') }}</li>
                  </ul>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope"></span>
                  </span>
                  <input type="email" class="form-control" name="email" placeholder="{{ __('product.booking.email_plh') }}" data-ng-model="contact.email" data-maxlength="100" data-ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" required>
                </div>
              </div>
              <div class="alert alert-danger" data-ng-show="booking.$invalid && submitted" data-ng-cloak>
                <ul class="list-layout">
                  <li data-ng-show="booking.dateEnd.$invalid"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.submit.time') }}</li>
                  <li data-ng-show="booking.currPackage.$error.min"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.submit.package') }}</li>
                  <li data-ng-show="booking.numberOfPersons.$invalid"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.submit.numberOfPeople') }}</li>
                  <li data-ng-show="invalidItem"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.submit.items') }}</li>
                  <li data-ng-show="booking.contact.$invalid || booking.mobile.$invalid || booking.email.$invalid"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.submit.contact') }}</li>
                </ul>
              </div>
            </div>
            <div class="product-booking-container">
              <div class="row product-booking-container">
                <div class="col-md-2 col-md-offset-8 col-sm-4 col-sm-offset-4 col-xs-6">
                  <div data-ng-cloak>
                    <button type="button" class="btn btn-primary btn-block" back id="backStep">{{ __('product.booking.back') }}</button>
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div data-ng-cloak>
                    <button type="button" class="btn btn-danger btn-block" data-ng-show="lastStep" data-ng-click="validate()">{{ __('product.booking.book') }}</button>
                  </div>
                  <div>
                    <button type="button" class="btn btn-danger btn-block" selectstep data-ng-show="!lastStep" >{{ __('product.booking.next') }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="product-detail" class="thumbnail">
          <div class="caption">
            <h3>{{ __('product.section.desc') }}</h3>
            <hr class="hr-divider">
            {% autoescape %}{{ product.description }}{% endautoescape %}
          </div>
        </div>
        <div id="product-include" class="thumbnail">
          <div class="caption">
            <h3>{{ __('product.section.include') }}</h3>
            <hr class="hr-divider">
            {% autoescape %}{{ product.chargeInclude }}{% endautoescape %}
          </div>
        </div>
        <div id="product-exclude" class="thumbnail">
          <div class="caption">
            <h3>{{ __('product.section.exclude') }}</h3>
            <hr class="hr-divider">
            {% autoescape %}{{ product.chargeExclude }}{% endautoescape %}
          </div>
        </div>
        <div id="product-notice" class="thumbnail">
          <div class="caption">
            <h3>{{ __('product.section.notice') }}</h3>
            <hr class="hr-divider">
            {% autoescape %}{{ product.attention }}{% endautoescape %}
          </div>
        </div>
      </div>
      <div id="booking-confirm-modal" class="modal fade">
        <div class="modal-table">
          <div class="modal-table-cell">
            <div class="modal-dialog">
              <div class="modal-content">
                <div id="booking-confirm-title" class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">{{ __('product.booking.confirmBooking') }}</h4>
                </div>
                <div class="modal-body">
                  <dl class="dl-horizontal">
                    <dt>{{ __('product.booking.bookingBoat') }}</dt>
                    <dd>{{ boat.name }}</dd>
                    <dt>{{ __('common.owner') }}</dt>
                    <dd>{{ boat.owner.nickname }}</dd>
                    <dt>{{ __('common.location') }}</dt>
                    <dd>{{ __(boat.location.city) }} {% if boat.location.pier %}- {{ __(boat.location.pier) }}{% endif %}</dd>
                    <dt>{{ __('product.booking.bookingProduct') }}</dt>
                    <dd>{{ product.name }}</dd>
                    <dt>{{ __('product.booking.start') }}</dt>
                    <dd>{% raw %}{{ dateStart }}{% endraw %}</dd>
                    <dt>{{ __('product.booking.end') }}</dt>
                    <dd>{% raw %}{{ dateEnd }}{% endraw %}</dd>
                    <dt>{{ __('product.booking.numberOfPeople') }}</dt>
                    <dd>{% raw %}{{ numberOfPersons }}{% endraw %}</dd>
                    <dt>{{ __('product.booking.bookingPackage') }}</dt>
                    <dd>{% raw %}{{ packages[currPackage].name }} ({{ displayAmount(generateCharge(packages[currPackage].baseCharge)) }}){% endraw %}</dd>
                    <dt>{{ __('product.booking.name') }}</dt>
                    <dd>{% raw %}{{ contact.name }}{% endraw %}</dd>
                    <dt>{{ __('product.booking.mobile') }}</dt>
                    <dd>+{% raw %}{{ contact.areaCode + contact.mobile }}{% endraw %}</dd>
                    <dt>{{ __('product.booking.email') }}</dt>
                    <dd>{% raw %}{{ contact.email }}{% endraw %}</dd>
                  </dl>
                  <table class="table table-summary">
                    <caption>{{ __('product.booking.package.items') }}</caption>
                    <tr><th>{{ __('product.booking.package.item') }}</th><th>{{ __('product.booking.package.quantity') }}</th><th>{{ __('product.booking.package.subtotal') }}</th></tr>
                    <tr><td>{% raw %}{{ baseChargeName }} ({{ displayAmount(generateCharge(baseCharge)) }})</td><td>{{ slotCount }}</td><td>{{ displayAmount(generateCharge(baseCharge) * slotCount) }}{% endraw %}</td></tr>
                    <tr data-ng-if="extraSlot > 0"><td>{% raw %}{{ extraSlotChargeName }} ({{ displayAmount(generateCharge(extraSlotCharge)) }})</td><td>{{ extraSlot }}</td><td>{{ displayAmount(generateCharge(extraSlotCharge) * extraSlot) }}{% endraw %}</td></tr>
                    <tr data-ng-if="packages[currPackage].extraCharge > 0 && (numberOfPersons - packages[currPackage].basePersons) > 0"><td>{{ __('product.booking.package.extra') }} ({% raw %}{{ displayAmount(generateCharge(packages[currPackage].extraCharge)) }}{% endraw %})</td><td>{% raw %}{{ numberOfPersons - packages[currPackage].basePersons }}{% endraw %}</td><td>{% raw %}{{ displayAmount(generateCharge(packages[currPackage].extraCharge) * (numberOfPersons - packages[currPackage].basePersons)) }}{% endraw %}</td></tr>
                    <tr data-ng-repeat="item in selectedItems"><td>{% raw %}{{ item.name }} ({{ displayAmount(generateCharge(item.charge)) }}){% endraw %}</td><td>{% raw %}{{ item.amount }}{% endraw %}</td><td>{% raw %}{{ displayAmount(generateCharge(item.charge) * item.amount) }}{% endraw %}</td></tr>
                  </table>
                  <div class="text-right">
                    <h4>{{ __('product.booking.package.total') }} {% raw %}{{ displayAmount(getTotal()) }}{% endraw %}</h4>
                  </div>
                  <div id="booking-confirm-contract" class="alert alert-warning text-right">
                    <label><input type="checkbox" name="contract" autocomplete="off" data-ng-model="agree"> {{ __('common.readandagree') }}</label> <a id="btn-contract" href="#booking-confirm-contract">{{ __('product.booking.contract') }}</a>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                      <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">{{ __('common.cancel') }}</button>
                    </div>
                    <div class="col-xs-4">
                      <button type="submit" class="btn btn-danger btn-block" data-ng-disabled="!agree">{{ __('common.submit') }}</button>
                    </div>
                  </div>
                </div>
                <div id="contract-container" class="modal-footer static-article hidden">
                  {% include './static/contract.html' %}
                  <a href="#booking-confirm-title">{{ __('common.back_to_top') }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="container" data-ng-controller="moreController">
    <div data-ng-if="boat.products.length > 0" data-ng-cloak>
      <h3>{{ __('product.section.more') }}</h3>
      <hr class="hr-divider">
      <div class="row">
        <div class="boat-product col-lg-6 col-md-6 col-sm-12 col-xs-12" data-ng-repeat="product in boat.products">
          {% raw %}
          <div class="thumbnail">
            <a data-ng-href="/product/{{ product._id }}/{{ product.name }}/{{ boat._id }}/{{ boat.name }}">
              <div class="boat-thumbnail" data-ng-style="{'background-image': 'url({{ product.photo }})'}"></div>
              <div class="caption text-muted">
                <h4 data-ng-bind="product.name"></h4>
                <p data-ng-bind=" product.summary "></p>
                <div class="row">
                  <h3 class="col-xs-6 text-danger">{{ displayAmount(generateCharge(product.baseCharge)) }}
                  <span data-ng-if="product.baseUnit">/<small class="boat-unit">{{ product.baseAmount }}{{switchUnit(product.baseUnit)}}</small></span>
                  </h3>
                  
                  <p class="col-xs-6 text-right boat-product-learn">
                    {% endraw %}
                    {{ __('boat.detail.learn') }}
                    <span class="glyphicon glyphicon-menu-right"></span></p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-fixed-bottom fix-container">
    <div class="container text-center">
      <ul id="product-nav" class="nav nav-pills">
        <li role="presentation" class="hidden-xs"><a href="#product-base">{{ __('product.section.info') }}</a></li>
        <li role="presentation"><a href="#product-booking">{{ __('product.section.booking') }}</a></li>
        <li role="presentation"><a href="#product-detail">{{ __('product.section.desc') }}</a></li>
        <li role="presentation" class="hidden-xs"><a href="#product-include">{{ __('product.section.include') }}</a></li>
        <li role="presentation" class="hidden-xs"><a href="#product-exclude">{{ __('product.section.exclude') }}</a></li>
        <li role="presentation"><a href="#product-notice">{{ __('product.section.notice') }}</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
  <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
  </div>
  <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div> 
      </div>
      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
      </button>
      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
      </button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>

{% include './footer.html' %}

{% endblock %}

{% block foot %}

<script src="http://cdn.bootcss.com/moment.js/2.10.6/moment.min.js"></script>
<script src="http://cdn.bootcss.com/fullcalendar/2.4.0/fullcalendar.min.js"></script>
<script src="http://cdn.bootcss.com/fullcalendar/2.4.0/lang/{% if preset.locale == 'zh-cn' %}zh-cn{% elseif preset.locale == 'zh-hk' %}zh-tw{% elseif preset.locale == 'en' %}en-gb{% endif %}.js"></script>
<script src="http://cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
<script src="http://cdn.bootcss.com/photoswipe/4.1.1/photoswipe.min.js"></script>
<script src="http://cdn.bootcss.com/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>
<script>
  window.hgdata = {
    boatId: "{{ boat.id|safe }}",
    productId: "{{ product.id|safe }}",
    region: {{ boat.region|safe }},
    clientCurrency: "{{ preset.currency|safe }}",
    currency: {{ preset.configCurrency|json|safe }},
    packages: {{ product.packages|json|safe }},
    baseCurrency: "{{ product.currency|safe }}",
    timeNotAvailable: "{{ __('product.booking.error.invaild_time') }}",
    maxTips: "{{ __('product.booking.package.max') }}",
    baseUnits : {
      "db.unit.hour":"{{ __('db.unit.hour') }}",
      "db.unit.day": "{{ __('db.unit.day')}}",
      "db.unit.half_day": "{{ __('db.unit.half_day')}}"
    }
  };

  (function(){

    var init = function (oElement) {
      var pswpElement = document.querySelectorAll(".pswp")[0];

      var itemArr = function() {
        var oTemp = [],
            imgs = oElement.querySelectorAll("img")||oElement.getElementsByTagName("img");
            
        for (var i=0, l=imgs.length; i<l; i++) {
          var item = {
              w: imgs[i].width,
              h: imgs[i].height
          };
          item.src = imgs[i].getAttribute("src");
          item.el = imgs[i];
          oTemp.push(item);
        }
        return oTemp;
      };

      var items = itemArr();
      var onImgClick = function (ev){
        ev = ev || window.event;
        ev.preventDefault ? ev.preventDefault() : ev.returnValue = false;
        openPswipe(this.index, this);
      };

      var openPswipe = function (index, imgEl){
        
        var options = {
          galleryUID: imgEl.getAttribute('data-pswp-uid'),

          getThumbBoundsFn: function(index) {
              var pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                  rect = galleryElements[index].getBoundingClientRect();
              return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
          },
          index: index,
          loop:true
        };

        var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
      };

      var galleryElements = oElement.querySelectorAll("img");

      for(var i = 0, l = galleryElements.length; i < l; i++) {
          galleryElements[i].setAttribute('data-pswp-uid', i+1);
          galleryElements[i].index = i;
          galleryElements[i].onclick = onImgClick;
      }
    };
    window.onload = function(){
      var oElement = document.getElementById("product-detail");
      init(oElement);
    };
  })();
</script>
<script src="{{ preset.staticHost }}/js/view-product.js?_=20160321"></script>
<script src="http://cdn.bootcss.com/jquery-one-page-nav/3.0.0/jquery.nav.min.js"></script>
<script>
(function($,w){
  $("#product-nav").onePageNav();

  var show = false;

  $(w).on("scroll", function(){
    if($(this).scrollTop() < 80){
      if(show){
        $("#selected-package").hide();
        show = false;
      }
    }else{
      if(!show){
        $("#selected-package").show();
        show = true;
      }
    }

    if($(".hyf-info").hadScrollToEl()){
      $(".navbar-fixed-bottom").css("position", "relative");
    }else{
      $(".navbar-fixed-bottom").css("position", "fixed");
    }
  });

})(jQuery, window);
</script>
{% endblock %}