{% extends './layout.html' %}

{% block head %}

<link rel="stylesheet" href="//cdn.bootcss.com/fullcalendar/2.4.0/fullcalendar.min.css">

{% endblock %}

{% block content %}

{% include './nav.html' %}

<div class="columns-sm" data-ng-app="booking" data-ng-controller="bookingController">
  <form name="booking" method="post" action="/booking/submit" novalidate>
    <input type="hidden" name="_csrf" value="{{ _csrf }}">
    <input type="hidden" name="productId" value="{{ product.id }}">
    <input type="hidden" name="boatId" value="{{ boat.id }}">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/">{{ __('nav.home') }}</a></li>
        <li><a href="/boat/{{ boat.id }}/{{ boat.name }}">{{ boat.name }}</a></li>
        <li class="active">{{ product.name }}</li>
      </ol>
      <div id="product-base" class="thumbnail">
        <div class="boat-thumbnail" style="background-image: url({{ product.photo }})"></div>
        <div class="row caption">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h3>{{ product.name }}</h3>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
            <h3 class="text-danger">{{ preset.generateCharge(product.baseCharge, product.currency) }}</h3>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>{{ product.summary }}</p>
          </div>
        </div>
      </div>
      <div id="product-booking" class="thumbnail">
        <div class="caption">
          <h3>{{ __('product.section.booking') }}</h3>
          <hr class="hr-divider">
          <div id="product-booking-date" class="product-booking-container">
            <p><strong>{{ __('product.booking.selectDate') }}</strong></p>
            <div id="calendar"></div>
            <div id="product-booking-package" class="product-booking-container">
              <p><strong>{{ __('product.booking.selectPackage') }}</strong></p>
              <div class="panel-group" id="package-accordion" role="tablist">
                {% raw %}
                <input id="data-selected-date" name="selectedDate" class="collapse" type="text" data-ng-model="selectedDate">
                <input id="data-selected-date-start" name="dateStart" class="collapse" type="text" data-ng-model="dateStart" required>
                <input id="data-selected-date-end" name="dateEnd" class="collapse" type="text" data-ng-model="dateEnd" required>
                <input name="currPackage" class="collapse" type="number" data-ng-model="currPackage" min="0" required>
                <input name="packageId" class="collapse" type="text" data-ng-model="packages[currPackage]._id">
                <input name="items" class="collapse" type="text" value="{{ getItems() }}">
                <input name="total" class="collapse" type="text" value="{{ getTotal() }}">
                <input id="data-calendar-events" name="events" class="collapse" type="text" data-ng-model="events">
                <div class="panel panel-custom" data-ng-repeat="package in packages" data-ng-if="checkAvailable(package)">
                  <div class="panel-heading" role="tab" id="package-heading-{{ $index }}">
                    <h4 class="panel-title relative-container" role="button" data-toggle="collapse" data-parent="#package-accordion" href="#package-collapse-{{ $index }}" aria-expanded="true" aria-controls="package-collapse-{{ $index }}">
                      <!--<span class="glyphicon glyphicon-ok text-primary" data-ng-if="$index == currPackage"></span>-->
                      {{ package.name }}({{ displayAmount(generateCharge(package.baseCharge)) }})
                      <a class="absolute-right-top more" role="button" data-toggle="collapse" data-parent="#package-accordion" href="#package-collapse-{{ $index }}" aria-expanded="true" aria-controls="package-collapse-{{ $index }}">
                        <span class="glyphicon glyphicon-option-horizontal"></span>
                      </a>
                    </h4>
                  </div>
                  <div id="package-collapse-{{ $index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="package-heading-{{ $index }}">
                    <div class="panel-body">
                      <div class="package-summary" data-ng-bind-html="package.summary | santize"></div>
                      <div class="package-select-time">
                        {% endraw %}
                        <hr class="hr-divider">
                        <p><strong>{{ __('product.booking.selectTime') }}</strong></p>
                        {% raw %}
                        <div class="row" data-ng-if="package.type.rule == 'slot'">
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" data-ng-repeat="slot in package.type.slots">
                            <button type="button" class="package-slot btn-block" data-ng-class="{'selected': checkSlotSelected($parent.$index, $index)}" data-ng-click="toggleSlot($parent.$index, $index)" data-ng-disabled="checkTimeAvailable(package.type.slots[$index])">
                              {{ slot.name }} ( {{ slot.start }} - {{ slot.end }} )
                            </button>
                          </div>
                        </div>
                        <div data-ng-if="package.type.rule == 'minute'">
                          <div class="row" data-ng-repeat="slot in package.type.slots">
                            <div class="col-lg-12">{{ slot.name }}</div>
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" data-ng-repeat="time in getTimes(package.type, slot)">
                              <button type="button" class="package-slot-time btn-block" data-ng-class="{'selected': checkTimeSelected($parent.$parent.$index,time)}" data-ng-click="toggleTime($parent.$parent.$index, $parent.$index, time)" data-ng-disabled="checkTimeAvailable(getSlotFromTime(time))">
                                {{ time }}
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endraw %}
              </div>
            </div>
            <div class="row calendar-controller">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <span class="glyphicon glyphicon-stop calendar-event-icon"></span>
                {{ __('calendar.booked') }}
                <span class="glyphicon glyphicon-stop calendar-event-icon-unavailable-client"></span>
                {{ __('calendar.unavailable') }}
              </div>
              <div class="col-md-8 col-sm-6 col-xs-12 text-right">
                <button id="calendar-month" type="button" class="btn btn-default invisible">{{ __('calendar.selectdate') }}</button>
                <button id="calendar-today" type="button" class="btn btn-default">{{ __('calendar.today') }}</button>
                <div class="btn-group">
                  <button id="calendar-prev" type="button" class="btn btn-default"><span class="glyphicon glyphicon-menu-left"></span></button>
                  <button id="calendar-next" type="button" class="btn btn-default"><span class="glyphicon glyphicon-menu-right"></span></button>
                </div>
              </div>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <label>{{ __('product.booking.selectedPackage') }}</label>
                <p>{% raw %}{{ packages[currPackage].name }}{% endraw %}</p>
              </li>
              <li class="list-group-item">
                <label>{{ __('product.booking.start') }}</label>
                <p id="selectedTime-start"></p>
              </li>
              <li class="list-group-item">
                <label>{{ __('product.booking.end') }}</label>
                <p id="selectedTime-end"></p>
              </li>
            </ul>
          </div>

          <div id="product-booking-person" class="product-booking-container">
            <p><strong>{{ __('product.booking.numberOfPeople') }} (1 - {% raw %}{{ packages[currPackage].maxPersons }}{% endraw %})</strong></p>
            <div class="alert alert-danger" data-ng-show="booking.numberOfPersons.$dirty && booking.numberOfPersons.$invalid">
              <ul class="list-layout">
                <li data-ng-show="booking.numberOfPersons.$error.required"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.numberOfPeople.required') }}</li>
                <li data-ng-show="booking.numberOfPersons.$error.min || booking.numberOfPersons.$error.max"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.numberOfPeople.outOfRange') }}</li>
                <li data-ng-show="booking.numberOfPersons.$error.number"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.numberOfPeople.invaild') }}</li>
              </ul>
            </div>
            <input type="number" name="numberOfPersons" class="form-control" data-ng-model="numberOfPersons" min="1" max="{% raw %}{{ packages[currPackage].maxPersons }}{% endraw %}" required>
          </div>
          <div id="product-booking-items" class="product-booking-container" data-ng-if="currPackage > -1">
            <p><strong>{{ __('product.booking.package.items') }}</strong></p>
            <ul class="list-group list-table">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><strong>{{ __('product.booking.package.check') }}</strong></div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-5">
                    <div class="row">
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7"><strong>{{ __('product.booking.package.item') }}</strong></div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 text-right"><strong>{{ __('product.booking.package.quantity') }}</strong></div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-right"><strong>{{ __('product.booking.package.subtotal') }}</strong></div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                      <label class="btn btn-default disabled">
                        <span class="glyphicon glyphicon-ok"></span>
                        <input type="checkbox" autocomplete="off">
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-5">
                    <div class="row">
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6"><strong>{% raw %}{{ baseChargeName }} ({{ displayAmount(generateCharge(baseCharge)) }}){% endraw %}</strong></div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-right"><strong>{% raw %}{{ slotCount }}{% endraw %}</strong></div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-right">
                    <strong>{% raw %}{{ displayAmount(generateCharge(baseCharge) * slotCount) }}{% endraw %}</strong>
                  </div>
                </div>
              </li>
              <li class="list-group-item" data-ng-if="extraSlot > 0">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                      <label class="btn btn-default disabled">
                        <span class="glyphicon glyphicon-ok"></span>
                        <input type="checkbox" autocomplete="off">
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-5">
                    <div class="row">
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6"><strong>{% raw %}{{ extraSlotChargeName }} ({{ displayAmount(generateCharge(extraSlotCharge)) }}){% endraw %}</strong></div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-right"><strong>{% raw %}{{ extraSlot }}{% endraw %}</strong></div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-right">
                    <strong>{% raw %}{{ displayAmount(generateCharge(extraSlotCharge) * extraSlot ) }}{% endraw %}</strong>
                  </div>
                </div>
              </li>
              <li class="list-group-item" data-ng-if="packages[currPackage].extraCharge >0 && (numberOfPersons - packages[currPackage].basePersons) > 0">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="btn-group btn-group-sm" data-toggle="buttons">
                      <label class="btn btn-default disabled">
                        <span class="glyphicon glyphicon-ok"></span>
                        <input type="checkbox" autocomplete="off">
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-5">
                    <div class="row">
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6"><strong>{{ __('product.booking.package.extra') }} ({% raw %}{{ displayAmount(generateCharge(packages[currPackage].extraCharge)) }}{% endraw %})</strong></div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-right"><strong>{% raw %}{{ numberOfPersons - packages[currPackage].basePersons }}{% endraw %}</strong></div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-right">
                    <strong>{% raw %}{{ displayAmount(generateCharge(packages[currPackage].extraCharge) * (numberOfPersons - packages[currPackage].basePersons)) }}{% endraw %}</strong>
                  </div>
                </div>
              </li>
              {% raw %}
              <li class="list-group-item" data-ng-repeat="item in packages[currPackage].items">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="btn-group btn-group-sm" data-toggle="buttons" data-ng-if="item.type == 'single' " data-ng-click="toggleItem(item)">
                      <label class="btn btn-default" data-ng-if="!selectedItems[item.name]">
                        <span class="glyphicon glyphicon-unchecked"></span>
                        <input type="checkbox" autocomplete="off">
                      </label>
                      <label class="btn btn-primary" data-ng-if="selectedItems[item.name]">
                        <span class="glyphicon glyphicon-ok"></span>
                        <input type="checkbox" autocomplete="off">
                      </label>
                    </div>
                    <div class="btn-group btn-group-sm" data-toggle="buttons" data-ng-if="item.type == 'multi' ">
                      <label class="btn btn-default disabled" data-ng-if="!selectedItems[item.name]">
                        <span class="glyphicon glyphicon-unchecked"></span>
                        <input type="checkbox" autocomplete="off">
                      </label>
                      <label class="btn btn-primary disabled" data-ng-if="selectedItems[item.name]">
                        <span class="glyphicon glyphicon-ok"></span>
                        <input type="checkbox" autocomplete="off">
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-5">
                    <div class="row">
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6"><strong>{{ item.name }} ({{ displayAmount(generateCharge(item.charge)) }})</strong></div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-right">
                        <strong data-ng-if="item.type == 'single'">{{ selectedItems[item.name] ? selectedItems[item.name].amount : 0 }}</strong>
                        <input type="number" class="form-control input-small" placeholder="0" data-ng-if="item.type == 'multi'" data-ng-model="inputValue[item.name]" data-ng-change="inputItem(item)" min="0">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-right">
                    <strong>{{ selectedItems[item.name] ? displayAmount(generateCharge(selectedItems[item.name].charge) * selectedItems[item.name].amount) : displayAmount(0) }}</strong>
                  </div>
                </div>
              </li>
              {% endraw %}
              <li class="list-group-item">
                <div class="row">
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-7 text-right">
                    <h4>{{ __('product.booking.package.total') }}</h4>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-right">
                    <h4>{% raw %}{{ displayAmount(getTotal()) }}{% endraw %}</h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div id="product-booking-contact" class="product-booking-container">
            <p><strong>{{ __('product.booking.contact') }}</strong></p>
            <div>
              <div class="alert alert-danger" data-ng-show="booking.contact.$dirty && booking.contact.$invalid">
                <ul class="list-layout">
                  <li data-ng-show="booking.contact.$error.required"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.contact.required') }}</li>
                  <li data-ng-show="booking.contact.$error.maxlength"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.contact.maxlength') }}</li>
                </ul>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" class="form-control" name="contact" placeholder="{{ __('product.booking.name_plh') }}" data-ng-model="contact.name" maxlength="50" required>
              </div>
              <div class="alert alert-danger" data-ng-show="booking.mobile.$dirty && booking.mobile.$invalid">
                <ul class="list-layout">
                  <li data-ng-show="booking.mobile.$error.required"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.mobile.required') }}</li>
                  <li data-ng-show="booking.mobile.$error.maxlength"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.mobile.maxlength') }}</li>
                  <li data-ng-show="booking.mobile.$error.number"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.mobile.invaild') }}</li>
                </ul>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-phone"></span>
                </span>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle btn-middle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+86 <span class="caret"></span></button>
                  <input class="dropdown-menu-selected collapse" type="text" name="area_code" data-ng-model="contact.areaCode">
                  <ul class="dropdown-menu">
                    <li><a href="#" data-value="86">+86</a></li>
                    <li><a href="#" data-value="852">+852</a></li>
                  </ul>
                </div>
                <input type="number" class="form-control" name="mobile" placeholder="{{ __('product.booking.mobile_plh') }}" data-ng-model="contact.mobile" maxlength="11" required>
              </div>
              <div class="alert alert-danger" data-ng-show="booking.email.$dirty && booking.email.$invalid">
                <ul class="list-layout">
                  <li data-ng-show="booking.email.$error.required"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.email.required') }}</li>
                  <li data-ng-show="booking.email.$error.pattern"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.email.invaild') }}</li>
                </ul>
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input type="email" class="form-control" name="email" placeholder="{{ __('product.booking.email_plh') }}" data-ng-model="contact.email" data-maxlength="100" data-ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
              </div>
            </div>
          </div>
          <div class="product-booking-container">
            <div class="alert alert-danger" data-ng-show="booking.$invalid && submitted">
              <ul class="list-layout">
                <li data-ng-show="booking.dateEnd.$invalid"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.submit.time') }}</li>
                <li data-ng-show="booking.currPackage.$error.min"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.submit.package') }}</li>
                <li data-ng-show="booking.numberOfPersons.$invalid"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.submit.numberOfPeople') }}</li>
                <li data-ng-show="booking.contact.$invalid || booking.mobile.$invalid || booking.email.$invalid"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('product.booking.error.submit.contact') }}</li>
              </ul>
            </div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-10 col-md-2 col-md-offset-10 col-sm-4 col-sm-offset-8 col-xs-6 col-xs-offset-6">
                <button type="button" class="btn btn-danger btn-block" data-ng-click="validate()">{{ __('product.booking.book') }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="selected-package" class="navbar-fixed-top fix-container-top" data-ng-if="currPackage >= 0">
        {{ __('product.booking.selectedPackage') }}: <span class="text-primary">{% raw %}{{ packages[currPackage].name }}{% endraw %}</span> {{ __('product.booking.package.total') }}: <span class="text-danger">{% raw %}{{ displayAmount(getTotal()) }}{% endraw %}</span>
      </div>
      <div id="product-detail" class="thumbnail">
        <div class="caption">
          <h3>{{ __('product.section.desc') }}</h3>
          <hr class="hr-divider">
          {% autoescape %}{{ product.description }}{% endautoescape %}
        </div>
      </div>
      <div id="product-include" class="thumbnail">
        <div class="caption">
          <h3>{{ __('product.section.include') }}</h3>
          <hr class="hr-divider">
          {% autoescape %}{{ product.chargeInclude }}{% endautoescape %}
        </div>
      </div>
      <div id="product-notinclude" class="thumbnail">
        <div class="caption">
          <h3>{{ __('product.section.exclude') }}</h3>
          <hr class="hr-divider">
          {% autoescape %}{{ product.chargeExclude }}{% endautoescape %}
        </div>
      </div>
      <div id="product-notice" class="thumbnail">
        <div class="caption">
          <h3>{{ __('product.section.notice') }}</h3>
          <hr class="hr-divider">
          {% autoescape %}{{ product.attention }}{% endautoescape %}
        </div>
      </div>
    </div>
    <div class="navbar-fixed-bottom fix-container">
      <div class="container text-center">
        <ul id="product-nav" class="nav nav-pills">
          <li role="presentation" class="hidden-xs"><a href="#product-base">{{ __('product.section.info') }}</a></li>
          <li role="presentation"><a href="#product-booking">{{ __('product.section.booking') }}</a></li>
          <li role="presentation"><a href="#product-detail">{{ __('product.section.desc') }}</a></li>
          <li role="presentation" class="hidden-xs"><a href="#product-include">{{ __('product.section.include') }}</a></li>
          <li role="presentation" class="hidden-xs"><a href="#product-exclude">{{ __('product.section.exclude') }}</a></li>
          <li role="presentation"><a href="#product-notice">{{ __('product.section.notice') }}</a></li>
        </ul>
      </div>
    </div>
    <div id="booking-confirm-modal" class="modal fade">
      <div class="modal-table">
        <div class="modal-table-cell">
          <div class="modal-dialog">
            <div class="modal-content">
              <div id="booking-confirm-title" class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{ __('product.booking.confirmBooking') }}</h4>
              </div>
              <div class="modal-body">
                <dl class="dl-horizontal">
                  <dt>{{ __('product.booking.bookingBoat') }}</dt>
                  <dd>{{ boat.name }}</dd>
                  <dt>{{ __('common.owner') }}</dt>
                  <dd>{{ boat.owner.nickname }}</dd>
                  <dt>{{ __('common.location') }}</dt>
                  <dd>{{ __(boat.location.city) }} {% if boat.location.pier %}- {{ __(boat.location.pier) }}{% endif %}</dd>
                  <dt>{{ __('product.booking.bookingProduct') }}</dt>
                  <dd>{{ product.name }}</dd>
                  <dt>{{ __('product.booking.start') }}</dt>
                  <dd>{% raw %}{{ dateStart }}{% endraw %}</dd>
                  <dt>{{ __('product.booking.end') }}</dt>
                  <dd>{% raw %}{{ dateEnd }}{% endraw %}</dd>
                  <dt>{{ __('product.booking.numberOfPeople') }}</dt>
                  <dd>{% raw %}{{ numberOfPersons }}{% endraw %}</dd>
                  <dt>{{ __('product.booking.bookingPackage') }}</dt>
                  <dd>{% raw %}{{ packages[currPackage].name }} ({{ displayAmount(generateCharge(packages[currPackage].baseCharge)) }}){% endraw %}</dd>
                  <dt>{{ __('product.booking.name') }}</dt>
                  <dd>{% raw %}{{ contact.name }}{% endraw %}</dd>
                  <dt>{{ __('product.booking.mobile') }}</dt>
                  <dd>+{% raw %}{{ contact.areaCode + contact.mobile }}{% endraw %}</dd>
                  <dt>{{ __('product.booking.email') }}</dt>
                  <dd>{% raw %}{{ contact.email }}{% endraw %}</dd>
                </dl>
                <table class="table table-summary">
                  <caption>{{ __('product.booking.package.items') }}</caption>
                  <tr><th>{{ __('product.booking.package.item') }}</th><th>{{ __('product.booking.package.quantity') }}</th><th>{{ __('product.booking.package.subtotal') }}</th></tr>
                  <tr><td>{% raw %}{{ baseChargeName }} ({{ displayAmount(generateCharge(baseCharge)) }})</td><td>{{ slotCount }}</td><td>{{ displayAmount(generateCharge(baseCharge) * slotCount) }}{% endraw %}</td></tr>
                  <tr data-ng-if="extraSlot > 0"><td>{% raw %}{{ extraSlotChargeName }} ({{ displayAmount(generateCharge(extraSlotCharge)) }})</td><td>{{ extraSlot }}</td><td>{{ displayAmount(generateCharge(extraSlotCharge) * extraSlot) }}{% endraw %}</td></tr>
                  <tr data-ng-if="packages[currPackage].extraCharge > 0 && (numberOfPersons - packages[currPackage].basePersons) > 0"><td>{{ __('product.booking.package.extra') }} ({% raw %}{{ displayAmount(generateCharge(packages[currPackage].extraCharge)) }}{% endraw %})</td><td>{% raw %}{{ numberOfPersons - packages[currPackage].basePersons }}{% endraw %}</td><td>{% raw %}{{ displayAmount(generateCharge(packages[currPackage].extraCharge) * (numberOfPersons - packages[currPackage].basePersons)) }}{% endraw %}</td></tr>
                  <tr data-ng-repeat="item in selectedItems"><td>{% raw %}{{ item.name }} ({{ displayAmount(generateCharge(item.charge)) }}){% endraw %}</td><td>{% raw %}{{ item.amount }}{% endraw %}</td><td>{% raw %}{{ displayAmount(generateCharge(item.charge) * item.amount) }}{% endraw %}</td></tr>
                </table>
                <div class="text-right">
                  <h4>{{ __('product.booking.package.total') }} {% raw %}{{ displayAmount(getTotal()) }}{% endraw %}</h4>
                </div>
                <div id="booking-confirm-contract" class="alert alert-warning text-right">
                  <label><input type="checkbox" name="contract" autocomplete="off" data-ng-model="agree"> {{ __('common.readandagree') }}</label> <a id="btn-contract" href="#booking-confirm-contract">{{ __('product.booking.contract') }}</a>
                </div>
                <div class="row">
                  <div class="col-xs-4 col-xs-offset-4">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">{{ __('common.cancel') }}</button>
                  </div>
                  <div class="col-xs-4">
                    <button type="submit" class="btn btn-danger btn-block" data-ng-disabled="!agree">{{ __('common.submit') }}</button>
                  </div>
                </div>
              </div>
              <div id="contract-container" class="modal-footer static-article hidden">
                {% include './static/contract.html' %}
                <a href="#booking-confirm-title">{{ __('common.back_to_top') }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% include './footer.html' %}

{% endblock %}

{% block foot %}

<script src="//cdn.bootcss.com/moment.js/2.10.6/moment.min.js"></script>
<script src="//cdn.bootcss.com/fullcalendar/2.4.0/fullcalendar.min.js"></script>
<script src="//cdn.bootcss.com/fullcalendar/2.4.0/lang/{% if preset.locale == 'zh-cn' %}zh-cn{% elseif preset.locale == 'zh-hk' %}zh-tw{% elseif preset.locale == 'en' %}en-gb{% endif %}.js"></script>
<script src="//cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
<script>
  window.hgdata = {
    boatId: "{{ boat.id|safe }}",
    clientCurrency: "{{ preset.currency|safe }}",
    currency: {{ preset.configCurrency|json|safe }},
    packages: {{ product.packages|json|safe }},
    baseCurrency: "{{ product.currency|safe }}",
    timeNotAvailable: "{{ __('product.booking.error.invaild_time') }}"
  };
</script>
<script src="{{ preset.staticHost }}/js/view-product.js?_=20151221"></script>
<script src="//cdn.bootcss.com/jquery-one-page-nav/3.0.0/jquery.nav.min.js"></script>
<script>
(function($,w){
  $("#product-nav").onePageNav();

  var show = false;

  $(w).on("scroll", function(){
    if($(this).scrollTop() < 80){
      if(show){
        $("#selected-package").hide();
        show = false;
      }
    }else{
      if(!show){
        $("#selected-package").show();
        show = true;
      }
    }
  });
})(jQuery, window);
</script>
{% endblock %}