{% import './macros/booking.html' as bookingView %}
{% import './macros/payment.html' as payment %}

{% extends './layout.html' %}

{% block content %}

{% include './nav.html' %}

<div class="container columns-sm">
  <ol class="breadcrumb">
    <li><a href="/">{{ __('nav.home') }}</a></li>
    <li><a href="/user/booking">{{ __('user.bookings') }}</a></li>
    <li class="active">{{ __('user.booking_detail') }}</li>
  </ol>
  <div class="page-header">
    <h1>{{ __('user.booking_detail') }}</h1>
  </div>
  {% if booking.status == 'db.booking.wait_to_pay' %}
  <h4>{{ __('product.booking.result.amount') }} {% if booking.settlementCurrency == 'hkd' %}${% else %}￥{% endif %}{{ (booking.total / 100).toFixed(2) }}</h4>
  <h4>{{ __('product.booking.result.settlement_currency') }} {{ __('currency.' + booking.settlementCurrency) }}</h4>
  {% if warning %}
  <div class="alert alert-warning"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __(warning) }}</div>
  {% endif %}
  {% if !wpParams && !warning %}
  <p>
    {% if booking.settlementCurrency == 'cny' %}
    <label class="btn btn-default">
      <input type="radio" autocomplete="off" checked> <img src="{{ preset.imgHost }}/alipay165x58.png" height="40" alt="alipay">
    </label>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <a class="btn btn-danger btn-block" href="/pay/alipay?product=boat&order={{ booking.bookingId }}">{{ __('common.pay') }}</a>
      </div>
    </div>
    {% else %}
    <a href="/pay/paypal?product=boat&order={{ booking.bookingId }}"><img src="https://www.paypalobjects.com/webstatic/en_AU/i/buttons/btn_paywith_primary_l.png" alt="付款用 PayPal" /></a>
    <br><br>{{ __('common.paypayl_pay_methods') }}<br>
    <img src="https://www.paypalobjects.com/webstatic/mktg/logo/PP_AcceptanceMarkTray-NoDiscover_243x40.png" alt="PayPal 立即買" />
    {% endif %}
  </p>
  {% endif %}
  {% if wpParams %}
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <a id="detail-link" href="/user/booking/detail/{{ booking.bookingId }}" class="invisible">booking</a>
      <button id="btn-wppay" type="button" class="btn btn-success btn-block">{{ __('common.wechat_pay') }}</button>
    </div>
  </div>
  {% endif %}
  <hr class="hr-divider">
  {% endif %}
  {% if booking.status == 'db.booking.pay_success' %}
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-6">
          <h4>{{ __('product.booking.travel_guide') }}</h4>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>{{ __('product.booking.mobile_of_owner') }}</dt>
        <dd>{{ booking.ownerId.mobile }}</dd>
      </dl>
      {% if booking.boatId.geospatial.length > 0 %}
      <h3>{{ __('boat.detail.anchorage') }}</h3>
      <hr class="hr-divider">
      <div id="boat-geospatial" class="hyf-map-container"></div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {{ bookingView.detail(booking) }}
</div>

<div id="map-modal" class="modal fade">
  <div class="modal-table">
    <div class="modal-table-cell">
      <div class="modal-dialog" id="modal-big-map">
        <div class="modal-content">
          <div class="modal-header clearfix">
            <h4 class="modal-title col-xs-10">{{ __(booking.boatLocation.city) }} {% if booking.boatLocation.pier %}- {{ __(booking.boatLocation.pier) }}{% endif %}</h4>
            <div class="col-xs-2 text-right">
              <span id="quit-map" class="quit-map glyphicon glyphicon-remove"></span>
            </div>
          </div>
          <div class="modal-body">
            <iframe id="src-to-map" width="100%" src="" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include './footer.html' %}

{% endblock %}

{% block foot %}
{% if wpParams %}
<script>
  function onBridgeReady(){
    WeixinJSBridge.invoke('getBrandWCPayRequest', {{ wpParams|json|safe }}, function(res){
      if(res.err_msg == "get_brand_wcpay_request:ok") {
        document.getElementById("detail-link").click();
      }
    });
  }

  $("#btn-wppay").click(function(){
    if (typeof WeixinJSBridge == "undefined"){
      if( document.addEventListener ){
        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
      }else if (document.attachEvent){
        document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
      }
    }else{
      onBridgeReady();
    }
  });
</script>
{% endif %}

{% if booking.boatId.geospatial.length > 0 && booking.status == 'db.booking.pay_success' %}
  

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=XpLGCrdpWiH4k02rOXlWQBro"></script>
<script type="text/javascript" src="{{ preset.staticHost }}/js/baidu-map.js"></script>
<script>
(function(window){
  window.hgdata = {
    geospatial: {{ booking.boatId.geospatial|json|safe }}
  };

  var src = "http://api.map.baidu.com/marker?location="+hgdata.geospatial[1]+","+hgdata.geospatial[0]+"&title={{ booking.boatName }}&content={{ booking.productName }}&output=html&src=海龟租船";

  var html = "<span class='glyphicon glyphicon-fullscreen'></span>";
  
  var fullscreen = new window.baiduMap.ZoomControl(html, new BMap.Size(10, 10)); //自定义控件
  var ctrfn = window.baiduMap.modalMap("src-to-map", "modal-big-map", "map-modal", encodeURI(src));
  var geospatial = hgdata.geospatial;

  window.baiduMap.initBaiduMap("boat-geospatial", geospatial, fullscreen, ctrfn);
  
  $("#quit-map").click(function(e){
    $("#map-modal").modal("hide");
  });
})(window);
</script>
{% endif %}
{% endblock %}
