{% import './macros/booking.html' as bookingView %}
{% import './macros/payment.html' as payment %}

{% extends './layout.html' %}

{% block content %}

{% include './nav.html' %}

<div class="container columns-sm">
  <ol class="breadcrumb">
    <li><a href="/">{{ __('nav.home') }}</a></li>
    <li><a href="/user/booking">{{ __('user.bookings') }}</a></li>
    <li class="active">{{ __('user.booking_detail') }}</li>
  </ol>
  <div class="page-header">
    <h1>{{ __('user.booking_detail') }}</h1>
  </div>
  {% if booking.status == 'db.booking.wait_to_pay' %}
  <h4>{{ __('product.booking.result.amount') }} {% if booking.settlementCurrency == 'hkd' %}${% else %}￥{% endif %}{{ (booking.total / 100).toFixed(2) }}</h4>
  {% if !wpParams %}
  <p>
    {% if booking.settlementCurrency == 'cny' %}
    <label class="btn btn-default">
      <input type="radio" autocomplete="off" checked> <img src="{{ preset.imgHost }}/alipay165x58.png" height="40" alt="alipay">
    </label>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <a class="btn btn-danger btn-block" href="/pay/alipay?product=boat&order={{ booking.bookingId }}">{{ __('common.pay') }}</a>
      </div>
    </div>
    {% else %}
    <a href="/pay/paypal?product=boat&order={{ booking.bookingId }}"><img src="https://www.paypalobjects.com/webstatic/en_AU/i/buttons/btn_paywith_primary_l.png" alt="付款用 PayPal" /></a>
    <br><br>{{ __('common.paypayl_pay_methods') }}<br>
    <img src="https://www.paypalobjects.com/webstatic/mktg/logo/PP_AcceptanceMarkTray-NoDiscover_243x40.png" alt="PayPal 立即買" />
    {% endif %}
  </p>
  {% else %}
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <a id="detail-link" href="/user/booking/detail/{{ booking.bookingId }}" class="invisible">booking</a>
      <button id="btn-wppay" type="button" class="btn btn-success btn-block">{{ __('common.wechat_pay') }}</button>
    </div>
  </div>
  {% endif %}
  <hr class="hr-divider">
  {% endif %}
  {% if booking.status == 'db.booking.pay_success' %}
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-6">
          <h4>{{ __('product.booking.travel_guide') }}</h4>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>{{ __('product.booking.mobile_of_owner') }}</dt>
        <dd>{{ booking.ownerId.mobile }}</dd>
      </dl>
      {% if booking.boatId.geospatial.length > 0 %}
      <h3>{{ __('boat.detail.anchorage') }}</h3>
      <hr class="hr-divider">
      <div id="boat-geospatial" class="hyf-map-container"></div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {{ bookingView.detail(booking) }}
</div>
{% include './footer.html' %}

{% endblock %}

{% block foot %}
{% if wpParams %}
<script>
  function onBridgeReady(){
    WeixinJSBridge.invoke('getBrandWCPayRequest', {{ wpParams|json|safe }}, function(res){
      if(res.err_msg == "get_brand_wcpay_request:ok") {
        document.getElementById("detail-link").click();
      }
    });
  }

  $("#btn-wppay").click(function(){
    if (typeof WeixinJSBridge == "undefined"){
      if( document.addEventListener ){
        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
      }else if (document.attachEvent){
        document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
      }
    }else{
      onBridgeReady();
    }
  });
</script>
{% endif %}

{% if booking.boatId.geospatial.length > 0 %}
  <script>
  window.hgdata = {
    geospatial: {{ booking.boatId.geospatial|json|safe }}
  };

  function loadBaiduMap() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "http://api.map.baidu.com/api?v=2.0&ak=XpLGCrdpWiH4k02rOXlWQBro&callback=initBaiduMap";
    document.body.appendChild(script);
  }

  function initBaiduMap() {
    var map = new BMap.Map("boat-geospatial");
    var point = new BMap.Point(hgdata.geospatial[0], hgdata.geospatial[1]);
    map.centerAndZoom(point, 11);
    map.enableScrollWheelZoom();
    var marker = new BMap.Marker(point);
    map.addOverlay(marker);
  }

  loadBaiduMap();
</script>
{% endif %}
{% endblock %}
