{% extends './layout.html' %}

{% block content %}

{% include './nav.html' %}

<div class="container columns-sm">
	<div class="page-header">
    <h1>{{ __('common.information') }}</h1>
  </div>
	<div class="userSetting" ng-app="userSetting" ng-controller="userSettingCtrl">
		<div class="row">
			<div class="col-lg-3">
					<img src="/img/captain.jpg" ng-model="user.avatar">
			</div>
			<div class="col-lg-4 col-lg-offset-5 text-right">
				<button class="btn btn-info" ng-model="user" edit ng-show="!isEdit">
					<span class="glyphicon glyphicon-pencil"></span>{{ __('common.edit') }}
				</button>
			</div>		
		</div>
		<div class="row">
				<input type="hidden" name="_csrf" id="csrf" value="{{ _csrf }}">
				<div class="col-lg-9">
					<dl class="dl-horizontal">
						<dt>{{ __('common.mobile') }}</dt>
						<dd>
								<span ng-bind="user.mobile"></span>
						</dd>
						<dt>{{ __('common.nickname') }}</dt>
						<dd>
							<input type="text" ng-model="user.nickname" ng-class="{'editInput':isEdit, 'form-control':isEdit}">
						</dd>
						<dt>{{ __('common.email') }}</dt>
						<dd>
							<input type="email" ng-model="user.email" ng-class="{'editInput':isEdit, 'form-control':isEdit}">
						</dd>
						<dt>{{ __('common.currency') }}</dt>
						<dd>
							<span ng-bind="getOptionsValue(user.currency, 'currency')" ng-show="!isEdit"></span>
							<select ng-model="user.currency" ng-options="opt.currency for opt in currencys" ng-show="isEdit" class="form-control">
							</select>
						</dd>
						<dt>{{ __('common.city') }}</dt>
						<dd>
							<span ng-bind="getOptionsValue(user.location.city, 'city')" ng-show="!isEdit"></span>
							<select ng-model="user.location.city" ng-options="opt.city for opt in citys" ng-show="isEdit" class="form-control">
							</select>
						</dd>
						<dt>{{ __('common.locale') }}</dt>
						<dd>
							<span ng-bind="getOptionsValue(user.locale, 'locale')" ng-show="!isEdit"></span>
							<select ng-model="user.locale" ng-options="opt.locale for opt in locales" ng-show="isEdit" class="form-control">
							</select>
						</dd>
						<dt>{{ __('common.createDate') }}:</dt>
						<dd>
							<p ng-bind="switchDate(user.createDate,'lll')"></p>
						</dd>
						<dt ng-show="isEdit && updataPass">{{ __('common.password') }}</dt>
						<dd ng-show="isEdit && updataPass">
							<input type="password" ng-model="oldPwd" ng-class="{'editInput':isEdit, 'form-control':isEdit}" require>
							<p class="pwd_unPass" ng-show="!isResPass && !oldPwd"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('error.user_setting.notmatch') }}</p>
						</dd>
						<dt ng-show="isEdit && updataPass">{{ __('common.new_password') }}</dt>
						<dd ng-show="isEdit && updataPass">
							<input type="password" ng-model="newPwd1" ng-minlength="6" ng-maxlength="30" ng-class="{'editInput':isEdit, 'form-control':isEdit}" require>
							<p class="pwd_unPass" ng-show="!isPass1 && !newPwd1"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('error.signup.password_len') }}</p>
						</dd>
						<dt ng-show="isEdit && updataPass">{{ __('common.confirmPassword') }}</dt>
						<dd ng-show="isEdit && updataPass">
							<input type="password" ng-model="newPwd2" ng-class="{'editInput':isEdit, 'form-control':isEdit}">
							<p class="pwd_unPass" ng-show="newPwd2 != newPwd1 && !isPass2"><span class="glyphicon glyphicon-exclamation-sign"></span>{{ __('error.signup.confirm_password') }}</p>
						</dd>
						<dt ng-show="isEdit && !hasMobile">{{ __('common.bind_mobile')}}</dt>
						<dd ng-show="isEdit && !hasMobile">
							<div class="col-sm-3 col-xs-4">
			          <div class="btn-group">
			            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+86 <span class="caret"></span></button>
			            <input id="input_area_code" type="hidden" class="dropdown-menu-selected" name="area_code" value="86">
			            <ul class="dropdown-menu">
			              <li><a href="#" data-value="86">+86</a></li>
			              <li><a href="#" data-value="852">+852</a></li>
			            </ul>
			          </div>
			        </div>
							<div class="col-sm-9 col-xs-8">
			          <input type="number" id="input_mobile" ng-model="mobile" maxlength="11" class="form-control" ng-class="{'editInput':isEdit, 'form-control':isEdit}">
			        </div>
						</dd>
						<dt ng-show="isEdit && !hasMobile">{{ __('common.smscode') }}</dt>
						<dd ng-show="isEdit && !hasMobile">
							<div class="col-sm-3 col-xs-4">
		            <input type="number" class="form-control" ng-class="{'editInput':isEdit, 'form-control':isEdit}" ng-model="code" pattern=".{4,4}">
		          </div>
		          <div class="col-sm-9 col-xs-8">
		            <button id="btn-getsmscode" type="button" class="btn btn-primary btn-block">{{ __('common.getsmscode') }}</button>
		          </div>
						</dd>
					</dl>
					<div class="col-lg-12 text-right">
						<button class="btn btn-primary" ng-model="user" cancel ng-show="isEdit">
							<span class="glyphicon glyphicon-remove"></span>{{ __('common.cancel') }}
						</button>
						<button class="btn btn-danger" confirm ng-show="isEdit">
							<span class="glyphicon glyphicon-ok"></span>{{ __('common.submit') }}
						</button>
						<button class="btn btn-danger" ng-model="nouse" edit="updata" ng-show="isEdit">
							<span class="glyphicon glyphicon-plus"></span>{{ __('common.new_password') }}
						</button>
					</div>
				</div>
		</div>
	</div>
</div>

{% include './footer.html' %}
{% endblock %}

{% block foot %}
<script src="http://cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
<script	src="//cdn.bootcss.com/moment.js/2.10.6/moment.min.js"></script>
<script>
  (function ($, angular) {
  	var second = 60;

    function countDown() {
      if (second > 0) {
        $("#btn-getsmscode").text("{{ __('common.smscodesend') }}(" + second + ")");
        second--;
        setTimeout(function () {
          countDown();
        }, 1000);
      } else {
        $("#btn-getsmscode").text("{{ __('common.getsmscode') }}").prop("disabled", false);
      }
    }

    $("#btn-getsmscode").click(function () {
      var area_code = $("#input_area_code").val();
      var mobile = $("#input_mobile").val();

      if (!area_code || !mobile) {
        $("#hyf-modal-alert").CustomAlert("{{ __('error.signup.input_mobile') }}");
        return;
      }

      var url = "/sms/getcode?type=signup&mobile=" + area_code + mobile;

      $("#btn-getsmscode").prop("disabled", true);

      second = 60;

      countDown();

      $.getJSON(url, function (result) {
      	console.log(result);
      });
    });

  	$("input").prop("readOnly",true);

  	var app = angular.module("userSetting", []);

  	app.controller("userSettingCtrl", function($scope, $http){
  		$scope.isEdit = false;
  		$scope.userTemp = {};
  		$scope.isPass1 = true;
  		$scope.isResPass = true;
  		$scope.isPass2 = true;
  		$scope.updataPass =false;
  		$scope.isPassEmail = true;
  		$scope.hasMobile = true;

  		$http.get("/user/setting/getUserInformation").success(function(user){
  			$scope.user = user;
  		});

  		$scope.locales = [
				{locale:"简体中文", value:"zh-cn"},
				{locale:"繁体中文", value:"zh-hk"},
				{locale:"English", value:"en"}
			];

			$scope.citys = [
				{city: "深圳", value:"db.location.city.sz"},
				{city: "香港", value:"db.location.city.hk"}
			];

			$scope.currencys = [
				{currency:"港元", value:"hkd"},
				{currency:"人民币", value:"cny"}
			];

			$scope.switchDate = function(date){
				var time = moment(date).format("YYYY-MM-DD HH:mm:ss");
				return time
			};

			$scope.getOptionsValue = function(val, propertyName){
				var propertyNames = propertyName+"s";
				var arrays = this[propertyNames];
				for(var i in arrays){
					if(arrays[i].value == val){
						return arrays[i][propertyName]
					}
				}
			};

			$scope.setOptionValue = function(arr, proname, val){
		    for(var i in arr){
		      if(arr[i].value == val){
		        if(proname == "city" || proname == "pier"){
		          $scope.user.location[proname] = arr[i];
		        }else{
		          $scope.user[proname] = arr[i];
		        }
		      }
		    }
		  }

  	});

  	app.directive("edit", function(){
  		return {
  			restrict: "A",
  			require: "ngModel",
  			link : function(scope, element, attr, ngModel){
  				element.bind("click", function(e){

  					if(attr.edit == "updata"){
  						if(!scope.user.mobile){
  							scope.hasMobile = false;
  							scope.$apply();
  						 	return 
  						}
  						scope.updataPass = true;
  						scope.$apply();
  						return
  					}

  					angular.copy(ngModel.$modelValue, scope.userTemp);
  					scope.isEdit = true;

  					scope.setOptionValue(scope.currencys, "currency", scope.user.currency);
  					scope.user.location && scope.setOptionValue(scope.citys, "city", scope.user.location.city);
  					scope.setOptionValue(scope.locales, "locale", scope.user.locale);

  					scope.$apply();

  					$("input").removeProp("readOnly");
  				});
  			}
  		}
  	});

  	app.directive("cancel", function(){
  		return {
  			restrict: "A",
  			require : "ngModel",
  			link: function(scope, element, attr, ngModel){
  				element.bind("click", function(e){
  					
  					angular.copy(scope.userTemp, ngModel.$modelValue);
  					scope.isEdit = false;
  					scope.updataPass = false;
  					scope.newPwd1 = scope.newPwd2 = "";
  					scope.hasMobile = true;
  					scope.mobile = "";
  					scope.code = "";
  					scope.$apply();

  					$("input").prop("readOnly", true);
  				});
  			}
  		}
  	});

  	app.directive("confirm", function($http){
  		return {
  			restrict: "A",
  			link: function(scope, element, attr){
  				element.bind("click", function(e){

  					if(scope.updataPass){
  						if(scope.newPwd1 !== scope.newPwd2 || !scope.newPwd1 || !scope.newPwd2){
	  						!scope.newPwd1 && (scope.isPass1 = false);
	  						scope.newPwd1 !== scope.newPwd2 && (scope.isPass2 = false);
	  						scope.$apply();
								return 
	  					}
  					}

  					scope.user.newPwd1 = scope.newPwd1;
  					scope.user.oldPwd = scope.oldPwd;
  					scope.user.newMobile = scope.mobile;
  					scope.user.code = scope.code;
  					scope.user.area_code = $("#input_area_code").val();

  					$http.post("/user/setting/updataUserInformation", scope.user, {
  						headers: {
					      'X-XSRF-TOKEN': $("#csrf").val()
					   	}
  					}).success(function(user){
  						if(typeof user == "string"){
  							return location.href = "/logout";
  						}

  						if( user.error){
  							scope.isResPass = false;
  							scope.oldPwd = "";
  							$("#hyf-modal-alert").CustomAlert("{{ __('"+user.error+"') }}");
  							return
  						}

  						scope.isEdit = false;
	  					scope.updataPass = false;
	  					scope.newPwd1 = scope.newPwd2 = "";
	  					scope.hasMobile = true;
  						scope.user = user;
  						$("input").prop("readOnly", true);
  					});

  				});
  			}
  		}
  	});

  })(jQuery, angular);
</script>
{% endblock %}