{% extends './layout.html' %}

{% block content %}

{% include './nav.html' %}

<div class="container columns-sm" ng-app="userSetting" ng-controller="userSettingCtrl">
	<ol class="breadcrumb">
		<li><a href="/">{{ __('nav.home') }}</a></li>
		<li class="active">{{ __('user.settings') }}</li>
	</ol>
	<div class="page-header">
    <h1>{{ __('user.settings') }}</h1>
  </div>
  <ul class="nav nav-pills">
    <li role="presentation" ng-class="{'active':!updataPass}" ng-click="toggle(false)"><a href="">{{ __('common.information') }}</a></li>
    <li role="presentation" ng-class="{'active':updataPass}" ng-model="user" cancel ng-click="toggle(true)" data-ng-cloak>
    <a href="" data-ng-if="user.mobile" data-ng-cloak>{{ __('common.new_password') }}</a>
    <a href="" data-ng-if="!user.mobile" data-ng-cloak>{{ __('common.bind_mobile') }}</a>
    </li>
  </ul>
  <hr class="hr-divider">
	<div class="userSetting">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
					<img src="/img/captain.jpg" class="img-circle img-thumbnail img-responsive" data-ng-show="!user.avatar">
					<img ng-src="{% raw %}{{ user.avatar }}{% endraw %}" class="img-circle img-thumbnail img-responsive" data-ng-show="user.avatar" data-ng-cloak>
			</div>		
		</div>
		<div class="row">
				<input type="hidden" name="_csrf" id="csrf" value="{{ _csrf }}">
				<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
					<form name="userInfo" novalidate>
					<dl class="dl-horizontal" id="userSetting_dl" data-ng-show="!updataPass">
						<dt>{{ __('common.mobile') }}</dt>
						<dd>
								<span data-ng-bind="user.mobile"></span>
						</dd>
						<dt>{{ __('common.nickname') }}</dt>
						<dd data-ng-cloak>
							<input type="text" data-ng-model="user.nickname" name="nickname" data-ng-class="{'editInput':!isEdit, 'form-control':isEdit}" required placeholder="{{ __('common.nickname') }}">
							<div class="text-danger" data-ng-cloak data-ng-show="userInfo.nickname.$invalid">
								<span class="glyphicon glyphicon-exclamation-sign"></span>{{ __('error.user_setting.required_nickname') }}
							</div>
						</dd>
						<dt>{{ __('common.email') }}</dt>
						<dd data-ng-cloak>
							<input type="email" data-ng-model="user.email" data-ng-class="{'editInput':!isEdit, 'form-control':isEdit}">
						</dd>
						<dt>{{ __('common.currency') }}</dt>
						<dd>
							<span data-ng-bind="getOptionsValue(user.currency, 'currency')" data-ng-show="!isEdit"></span>
							<div class="col-sm-2 col-xs-4 noPadding" data-ng-show="isEdit" data-ng-cloak>
		            <div class="btn-group">
		              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% raw %} {{ getOptionsValue(user.currency, 'currency') }} {% endraw %} <span class="caret"></span></button>
		              <input data-ng-model="user.currency"  type="text" class="dropdown-menu-selected collapse">
		              <ul class="dropdown-menu">
		                <li><a href="#" data-value="hkd">$ HKD(港元)</a></li>
		                <li><a href="#" data-value="cny">￥ CNY(人民币)</a></li>
		              </ul>
		            </div>
		          </div>
						</dd>
						<dt>{{ __('common.city') }}</dt>
						<dd>
							<span data-ng-bind="getOptionsValue(user.location.city, 'city')" data-ng-show="!isEdit"></span>
							<div class="col-sm-2 col-xs-4 noPadding" ng-show="isEdit" data-ng-cloak>
		            <div class="btn-group">
		              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% raw %} {{ getOptionsValue(user.location.city, 'city') }} {% endraw %}<span class="caret"></span></button>
		              <input data-ng-model="user.location.city"  type="text" class="dropdown-menu-selected collapse">
		              <ul class="dropdown-menu">
		                <li><a href="#" data-value="db.location.city.hk">{{ __('db.location.city.hk') }}</a></li>
		                <li><a href="#" data-value="db.location.city.sz">{{ __('db.location.city.sz') }}</a></li>
		              </ul>
		            </div>
		          </div>
						</dd>
						<dt>{{ __('common.locale') }}</dt>
						<dd>
							<span data-ng-bind="getOptionsValue(user.locale, 'locale')" data-ng-show="!isEdit"></span>
							<div class="col-sm-2 col-xs-4 noPadding" data-ng-show="isEdit" data-ng-cloak>
		            <div class="btn-group">
		              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {% raw %} {{ getOptionsValue(user.locale, 'locale') }} {% endraw %} <span class="caret"></span></button>
		              <input data-ng-model="user.locale"  type="text" class="dropdown-menu-selected collapse">
		              <ul class="dropdown-menu">
		                <li><a href="#" data-value="zh-cn">中文(简体)</a></li>
		                <li><a href="#" data-value="zh-hk">中文(繁体)</a></li>
		                <li><a href="#" data-value="en">English</a></li>
		              </ul>
		            </div>
		          </div>
						</dd>
						<dt>{{ __('common.createDate') }}:</dt>
						<dd>
							<p ng-bind="switchDate(user.createDate,'lll')"></p>
						</dd>
					</dl>
					<div class="text-center" data-ng-show="!isEdit && !updataPass">
						<button class="btn btn-info" data-ng-model="user" edit>
							<span class="glyphicon glyphicon-pencil"></span> {{ __('common.edit') }}
						</button>
					</div>
					<div class="text-center" data-ng-show="isEdit && !updataPass" data-ng-cloak>
						<button class="btn btn-primary" data-ng-model="user" cancel >
							<span class="glyphicon glyphicon-remove"></span> {{ __('common.cancel') }}
						</button>
						<button class="btn btn-danger" confirm data-ng-disabled="userInfo.$invalid">
							<span class="glyphicon glyphicon-ok"></span> {{ __('common.submit') }}
						</button>
					</div>
					</form>
				
					<dl class="dl-horizontal" data-ng-show="updataPass" data-ng-cloak>
						<dt data-ng-show = "hasMobile">{{ __('common.password') }}</dt>
						<dd data-ng-show = "hasMobile">
							<input type="password" data-ng-model="oldPwd" class="form-control" placeholder="{{ __('common.password') }}">
							<div class="text-danger" data-ng-cloak data-ng-show=" !isResPass && !oldPwd">
								<span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('error.user_setting.notmatch') }}
							</div>
						</dd>
						<dt data-ng-show = "hasMobile">{{ __('common.new_password') }}</dt>
						<dd data-ng-show = "hasMobile">
							<input type="password" data-ng-model="newPwd1" data-ng-minlength="6" data-ng-maxlength="30" class="form-control" placeholder="{{ __('common.new_password') }}">
							<div class="text-danger" data-ng-show="!isPass1 && !newPwd1" data-ng-cloak>
								<span class="glyphicon glyphicon-exclamation-sign"></span> {{ __('error.signup.password_len') }}
							</div>
						</dd>
						<dt data-ng-show = "hasMobile">{{ __('common.confirmPassword') }}</dt>
						<dd data-ng-show = "hasMobile">
							<input type="password" data-ng-model="newPwd2" class="form-control" placeholder="{{ __('common.confirmPassword') }}">
							<div class="text-danger" data-ng-show="newPwd2 != newPwd1 && !isPass2" data-ng-cloak>
								<span class="glyphicon glyphicon-exclamation-sign"></span>{{ __('error.signup.confirm_password') }}
							</div>
						</dd>
						<dt data-ng-show = "!hasMobile">{{ __('common.bind_mobile')}}</dt>
						<dd data-ng-show = "!hasMobile">
							<div class="col-sm-4 col-xs-4">
					      <div class="btn-group">
					        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+86 <span class="caret"></span></button>
					        <input id="input_area_code" type="hidden" class="dropdown-menu-selected" value="86">
					        <ul class="dropdown-menu">
					          <li><a href="#" data-value="86">+86</a></li>
					          <li><a href="#" data-value="852">+852</a></li>
					        </ul>
					      </div>
					    </div>
							<div class="col-sm-8 col-xs-8">
					      <input type="number" id="input_mobile" data-ng-model="mobile" maxlength="11" class="form-control">
					    </div>
						</dd>
						<dt data-ng-show = "!hasMobile" >{{ __('common.smscode') }}</dt>
						<dd data-ng-show = "!hasMobile" >
							<div class="col-sm-4 col-xs-4">
				        <input type="number" class="form-control" data-ng-model="code" pattern=".{4,4}">
				      </div>
					    <div class="col-sm-8 col-xs-8">
					     	<button id="btn-getsmscode" type="button" class="btn btn-primary btn-block">{{ __('common.getsmscode') }}</button>
					    </div>
						</dd>
					</dl>
					<div class="col-lg-12 text-center" data-ng-show="updataPass" data-ng-cloak>
						<button class="btn btn-danger" confirm>
							<span class="glyphicon glyphicon-ok"></span>{{ __('common.submit') }}
						</button>
					</div>
				</div>
		</div>
	</div>
</div>

{% include './footer.html' %}
{% endblock %}

{% block foot %}
<script src="http://cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
<script	src="//cdn.bootcss.com/moment.js/2.10.6/moment.min.js"></script>
<script>
  (function ($, angular) {
  	var second = 60;

    function countDown() {
      if (second > 0) {
        $("#btn-getsmscode").text("{{ __('common.smscodesend') }}(" + second + ")");
        second--;
        setTimeout(function () {
          countDown();
        }, 1000);
      } else {
        $("#btn-getsmscode").text("{{ __('common.getsmscode') }}").prop("disabled", false);
      }
    }

    $("#btn-getsmscode").click(function () {
      var area_code = $("#input_area_code").val();
      var mobile = $("#input_mobile").val();

      if (!area_code || !mobile) {
        $("#hyf-modal-alert").CustomAlert("{{ __('error.signup.input_mobile') }}");
        return;
      }

      var url = "/sms/getcode?type=signup&mobile=" + area_code + mobile;

      $("#btn-getsmscode").prop("disabled", true);

      second = 60;

      countDown();

      $.getJSON(url, function (result) {
      	console.log(result);
      });
    });

  	$("#userSetting_dl input").prop("readOnly",true);

  	var app = angular.module("userSetting", []);

  	app.controller("userSettingCtrl", function($scope, $http){
  		$scope.isEdit = false;
  		$scope.userTemp = {};
  		$scope.isPass1 = true;
  		$scope.isResPass = true;
  		$scope.isPass2 = true;
  		$scope.updataPass =false;
  		$scope.isPassEmail = true;
  		$scope.hasMobile = true;

  		$http.get("/user/setting/getUserInformation").success(function(user){
  			$scope.user = user;
  		});

  		$scope.locales = [
				{locale:"中文(简体)", value:"zh-cn"},
				{locale:"中文(繁体)", value:"zh-hk"},
				{locale:"English", value:"en"}
			];

			$scope.citys = [
				{city: "{{ __('db.location.city.sz') }}", value:"db.location.city.sz"},
				{city: "{{ __('db.location.city.hk') }}", value:"db.location.city.hk"}
			];

			$scope.currencys = [
				{currency:"$HKD(港币)", value:"hkd"},
				{currency:"￥CNY(人民币)", value:"cny"}
			];

			$scope.toggle = function(bool){
				$scope.updataPass = bool;
				if(bool){
					if(!$scope.user.mobile){
						$scope.hasMobile = false;
					}
				}
			};

			$scope.switchDate = function(date){
				var time = moment(date).format("YYYY-MM-DD HH:mm:ss");
				return time
			};

			$scope.getOptionsValue = function(val, propertyName){
				var propertyNames = propertyName+"s";
				var arrays = this[propertyNames];
				for(var i in arrays){
					if(arrays[i].value == val){
						return arrays[i][propertyName]
					}
				}
			};

  	});

  	app.directive("edit", function(){
  		return {
  			restrict: "A",
  			require: "ngModel",
  			link : function(scope, element, attr, ngModel){
  				element.bind("click", function(e){

  					angular.copy(ngModel.$modelValue, scope.userTemp);
  					scope.isEdit = true;

  					scope.$apply();

  					$("#userSetting_dl input").removeProp("readOnly");
  				});
  			}
  		}
  	});

  	app.directive("cancel", function(){
  		return {
  			restrict: "A",
  			require : "ngModel",
  			link: function(scope, element, attr, ngModel){
  				element.bind("click", function(e){
  					if(scope.isEdit == true){
  						angular.copy(scope.userTemp, ngModel.$modelValue);
	  					scope.isEdit = false;
	  					scope.$apply();
  						$("#userSetting_dl input").prop("readOnly", true);
  					}

  				});
  			}
  		}
  	});

  	app.directive("confirm", function($http){
  		return {
  			restrict: "A",
  			link: function(scope, element, attr){
  				element.bind("click", function(e){

  					if(scope.updataPass){
  						if(scope.hasMobile){
  							if(scope.newPwd1 !== scope.newPwd2 || !scope.newPwd1 || !scope.newPwd2){
		  						!scope.newPwd1 && (scope.isPass1 = false);
		  						scope.newPwd1 !== scope.newPwd2 && (scope.isPass2 = false);
		  						console.log(scope.isPass1, scope.isPass2, scope.newPwd1, scope.newPwd2);
		  						scope.$apply();
									return 
		  					}
  						}

	  					scope.user.newPwd1 = scope.newPwd1;
	  					scope.oldPwd && (scope.user.oldPwd = scope.oldPwd);
	  					scope.user.newMobile = scope.mobile;
	  					scope.user.code = scope.code;
	  					scope.user.area_code = $("#input_area_code").val();

  					}

  					$http.post("/user/setting/updataUserInformation", scope.user, {
  						headers: {
					      'X-XSRF-TOKEN': $("#csrf").val()
					   	}
  					}).success(function(user){
  						if(typeof user == "string"){
  							return location.href = "/logout";
  						}

  						if( user.error){
  							scope.isResPass = false;
  							scope.oldPwd = "";
  							$("#hyf-modal-alert").CustomAlert("{{ __('"+user.error+"') }}");
  							return
  						}

  						scope.isEdit = false;
	  					scope.updataPass = false;
	  					scope.newPwd1 = scope.newPwd2 = "";
	  					scope.hasMobile = true;
  						scope.user = user;
  						$("#userSetting_dl input").prop("readOnly", true);
  					});

  				});
  			}
  		}
  	});

  })(jQuery, angular);
</script>
{% endblock %}