body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

dd {
  margin: 10px 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  outline: none;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  cursor: pointer;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

.btn-outline {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 14px;
  padding: 0 20px;
}

.btn-outline:hover {
  background: #258ec7;
}

.hyf-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
}

.hyf-img-circle {
  border-radius: 50%;
}

.hyf-img-thumbnail {
  border: 1px solid #fff;
  padding: 1px;
  vertical-align: middle;
}

.hyf-banner {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("/img/photo-1421217668576-c17a9a841471.jpg") no-repeat center center;
  background-size: cover;
}

.hyf-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  position: absolute;
}

.hyf-banner-slogan {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.hyf-banner-slogan-table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}

.hyf-banner-slogan-content {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}

.hyf-banner-slogan-content h1{
  font-size: 60px;
  margin: 0;
  letter-spacing: 0.2em;
}

.hyf-banner-slogan-content h2{
  font-size: 24px;
  margin: 12px auto;
  letter-spacing: 0.4em;
}

.hyf-banner-controller {
  margin-top: 20px;
}

.hyf-navbar {
  position: absolute;
  top: 0;
  color: #fff;
  z-index: 1000;
}

.hyf-navbar {
  width: 100%;
  font-size: 0;

}

.hyf-navbar-right {
  float: right;
}

.hyf-navbar-nav {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.hyf-navbar-brand {
  height: 30px;
  padding: 10px 0;
}


.hyf-navbar-brand, .hyf-navbar-nav > li {
  display: inline-block;
}

.hyf-navbar-nav > li {
  margin-left: 40px;
  font-size: 14px;
  line-height: 30px;
}