body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Microsoft YaHei", "Roboto Light", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

dd {
  margin: 10px 0;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button, a {
  -webkit-appearance: none;
}

button, input, a, input:focus, button:focus, a:focus, a:active {
  outline: none;
}

button::-moz-focus-inner {
  border: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a {
  color: #15a4e7;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  background: transparent;
  border: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

[ng-cloak], [data-ng-cloak] {
  display: none !important;
}

.page-header {
  margin: 20px 0;
}

.relative-container {
  position: relative;
}

.absolute-right-top {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.btn-primary, .btn-default.active {
  background-color: #15a4e7;
  border-color: #15a4e7;
}

.btn-danger {
  background-color: #ff5a5e;
  border-color: #ff5a5e;
}

.btn.btn-middle {
  border-radius: 0;
  border-right: none;
  margin-right: -2px;
}

.text-danger {
  color: #ff5a5e;
}

.panel-custom {
  border-color: #ddd;
}
.panel-custom > .panel-heading {
  /*color: #fff;*/
  /*background-color: #15a4e7;*/
  border-color: #ddd;
}
.panel-custom > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-custom > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-custom > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

#product-booking .panel-title {
  line-height: 30px;
}

#product-booking .panel-title .more .glyphicon {
  vertical-align: middle;
}

#product-booking-package {
  display: none;
}

.product-booking-container {
  margin-bottom: 20px;
}

.product-booking-container .input-group {
  margin-bottom: 10px;
}

.product-booking-container .alert {
  padding: 4px 10px;
}

.static-article h1{
  text-align: center;
  font-size: 24px;
}

.static-article h2, .static-article p, .static-article dl, .static-article ol, .static-article ul{
  text-align: left;
}

.static-article .text-center {
  text-align: center;
}

.static-article .text-right {
  text-align: right;
}

.static-article h2{
  font-size: 16px;
}

.static-article p{
  text-indent: 2em;
}

.static-article dl{
  padding-left: 2em;
}

.static-article ul li, .static-article ol li {
  margin-bottom: 10px;
}

.static-article ul {
  list-style: none;
  padding-left: 2em;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #15a4e7;
}

.nav-pills > li.current > a,
.nav-pills > li.current > a:hover,
.nav-pills > li.current > a:focus {
  background-color: #15a4e7;
  color: #fff;
}

.navbar {
  margin-bottom: 0;
}

.navbar-custom .navbar-brand {
  padding: 10px 15px;
}

.navbar-custom {
  background: #fff;
  background: rgba(255, 255, 255, .8);
  background-color: rgba(21, 164, 231, .9);
  border: none;
  border-bottom: 1px solid #eee;
  border-radius: 0;
  z-index: 100;
}

.navbar-custom.navbar-absolute {
  position:absolute;
  top:0;
  width: 100%;
  border: none;
}

.navbar-custom .navbar-nav > li > a, .navbar-custom .dropdown-menu>li>a {
  /*color: #15a4e7;*/
  color: #fff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  /*color: #333;*/
  background-color: transparent;
  color: #282828;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  /*color: #07345b;*/
  color: #282828;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #15a4e7;
  color: #15a4e7;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #f5f5f5;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #15a4e7;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #07345b;
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #15a4e7;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #07345b;
    background-color: #e7e7e7;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #15a4e7;
}
.navbar-custom .navbar-link:hover {
  color: #333;
}
.navbar-custom .btn-link {
  color: #15a4e7;
}
.navbar-custom .btn-link:hover,
.navbar-custom .btn-link:focus {
  color: #333;
}
.navbar-custom .btn-link[disabled]:hover,
fieldset[disabled] .navbar-custom .btn-link:hover,
.navbar-custom .btn-link[disabled]:focus,
fieldset[disabled] .navbar-custom .btn-link:focus {
  color: #ccc;
}

.page-header-custom {
  margin: 30px auto;
}

@media (max-width: 767px) {
  .page-header-custom h1 {
    font-size: 24px;
    margin: 10px auto 6px;
  }
}

#hyf-modal-alert .modal-header, #hyf-modal-alert .modal-footer {
  border: none;
}

#hyf-modal-alert h4{
  font-size: 20px;
}

#hyf-modal-alert .modal-body {
  font-size: 16px;
}

#product-detail img, #event-detail img {
  margin: 16px auto;
  display:block;
  max-width: 100%;
  height: auto;
}

.modal-table {
  display: table;
  width: 100%;
  height: 100%;
}

.modal-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.index-slide .row {
  margin:auto;
}

.index-slide-item {
  padding-bottom: 40%;
}

.thumbnail a:hover {
  text-decoration: none;
}

.boat-thumbnail {
  padding-bottom: 60%;
  position: relative;
}

.hyf-map-container {
  padding-bottom: 30%;
  position: relative;
  border-radius: 6px;
}

.map-outer .hyf-map-container {
  height: 100%;
  width: 100%;
}

.index-slide-item, .boat-thumbnail {
  background-position: center center;
  background-size: cover;
}

.boat-thumbnail-8by3 {
  padding-bottom: 36.25%;
  position: relative;
}

.boat-thumbnail-66 {
  padding-bottom: 66%;
}

.boat-basecharge {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 10px 10px;
  width: 100%;
  background: #fff;
  background: rgba(255, 255, 255, .9);
  font-size: 0;
}

.boat-basecharge h4 {
  display: inline-block;
  margin: 0;
  line-height: 1;
  font-size: 18px;
}

.boat-basecharge .text-danger {
  float: right;
}

.index-slogan {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.index-slogan-table {
  display: table;
  width: 100%;
  height: 100%;
}

.index-slogan h1 {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-size: 48px;
}

.index-search-field {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #000;
  background: rgba(0, 0, 0, .4);
}

@media (min-width: 768px) and (max-width: 991px) {
  .index-slide-item {
    padding-bottom: 50%;
  }
}

@media (max-width: 767px) {
  .index-slide-item {
    padding-bottom: 80%;
  }

  .index-slogan h1 {
    font-size: 36px;
  }

  .index-search-field {
    padding: 10px;
  }

  .boat-thumbnail-8by3 {
    padding-bottom: 66%;
  }
}

@media (max-width: 480px) {
  .index-slide-item {
    padding-bottom: 100%;
  }

  .index-slogan h1 {
    font-size: 24px;
  }

  .hyf-map-container {
    padding-bottom: 60%;
  }
}

.boat-info {
  margin-bottom: 20px;
}


.search-field {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-field .btn-group {
  margin-bottom: 10px;
}

.dropdown-menu-justified {
  width: 100%;
}

.radios .btn-default.active, .checkboxs .btn-default.active {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.checkboxs-multiline {
  margin-bottom: 10px;
}



.list-group-item .checkboxs, .text-common .checkboxs{
  margin: 0;
}

.text-common {
  padding: 2px 15px;
}

.boat-detail p {
  margin: 20px auto;
}

.boat-detail .row > div {
  margin: 8px auto;
}


.boat-detail .hr-divider {
  border-color: #ccc;
}

.boat-product h3, .boat-product h4, .boat-product p {
  margin: 6px auto;
}

.boat-product-learn {
  line-height: 26px;
}

.boat-product a:hover .boat-product-learn:hover {
  color: #15a4e7;
}

.package {
  border: 1px solid #999;
  border-radius: 4px;
  background: #fff;
  margin: 10px 0;
  padding: 10px;
}

.package-slot, .package-slot-time {
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  margin: 10px 0;
  padding: 20px;
}

.package-slot-time {
  padding: 10px;
}

.package-slot:disabled, .package-slot-time:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.package-slot.selected, .package-slot-time.selected {
  color: #fff;
  background: #15a4e7;
}

.event-info {
  padding: 8px 23px;
}

.width80 {
  width: 80%;
}

.list-table .list-group-item {
  padding: 8px;
}

.list-table .list-group-item>div.row {
  margin: 0;
}

.list-table .list-group-item>div.row>div {
  padding: 0;
}

.table-summary>tbody>tr>th:nth-child(2),
.table-summary>tbody>tr>th:nth-child(3),
.table-summary>tbody>tr>td:nth-child(2),
.table-summary>tbody>tr>td:nth-child(3) {
  text-align: right;
}

ul.list-layout {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.list-layout li {
  margin: 6px 0;
}

footer ul.list-layout li a {
  color:#fff;
}

footer ul.list-layout li a:hover {
  color: #ccc;
  text-decoration: none;
}

.hr-divider {
  border-top: 1px solid #eee;
  height: 0;
}

.hr-divider-bottom {
  border-top: 1px solid #eee;
  height: 0;
  margin: 0;
}

dl.dl-horizontal dt {
  text-align: left;
}

.fix-container {
  color:#000;
  padding: 8px 0;
  background: #f8f8f8;
  background: rgba(248, 248, 248, .9);
  border-top: 1px solid #eee;
  font-size: 0;
}

.fix-container .nav-pills {
  display: inline-block;
  font-size: 14px;
}

.fix-container-top {
  padding: 12px 0;
  color:#000;
  text-align: center;
  background: #fff;
  /*background: rgba(255, 255, 255, .9);*/
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.fix-container-top .text-danger {
  font-weight: bold;
}

.panel-title a:hover {
  text-decoration: none;
}

.columns {
  padding: 40px 0;
}

.columns .cell {
  margin-bottom: 10px;
}

.columns p, .columns p.text-muted {
  font-size:14px;
  line-height: 20px;
}

.columns-gray {
  background-color: #f5f5f5;
}

.columns-sm {
  padding-top: 20px;
  padding-bottom: 20px;
}

.columns h3, .columns-sm h3 {
  margin: 10px 0;
}

.thumbnail {
  padding: 0;
}

.booking-list .thumbnail {
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 1020px;
  }
}

@media (max-width: 767px) {
  input.input-small {
    padding: 6px 2px;
  }
}

/*full Calendar*/

#calendar, .calendar-controller {
  margin-bottom: 10px;
}

.calendar-controller {
  line-height: 34px;
}

.calendar-event-icon {
  color: #15a4e7;
}

.calendar-event-icon-wait {
  color: #f0ad4e;
}

.calendar-event-icon-unavailable {
  color: #ff5a5e;
}

.calendar-event-icon-unavailable-client {
  color: #ccc;
}

.fc-left h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.fc-time-grid-container .fc-time-grid .fc-slats td {
  height: 2.5em;
}

.fc-day-disable {
  background: #eee;
}

body.fc-not-allowed {
  cursor: default;
}

.fc-row .fc-selected{
  z-index: 5;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.6);
  font-size: x-large;
}

td.fc-bgevent {
  opacity: .4;
  filter: alpha(opacity=40);
  color: #fff;
}

#cnzz_stat_icon_1256860309 {
  display: none;
}

.userSetting img{
  width: 65%;
  max-width: 100px;
  max-height: 65%;
}

.userSetting .editInput{
  border:none;
}

.userSetting .thumbnail {
  padding: 0 15px 15px;
}

.userSetting dd {
  min-height: 34px;
}

#div_input {
  border-radius: 6px;
  outline:none;
  min-height: 60px;
}

.noPadding {
  padding: 0;
}

.info_noSetting {
  color:#999;
}

@media (min-width: 769px) {
  .event-list-height {
    height: 238px;
  }

  .thumbnail .pre-img a img {
    height: 99%;
    max-width: 1000%;
  }

  .pre-img {
    height: inherit;
    overflow: hidden;
  }

}

@media (max-width: 767px) {
  .margin_top {
    margin-top: 10px;
  }
}

#product-booking-date {
  min-height: 201px;
}

.booking-step-out {
  padding: 5px 0 10px 0;
  background-color: rgb(255,255,255);
}

.booking-step {
  position: relative;
  color:#999;
  padding-left:8px;
  padding-right: 8px; 
}

.booking-step-font-size {
  font-size:inherit;
}

.booking-step-glyphicon {
  background-color: #fff;
  z-index: 2;
  border:10px solid #fff;
  font-size: xx-large;
}

.borderline {
  height: 0;
  border-top: 2px solid #999;
  position: absolute;
  z-index: 1;
  top: 48%;
  right: 50%;
  margin-right:8%;
}

.styleTransition {
          transition: all .5s;
  -webkit-transition: all .5s;
}

@media (max-width: 767px) {
  .booking-step-font-size {
    font-size:12px;
  }
  .booking-step-glyphicon {
    font-size: x-large;
  }
}

.boat-unti {
  color:inherit;
}

.share-title{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  color:#999;
  margin-bottom: 0px;
}

.collapsed .showInCollapsed{
  display: inline-block;
}

.showInCollapsed{
  display: none;
}

.hideInCollapsed{
  display: inline-block;
}

.collapsed .hideInCollapsed {
  display: none;
}

.quit-map {
  font-size: x-large;
  cursor: pointer;
}

.bg_color_white {
  background-color: #fff!important;
}