<div class="container columns-sm">
  <ol class="breadcrumb">
    <li><a href="/">{{ __('nav.home') }}</a></li>
    <li class="active">{{ __('site.info.about') }}</li>
  </ol>
  <div class="page-header text-center">
    <h1>{{ __('site.info.about') }}</h1>
  </div>
  <div class="static-article">
    <p>海龟租船，是深圳市海云帆游艇发展有限公司旗下的租船网站平台，本平台整合全球休闲船舶资源，让客户可在平台直接对接优质船舶，方便快捷完成租赁过程，本平台价格为船东直接报价，不存在中介环节，让客户以最低的价格，最高的性价比来开启您的出海休闲生活。</p>
    <p>海龟租船，致力于发展海上旅游文化，让国内的普通消费者有机会能接触到海洋，并体验海洋文化。</p>
    <p>本司全球范围内提供高、中、低端 游艇、帆船、客船 等船舶租赁，适用于各种私人及商务活动，如：公司活动、商务会议、商务接待、亲朋聚会、同学聚会、生日Party、婚礼仪式等，同时为客户提供各种相关服务，如活动策划、餐饮服务、海上及海岛旅游线路定制等。</p>
    <h2>公司的使命：</h2>
    <p>普及、推广海洋文化，开启您的出海休闲新生活方式。</p>
    <h2>期待与您合作！！</h2>
  </div>
  <hr class="hr-divider">
</div>