<h1>《海龟租船租赁协议》</h1>
<p>请认真阅读本租赁协议，一旦您的订单生成并支付成功，则视为您已经阅读该协议并同意协议全部条款内容。</p>
<p class="hightlight">本平台只为客户与船东提供交易的通道，平台不收取中介费用，仅收取少量的通道服务费。订单生成后，则客户与船东达成船舶租赁合同。</p>
<h2>定义：</h2>
<dl>
  <dt>客户：</dt>
  <dd>生成订单的租赁人及其随行的客人均称为客户。本协议也使用您来代表客户。</dd>
  <dt>平台：</dt>
  <dd>“海龟租船”简称本平台或平台。</dd>
  <dt>我公司：</dt>
  <dd>“深圳市海云帆游艇发展有限公司”可简称我公司。</dd>
</dl>
<h2>一、	订单生成与提交</h2>
<p>客户根据需求，选择船舶租赁页面的具体服务项目，输入相关信息，确认无误后，即可提交订单。</p>
<h2>二、	订单租赁内容</h2>
<p>租赁内容由您提交的订单详情确定，订单生成后，请仔细核对订单是否有异议，若确定无任何问题后，请及时支付订单款项，支付后即生成有效的订单。</p>
<h2>三、	支付款项</h2>
<p>订单生成后，请及时支付订单款项，只有支付成功的订单，才是有效的订单。支付不成功的或未支付的订单，均为无效订单。支付成功的订单，您将享受到所选择的订单内容的服务项目，并产生法律效力。如果您未按要求及时付清相关费用，而您拟预订产品的价格、内容、标准已发生变化或产品售罄等，本平台对此将不承担任何责任，本平台可以随时取消未付款订单。 </p>
<h2>四、	船舶租赁细则</h2>
<ol>
  <li>客户需遵守登船当地的法律法规和有关规定，不在出行过程中从事违法活动，不参与色情、赌博和涉毒活动。</li>
  <li>客户应遵守协议的有关规定，爱护所乘坐船舶的设施设备，因客户原因使船舶的设施物品等有遗失或损坏时，客户须照价予以赔偿。如有违反国家法律，法规，由当事人负责。</li>
  <li>客户妥善保管自己的行李物品，尤其贵重物品。若丢失或损坏则自行承担损失。</li>
  <li>客户活动期间，应当在自己能够控制风险的范围内选择活动项目，并对自己的安全负责。</li>
  <li>客户需如实告知平台或船东与本次出行活动相关的个人健康信息，对孕妇、儿童及心脏病患者等信息提前告知。如因自身疾病引起的人身、财产损失应当自行承担。船东有权根据客户组织的游客的身体健康情况决定是否接纳其上船。</li>
  <li>客户要确保船上任何物品或任何附带设施，应由制定操作人员依据使用守则或法例或操作使用，如因违反以上条款而导致任何财物受损或伤亡，客户要自行负责赔偿该等损毁及责任。</li>
  <li>船舶上设施的使用需经过船东同意，有些是需要付费才能使用，若无付费则不能使用。</li>
  <li>客户如需加时及增加新的娱乐项目及行程，需与船东协商，船东可拒绝新增加的项目。平台或船东有权拒绝客户提出的超出合同约定的不合理的要求。</li>
  <li>当发生紧急情况时，船东可以采取紧急避险措施并要求客户予以配合。</li>
  <li>客户如在船上吸食违禁毒品及违例者，船东有权立刻终止当日活动，并做报警处理，并不作任何赔偿。</li>
  <li>客户如于约定时间后两小时仍未抵达约定地点，并也无其他指示，则作自动取消，所支付之全部款项均不退还。如客户欲提早回航，剩余时间不做另外补偿。</li>
  <li>若实际参与活动人数与报名人数不符，并人数超出船舶规定限额，船东有权拒绝开船。</li>
  <li>出航前若船舶发生故障，而未能及时修复，平台将尽速通知客户改期或以其他相应等级的船只代替或退还定金，如客户选择退款，除全数退回外，本平台将已收款项之2%作为补偿。</li>
  <li>若航行中船舶机件发生故障，船长当尽其所能送客回航，如用船时间已逾租用时间之二份一或已抵目的地，恕不另补期。</li>
  <li>如客户提出改期，原则上不能改期，需与平台协商改期事宜。若平台经过与船东协商同意改期，但由于改期可能涉及到已经发生的费用，此费用将由客户承担。</li>
  <li>如果因客户原因，取消此合同的船舶租赁事宜，平台根据船东退款政策，有权不予退还客户所支付的船舶租赁定金。若在临出行前取消，则需扣除定金及因出行而产生的费用，如餐饮费等。</li>
  <li>因客户违约、自身过错、自由活动期间内的行为或自身疾病引起的人身、财产损失应当自行承担。由此给船东或第三人造成损失的，应当承担赔偿责任。</li>
</ol>
<h2>五、	客户出行安全与保险约定</h2>
<ol>
  <li>客户清楚所从事的活动具有一定的风险性，如游泳、滑水等。若由于自身问题导致身体受到伤害、死亡等意外事件，客户自行承担责任，船家、本平台及本公司不承担任何责任。</li>
  <li>所租赁的船舶都有购买第三者保险，部分水上娱乐设施也有购买保险（是否购买保险相应设施会做辅助说明），若在购买保险的设施上受到伤害，则保险公司会依据设施的保额等给予相应赔偿。</li>
  <li>客户需自行为同行的客户购买意外保险，若在未投保的娱乐设施上受到伤害，自行购买的意外保险也会给予一定的赔偿。</li>
  <li>本平台所推荐的相关保险的公司，仅为方便客户选择及购买保险产品。若由于客户与所购买的保险公司产生纠纷，需双方自行解决纠纷，本平台及本公司不付任何责任。</li>
  <li>当参与任何一种水上活动时(如:香蕉船、滑水、游水 等)，都必须了解自己的能力及身体状况。切忌太饱、太饿、喝酒及服食药物，身体不适及疲劳等，都不宜参与水上活动。</li>
  <li>当玩香蕉船及滑水、水上飞碟时，首先清楚聆听船主之明确指示及必须穿着所提供之救生衣。一旦落水，立即松开双手，以免由于快速拖动造成其他伤害。</li>
  <li>凡参与水上活动者需穿着泳衣或泳裤，但必须把身上所佩带之饰物除下，如眼镜、潜水镜、戒指、手镂、手链、手镯、颈链等等硬物，一旦遗失需自行承担损失。</li>
  <li>船上禁止跳水。由于每个人身体状况情况及游泳能力水平不同，且跳水具有一定危险性，所以船舶上禁止跳水。</li>
  <li>各活动参与者都必须清楚明白及理解海上活动存在对生命及财产之危险而导致意外伤亡，参与者愿意依据各指示及规则活动，如有意外，各参与者须自行承担一切有关法律上的责任。</li>
</ol>
<h2>六、	有关处理天气问题约定</h2>
<ol>
  <li>因天气问题等不可抗力事件导致生效订单部分或全部不能履行，平台不负违约责任。双方协商处理订单后续事宜。</li>
  <li>出行前平台需关注天文台的天气情况，对可能发生的导致订单不能履行的情况，平台需提前告知客户，并持续关注天气。</li>
  <li>如因天气转变或安全理由，船长有权决定选择较安全的航线及地点登岸。客户必须在同一码头上落船，如有特别安排，必须提前与船东洽谈。</li>
  <li>如因天气问题不能出行，客户可改期，具体改期时间与船主协商（平台可参与协商）。</li>
</ol>
<p class="text-right">海龟租船</p>
<p class="text-right">2015年10月</p>