<div class="container columns-sm">
  <ol class="breadcrumb">
    <li><a href="/">{{ __('nav.home') }}</a></li>
    <li class="active">{{ __('site.info.contact') }}</li>
  </ol>
  <div class="page-header text-center">
    <h1>{{ __('site.info.contact') }}</h1>
  </div>
  <div class="text-center">
    <p>微信公众号直接联系：工作时间：周一~周五9：00~18：00 节假日不定时在线</p>
    <p>热线电话：400 008 3731</p>
    <p>官方网站：http://www.hgboating.com</p>
    <p>微博：@海龟租船</p>
    <p>服务邮箱：service@hgboating.com</p>
    <p>地址：深圳市福田区紫竹七道求是大厦东座2501</p>
  </div>
  <hr class="hr-divider">
</div>