<div class="container columns-sm">
  <ol class="breadcrumb">
    <li><a href="/">{{ __('nav.home') }}</a></li>
    <li class="active">{{ __('site.info.copyright') }}</li>
  </ol>
  {% if currLocale == 'zh-hk' %}
  <div class="page-header text-center">
    <h1>HGBOATING知识产权声明</h1>
  </div>
  <div class="static-article">
    <ol>
      <li>除法律法规明确规定，或另有明确协议约定之外，HGBOATING在其提供的网站、产品和服务中涉及的各种内容（包括但不限于文字、图片、音频、视频、图表等） 的知识产权归HGBOATING所有；HGBOATING网站、产品和服务所依托软件的著作权、专利权、网站架构、程序设计及其他相关权利归HGBOATING所有； HGBOATING使用的“HGBOATING”（文字）“hgboating”（文字）、“HGBOATING”（形象图案）、以及其他注册商标、所有设计图样以及其他图样、产品、程序及服务名称等商业标识、商业名称，其著作权、商标权，或外观设计专利等权益归HGBOATING所有。 上述知识产权均受到法律保护，未经HGBOATING书面许可，任何人不得以任何形式进行使用或创造相关衍生作品。</li>
      <li>用户在HGBOATING上传或发布的内容，用户应保证其为著作权人或已取得相关权利人的合法授权，并且该内容不会侵犯任何第三方的合法权益， 并保证该等内容具有准确性、真实性、正当性、合法性，且不得以任何形式侵犯第三人权益，因抄袭、转载、侵权等行为所产生的纠纷由用户自行解决，HGBOATING不承担任何法律责任。用户的言论侵犯了任何第三方的著作权或其他权利，第三方发出有效的权利通知时，HGBOATING有权在初步审核的基础上决定删除相关的内容。 且HGBOATING有权在必要时配合第三方、司法机关或行政机关完成相关的取证，并根据法律、主管部门或司法部门的要求披露用户信息。 若您认为您的知识产权或其他合法权益被侵犯，请及时联系HGBOATING，并按照HGBOATING要求提供资料、发出书面通知。HGBOATING收到资料及书面通知后， 将依法尽快展开初步核实，并采取删除涉嫌侵权的信息或者断开涉嫌侵权信息的链接等必要措施，并同时将通知书转送涉嫌侵权信息的提供者。 请注意：如果通知书的陈述失实，通知提交者将承担对由此造成的全部法律责任（包括但不限于赔偿各种费用及律师费）。</li>
      <li>对于用户在任何时间、任何地点通过PC或移动终端等设备访问及/或使用HGBOATING及其关联网站、APP等产品或服务时发表的任何形式的文字、图片等知识产权信息， 用户同意将其著作权非排他的授予HGBOATING，该等权利包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、 翻译权、汇编权等可由著作权人转让的其他权益，该等授权覆盖HGBOATING现已服务以及未来任何时候提供的服务。用户在此明确许可HGBOATING有权就任何主体侵权而独立维权并获得赔偿，维权形式包括但不限于以发侵权通告函件、发起诉讼、申请仲裁等方式。用户还明确，HGBOATING对于上述所有授权有权进行转授权。 用户理解并确认，本服务协议已经构成《著作权法》第二十五条所规定的书面协议，其效力及于用户在HGBOATING网站、产品及服务等载体发布的任何受著作权法保护的作品内容，无论该内容形成于本协议签订前还是本协议签订后。无论用户以注册或不注册等方式使用HGBOATING的服务均视为已充分理解并完全同意本协议的条款， 明确向HGBOATING作出上述许可。</li>
      <li>HGBOATING不对用户发表的内容及其它附属品（如游记、行程、点评、问答、图片等）的正确性进行保证，用户发表的内容及其它附属品不代表HGBOATING观点和立场。</li>
    </ol>
    <p class="text-right">海雲帆遊艇國際有限公司</p>
    <p class="text-right">2015年10月</p>
  </div>
  {% else %}
  <div class="page-header text-center">
    <h1>海龟租船知识产权声明</h1>
  </div>
  <div class="static-article">
    <ol>
      <li>除法律法规明确规定，或另有明确协议约定之外，海龟租船在其提供的网站、产品和服务中涉及的各种内容（包括但不限于文字、图片、音频、视频、图表等） 的知识产权归海龟租船所有；海龟租船网站、产品和服务所依托软件的著作权、专利权、网站架构、程序设计及其他相关权利归海龟租船所有； 海龟租船使用的“海龟租船”（文字）“hgboating”（文字）、“海龟租船”（形象图案）、以及其他注册商标、所有设计图样以及其他图样、产品、程序及服务名称等商业标识、商业名称，其著作权、商标权，或外观设计专利等权益归海龟租船所有。 上述知识产权均受到法律保护，未经海龟租船书面许可，任何人不得以任何形式进行使用或创造相关衍生作品。</li>
      <li>用户在海龟租船上传或发布的内容，用户应保证其为著作权人或已取得相关权利人的合法授权，并且该内容不会侵犯任何第三方的合法权益， 并保证该等内容具有准确性、真实性、正当性、合法性，且不得以任何形式侵犯第三人权益，因抄袭、转载、侵权等行为所产生的纠纷由用户自行解决，海龟租船不承担任何法律责任。用户的言论侵犯了任何第三方的著作权或其他权利，第三方发出有效的权利通知时，海龟租船有权在初步审核的基础上决定删除相关的内容。 且海龟租船有权在必要时配合第三方、司法机关或行政机关完成相关的取证，并根据法律、主管部门或司法部门的要求披露用户信息。 若您认为您的知识产权或其他合法权益被侵犯，请及时联系海龟租船，并按照海龟租船要求提供资料、发出书面通知。海龟租船收到资料及书面通知后， 将依法尽快展开初步核实，并采取删除涉嫌侵权的信息或者断开涉嫌侵权信息的链接等必要措施，并同时将通知书转送涉嫌侵权信息的提供者。 请注意：如果通知书的陈述失实，通知提交者将承担对由此造成的全部法律责任（包括但不限于赔偿各种费用及律师费）。</li>
      <li>对于用户在任何时间、任何地点通过PC或移动终端等设备访问及/或使用海龟租船及其关联网站、APP等产品或服务时发表的任何形式的文字、图片等知识产权信息， 用户同意将其著作权非排他的授予海龟租船，该等权利包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、 翻译权、汇编权等可由著作权人转让的其他权益，该等授权覆盖海龟租船现已服务以及未来任何时候提供的服务。用户在此明确许可海龟租船有权就任何主体侵权而独立维权并获得赔偿，维权形式包括但不限于以发侵权通告函件、发起诉讼、申请仲裁等方式。用户还明确，海龟租船对于上述所有授权有权进行转授权。 用户理解并确认，本服务协议已经构成《著作权法》第二十五条所规定的书面协议，其效力及于用户在海龟租船网站、产品及服务等载体发布的任何受著作权法保护的作品内容，无论该内容形成于本协议签订前还是本协议签订后。无论用户以注册或不注册等方式使用海龟租船的服务均视为已充分理解并完全同意本协议的条款， 明确向海龟租船作出上述许可。</li>
      <li>海龟租船不对用户发表的内容及其它附属品（如游记、行程、点评、问答、图片等）的正确性进行保证，用户发表的内容及其它附属品不代表海龟租船观点和立场。</li>
    </ol>
    <p class="text-right">深圳市海云帆游艇发展有限公司</p>
    <p class="text-right">2015年10月</p>
  </div>
  {% endif %}
  <hr class="hr-divider">
</div>