<div class="container columns-sm">
  <ol class="breadcrumb">
    <li><a href="/">{{ __('nav.home') }}</a></li>
    <li class="active">{{ __('site.info.disclaimer') }}</li>
  </ol>
  {% if currLocale == 'zh-hk' %}
  <div class="page-header text-center">
    <h1>HGBOATING免責聲明</h1>
  </div>
  <div class="static-article">
    <p>“HGBOATING(www.hgboating.com)”，是海雲帆遊艇國際有限公司(以下簡稱海雲帆) 合法設立的船舶租賃平臺（以下可簡稱“平臺”），為廣大出海愛好者與船東間建立高效的點對點式的租賃通道。在使用HGBOATING平臺前，請您務必仔細閱讀並透徹理解本聲明。您可以選擇不使用HGBOATING，但如果您使用HGBOATING，您的使用行為將被視為對本聲明全部內容的認可。</p>
    <ol>
      <li>HGBOATING上的部分資訊來自於第三方或用戶的提供，且任何資訊都存在滯後或會被更新的可能，因此HGBOATING不能保證在任何時候任何資訊都準確無誤。 您應自行謹慎判斷確定相關服務及/或資訊的真實性、合法性和有效性，並自行承擔因此產生的責任與損失。</li>
      <li>HGBOATING有權利但無義務，改善或更正本網站任何部分之任何疏漏、錯誤。</li>
      <li>您知道HGBOATING平臺所提供的船舶均由第三方提供，您清楚對於第三方船舶的審核HGBOATING僅能做出部分正確判斷，由於HGBOATING審核問題不准確而導致的用戶的損失HGBOATING不做賠償。</li>
      <li>您知道租賃船舶出行及進行海上娛樂具有一定的風險，所以您在出行前要為自己（及同行用戶）購買適合自身保額的含有高風險運動（游泳、潛水等）的保險，當發生意外時，由於未購買保險而造成自身財產及身體健康及生命的損失，用戶須自行承擔。</li>
      <li>HGBOATING不保證，包括但不限於：本服務適合用戶的使用要求；本服務不受干擾，及時、安全、可靠或不出現錯誤；用戶經由HGBOATING獲得的任何產品、 服務或其他材料符合用戶的期望。</li>
      <li>用戶使用經由HGBOATING收聽、下載、複製等形式取得任何資料，其風險自行負擔；因該等使用導致用戶電腦系統損壞或資料流失，用戶應負完全責任；</li>
      <li>基於以下原因而造成用戶的利潤、商業信譽、資料損失或其他有形或無形損失，HGBOATING不承擔任何直接、間接、附帶、衍生或懲罰性的賠償：
        <ul>
          <li>1) 使用或無法使用本服務；</li>
          <li>2) 經由HGBOATING服務平臺購買或取得的任何產品、資料或服務；</li>
          <li>3) 用戶資料遭到未授權的使用或修改；</li>
          <li>4) 第三方利用本服務以任何方式發佈或投遞欺詐性資訊，或誘導用戶受到經濟損失；</li>
          <li>5) 任何船舶的狀況;</li>
          <li>6) 死亡或人身傷害;</li>
          <li>7) 任何財產損失或任何船舶的損毀或遺失;</li>
          <li>8) 落在船舶中的物品的的損毀或遺失;</li>
          <li>9) 任何燃油費及其他附加費;</li>
          <li>10) 任何在船舶租賃過程中所受到的行政處罰等;</li>
          <li>11) 任何船舶的失竊或故障;</li>
        </ul>
      </li> 
    </ol>
    <p class="text-right">海雲帆遊艇國際有限公司</p>
    <p class="text-right">2015年10月</p>
  </div>
  {% else %}
  <div class="page-header text-center">
    <h1>海龟租船免责声明</h1>
  </div>
  <div class="static-article">
    <p> “海龟租船(www.hgboating.com)”，是深圳市海云帆游艇发展有限公司(以下简称海云帆) 合法设立的船舶租赁平台（以下可简称“平台”），为广大出海爱好者与船东间建立高效的点对点式的租赁通道。在使用海龟租船平台前，请您务必仔细阅读并透彻理解本声明。您可以选择不使用海龟租船，但如果您使用海龟租船，您的使用行为将被视为对本声明全部内容的认可。</p>
    <ol>
      <li>海龟租船上的部分信息来自于第三方或用户的提供，且任何信息都存在滞后或会被更新的可能，因此海龟租船不能保证在任何时候任何信息都准确无误。 您应自行谨慎判断确定相关服务及/或信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。</li>
      <li>海龟租船有权利但无义务，改善或更正本网站任何部分之任何疏漏、错误。</li>
      <li>您知道海龟租船平台所提供的船舶均由第三方提供，您清楚对于第三方船舶的审核海龟租船仅能做出部分正确判断，由于海龟租船审核问题不准确而导致的用户的损失海龟租船不做赔偿。</li>
      <li>您知道租赁船舶出行及进行海上娱乐具有一定的风险，所以您在出行前要为自己（及同行用户）购买适合自身保额的含有高风险运动（游泳、潜水等）的保险，当发生意外时，由于未购买保险而造成自身财产及身体健康及生命的损失，用户须自行承担。</li>
      <li>海龟租船不保证，包括但不限于：本服务适合用户的使用要求；本服务不受干扰，及时、安全、可靠或不出现错误；用户经由海龟租船获得的任何产品、 服务或其他材料符合用户的期望。</li>
      <li>用户使用经由海龟租船收听、下载、复制等形式取得任何资料，其风险自行负担；因该等使用导致用户电脑系统损坏或资料流失，用户应负完全责任；</li>
      <li>基于以下原因而造成用户的利润、商业信誉、资料损失或其他有形或无形损失，海龟租船不承担任何直接、间接、附带、衍生或惩罚性的赔偿：
        <ul>
          <li>1)	使用或无法使用本服务；</li>
          <li>2)	经由海龟租船服务平台购买或取得的任何产品、资料或服务；</li>
          <li>3)	用户资料遭到未授权的使用或修改；</li>
          <li>4)	第三方利用本服务以任何方式发布或投递欺诈性信息，或诱导用户受到经济损失；</li>
          <li>5)	任何船舶的状况;</li>
          <li>6)	死亡或人身伤害;</li>
          <li>7)	任何财产损失或任何船舶的损毁或遗失;</li>
          <li>8)	落在船舶中的物品的的损毁或遗失;</li>
          <li>9)	任何燃油费及其他附加费;</li>
          <li>10)	任何在船舶租赁过程中所受到的行政处罚等;</li>
          <li>11)	任何船舶的失窃或故障;</li>
        </ul>
      </li>
    </ol>
    <p class="text-right">深圳市海云帆游艇发展有限公司</p>
    <p class="text-right">2015年10月</p>
  </div>
  {% endif %}
  <hr class="hr-divider">
</div>