<div class="container columns-sm">
  <ol class="breadcrumb">
    <li><a href="/">{{ __('nav.home') }}</a></li>
    <li class="active">{{ __('site.info.privacy') }}</li>
  </ol>
  <div class="page-header text-center">
    <h1>用户隐私保护</h1>
  </div>
  <div class="static-article">
    <p>海龟租船非常重视用户信息的保护，在使用海龟租船的所有产品和服务前，请您务必仔细阅读并透彻理解本声明。一旦您选择使用，即表示您认可并接受本条款现有内容及其可能随时更新的内容。</p>
    <ol>
      <li>保护用户隐私是海龟租船的一项基本政策，海龟租船不对外公开或向第三方提供用户的注册资料及用户在使用网络服务时存储在海龟租船的非公开内容，但下列情况除外：
        <ul>
          <li>1)	事先获得用户的明确授权；</li>
          <li>2)	根据有关的法律法规要求；</li>
          <li>3)	按照相关政府主管部门的要求；</li>
          <li>4)	为维护社会公众的利益；</li>
          <li>5)	为维护海龟租船的合法权益等</li>
        </ul>
      </li>
      <li>在以下（包括但不限于）几种情况下，海龟租船有权使用用户的个人信息：
        <ul>
          <li>1)	某些情况下为进行相关商业合作需要调取用户的个人信息，海龟租船可能会与赞助商共享用户的个人信息，在这些情况下海龟租船可能会在发送用户信息之前进行提示， 您可以通过不参与来终止传送过程。</li>
          <li>2)	海龟租船可能会将用户信息与第三方数据匹配。</li>
          <li>3)	海龟租船会披露用户统计数据，向未来的合作伙伴、广告商及其他第三方以及为了其他合法目的而描述公司的服务。 在对用户隐私资料进行去身份化处理的前提下，海龟租船有权对整个用户数据库进行分析并对用户数据库进行商业上 的利用。</li>
        </ul>
      </li>
      <li>如您认为您的个人信息被海龟租船超目的使用、或被其他用户侵权，请立即与海龟租船联系，并按照要求提供相应的证明资料，海龟租船将及时调查核实处理。</li>
    </ol>
    <p class="text-right">深圳市海云帆游艇发展有限公司</p>
    <p class="text-right">2015年10月</p>
  </div>
  <hr class="hr-divider">
</div>