<div class="container columns-sm">
  <ol class="breadcrumb">
    <li><a href="/">{{ __('nav.home') }}</a></li>
    <li class="active">{{ __('site.info.terms') }}</li>
  </ol>
  {% if currLocale == 'zh-hk' %}
  <div class="page-header text-center">
    <h1>HGBOATING用戶服務協議</h1>
  </div>
  <div class="static-article">
    <p>“HGBOATING (www.hgboating.com)”，是海雲帆遊艇國際有限公司(以下簡稱海雲帆) 合法設立的船舶租賃平臺（以下可簡稱“平臺”），為廣大出海愛好者與船東間建立高效的點對點式的船舶租賃通道。在此特別提醒客戶認真閱讀《HGBOATING用戶服務協議》（以下簡稱"本協議"），並接受或不接受本協議。若您註冊成功則視為您對本《協議》的接受及簽署，並同意接受本《協議》各項條款的約束。</p>
    <p>本協議的條款“HGBOATING”有權隨時更新，且毋須另行通知。 此外，當您使用“平臺”某一具體網站頻道、產品、服務等具體服務時，您應遵守“平臺”隨時公佈的與該具體服務相關的具體協議、指引和規則等。 如《HGBOATING免責聲明》、《HGBOATING隱私保護聲明》、《HGBOATING知識產權聲明》等，前述所有的具體協議、指引和聲明等，均構成本協議的一部分。</p>
    <h2>一、 用戶使用說明</h2>
    <ol>
      <li>	您一旦註冊成功，即成為HGBOATING用戶，可以獲得本站規定用戶所應享有的一切許可權；“用戶”是指本服務的使用人，本協議也可能使用“您”來稱呼用戶。</li>
      <li>	若用戶未滿18周歲則屬於未成年人用戶，未成年人用戶應在監護人監護、指導下，閱讀瞭解本協議和使用本服務。</li>
      <li>	您理解並接受HGBOATING對該帳號的授權僅限於您個人、非商業、不可轉讓及非排他性的使用，HGBOATING保留該帳號的所有權，並可以在必要時收回該帳號，您僅可為訪問或使用本服務的目的而使用該帳號。HGBOATING特別提醒您應妥善保管您的帳號和密碼。當您使用完畢後，應安全退出。用戶對利用該密碼和帳號所進行的一切活動負全部責任；由該等活動所導致的任何損失或損害由用戶承擔，HGBOATING不承擔任何責任。 因您保管不善可能導致遭受盜號或密碼失竊，責任由您自行承擔。如果您的密碼和帳號遭到未授權的使用或發生其他任何安全問題，應立即通知HGBOATING。</li>
      <li>	您同意在使用本服務時遵守當地的相關法律法規的所有規定，並尊重當地的道德和風俗習慣。如您的行為違反當地法律法規或道德風俗，您應當為此獨立承擔責任。構成違法或犯罪的，將由您自行承擔刑事責任。如果您違反了本條約定，相關國家機關或機構可能會對您提起訴訟、罰款或採取其他制裁措施，並要求HGBOATING給予協助的， HGBOATING可能會依法協助。如果您的違法行為造成HGBOATING損害的，您應依法予以賠償。</li>
      <li>	用戶可在使用本服務發佈文章、圖片、評論及其他資訊，但不得使用HGBOATING服務發送或傳播敏感資訊和違反國家法律法規政策的資訊，此類資訊包括但不限於：
        <ul>
          <li>1) 反對憲法所確定的基本原則的；</li>
          <li>2) 危害國家安全，洩露國家秘密，顛覆國家政權，破壞國家統一的；</li>
          <li>3) 損害國家榮譽和利益的；</li>
          <li>4) 煽動民族仇恨、民族歧視，破壞民族團結的；</li>
          <li>5) 破壞國家宗教政策，宣揚邪教和封建迷信的；</li>
          <li>6) 散佈謠言，擾亂社會秩序，破壞社會穩定的；</li>
          <li>7) 散佈淫穢、色情、賭博、暴力、兇殺、恐怖或者教唆犯罪的；</li>
          <li>8) 侮辱或者誹謗他人，侵害他人合法權益的；</li>
          <li>9) 含有法律、行政法規禁止的其他內容的。</li>
        </ul>
      </li>
      <li>用戶在使用本服務過程中，還必須遵循以下原則：
        <ul>
          <li>1) 遵守中國及所在國有關的法律和法規；</li>
          <li>2) 用戶不得侵任何人的知識產權，包括但不限於不得將侵犯任何人的專利、商標、著作權、商業秘密或其他專屬權利；</li>
          <li>3) 用戶不得侵犯涉密信息，包括但不限於不得將無權傳送的內容（例如商業秘密、內部資料、機密資料、個人資訊等）進行上載、張貼、發送電子郵件或以其他方式發佈、傳送、傳播、儲存、或提供；</li>
          <li>4) 用戶不得為任何非法目的而使用網路服務系統，包括但不限於應當遵守法律法規，以及所有與網路服務有關的網路協議、規定和程式，不得利用HGBOATING網路服務系統進行任何可能對互聯網的正常運轉造成不利影響的行為，或其他任何非法行為；</li>
          <li>5) 用戶僅可在非商業範圍內使用本服務。不得進行任何未經HGBOATING書面許可的商業廣告行為，包括但不限於將廣告函件、促銷資料、垃圾郵件等，加以上載、張貼、發送電子郵件、發送站內信或以其他方式發佈、傳送、傳播、儲存，或提供；不得對HGBOATING上的任何數據作商業性利用，包括但不限於在未經HGBOATING事先書面同意的情況下，以複製、發佈、傳播等任何方式使用HGBOATING上展示的資料；</li>
          <li>6) 用戶不得利用本服務實施侵權行為，包括但不限於不得使用虛假、冒充他人或其他方的資訊註冊HGBOATING後發布評論或其他內容，不得冒充任何人或機構，或以虛偽不實的方式謊稱或使人誤認為其言論或身份與任何人或任何機構有關；不得偽造標題或以其他方式操控識別資料，使人誤認為該內容為HGBOATING所傳送；不得以虛構或歪曲事實的方式不當評價其他用戶；不得利用HGBOATING網路服務系統傳輸任何騷擾性的、中傷他人的、辱罵性的、庸俗淫穢的或其他任何非法的資訊資料；</li>
          <li>7) 用戶不得破壞本服務的提供，或侵犯本服務相關的任何權利，包括但不限於不得將有關干擾、破壞或限制任何電腦軟體、硬體或通訊設備功能的軟體病毒或其他電腦代碼、檔案和程式之資料，加以上載、張貼、發送電子郵件或以其他方式傳送；不得採取任何將導致不合理的龐大數據負載加諸HGBOATING網路設備的行動；</li>
          <li>8) 用戶不得利用網路服務進行任何不利於HGBOATING的行為。</li>
        </ul>
      </li>
      <li>如用戶違反本協議規定，HGBOATING有權在不通知用戶的情況下刪帖，嚴重違反上述規定的，HGBOATING有權單方取消對用戶的服務。 同時如果HGBOATING有理由認為用戶的任何行為，包括但不限於用戶的任何言論、帳號、昵稱或其他行為，違反或可能違反國家法律和法規的任何規定或影響到HGBOATING的利益， HGBOATING可在任何時候不經任何事先通知單方停止向用戶提供服務，並無需對用戶承擔任何義務。</li>
      <li>您在此承諾不經HGBOATING書面同意，不能利用本服務進行銷售或開展其他商業性行為。如用戶違反此約定，HGBOATING將依法追究您的違約責任，由此給HGBOATING造成損失的， HGBOATING有權主張損失賠償，該等賠償包括但不限於直接損失和可得利益損失。</li>
    </ol>
    <h2>二、 服務內容</h2>
    <ol>
      <li>本服務的具體內容，由HGBOATING根據實際情況決定提供或不提供，例如：在HGBOATING網站及APP產品中發佈船舶租賃資訊、旅遊產品資訊、遊記、旅遊攻略、上傳圖片；發佈或參加各類線上及線下活動；發佈並分享對文章、活動、圖片的評論。您理解並同意， 本服務是按照現有技術和條件所能達到的現狀提供的。HGBOATING會盡最大努力向您提供服務，確保服務的連貫性和安全性； 但HGBOATING不能隨時預見和防範法律、技術以及其他風險，包括但不限於不可抗力、病毒、木馬、駭客攻擊、系統不穩定、第三方服務瑕疵、 政府行為等原因可能導致的服務中斷、數據丟失以及其他的損失和風險。對於任何用戶資訊或個人化設定之時效、刪除、傳遞錯誤、未予儲存或其他任何問題，HGBOATING均不承擔任何責任。HGBOATING保留不經事先通知為升級、維護或其他目的暫停本服務全部或任何部分的權利。</li>
      <li>請您理解，HGBOATING僅提供相關的網路服務，除此之外與相關網路服務有關的設備（如個人電腦、手機、及其他與接入互聯網或移動網有關的裝置）及所需的費用 （如為接入互聯網而支付的電話費及上網費、為使用移動網而支付的手機費）均應由用戶自行負擔。您理解並同意，您使用本服務時會耗用您的終端設備和帶寬等資源。</li>
      <li>您同意HGBOATING可以在提供服務的過程中自行或由第三方廣告商向您發送廣告、推廣或宣傳資訊（包括商業與非商業資訊），其方式和範圍可不經向您特別通知而變更。 HGBOATING可能為您提供選擇停止接受廣告資訊的功能或管道，但任何時候您都不得以本協議未明確約定或HGBOATING未書面許可的方式遮罩、過濾廣告資訊。HGBOATING依照法律的規定對廣告商履行相關義務，您應當自行判斷廣告資訊的真實性並為自己的判斷行為負責，除法律明確規定外，您因依該廣告資訊進行的交易或 前述廣告商提供的內容而遭受的損失或損害，HGBOATING不承擔責任。</li>
      <li>HGBOATING依法為用戶提供本服務，但是用戶應對其使用HGBOATING自行承擔責任及風險，HGBOATING在任何情況下不就因使用或不能使用HGBOATING提供的服務所發生的特殊的、 意外的、直接或間接的損失承擔賠償責任。</li>
      <li>除您與HGBOATING另行書面約定外，HGBOATING保留隨時停止、修改或中斷服務而不需通知您的權利。HGBOATING不需就此對用戶或第三方負責。</li>
    </ol>
    <h2>三、 關於第三方提供的服務</h2>
    <ol>
      <li>您在HGBOATING平臺上使用第三方提供的產品或服務時，除遵守本協議約定外，還應遵守第三方的服務或用戶協議。HGBOATING和第三方對可能出現的糾紛在法律規定和約定的範圍內各自承擔責任。</li>
      <li>本服務可能會提供與其他網站或資源進行鏈接。對於前述網站或資源是否可以利用，HGBOATING不承擔擔保責任。因用戶使用上述網站或資源所產生的損失或損害，HGBOATING也不負擔任何責任。</li>
    </ol>
    <p>附：</p>
    <p><a href="/disclaimer.html">HGBOATING免責聲明</a></p>
    <p><a href="/privacy.html">HGBOATING隱私保護聲明</a></p>
    <p><a href="/copyright.html">HGBOATING知識產權聲明</a></p>
    <p class="text-right">海雲帆遊艇國際有限公司</p>
    <p class="text-right">2015年10月</p>
  </div>
  {% else %}
  <div class="page-header text-center">
    <h1>海龟租船用户服务协议</h1>
  </div>
  <div class="static-article">
    <p>“海龟租船(www.hgboating.com)”，是深圳市海云帆游艇发展有限公司(以下简称海云帆) 合法设立的船舶租赁平台（以下可简称“平台”），为广大出海爱好者与船东间建立高效的点对点式的船舶租赁通道。在此特别提醒客户认真阅读《海龟租船用户服务协议》（以下简称"本协议"），并接受或不接受本协议。若您注册成功则视为您对本《协议》的接受及签署，并同意接受本《协议》各项条款的约束。</p>
    <p>本协议的条款“海龟租船”有权随时更新，且毋须另行通知。 此外，当您使用“平台”某一具体网站频道、产品、服务等具体服务时，您应遵守“平台”随时公布的与该具体服务相关的具体协议、指引和规则等。 如《海龟租船免责声明》、《海龟租船隐私保护声明》、《海龟租船知识产权声明》等，前述所有的具体协议、指引和声明等，均构成本协议的一部分。</p>
    <h2>一、	用户使用说明</h2>
    <ol>
      <li>您一旦注册成功，即成为海龟租船用户，可以获得本站规定用户所应享有的一切权限；“用户”是指本服务的使用人，本协议也可能使用“您”来称呼用户。</li>
      <li>若用户未满18周岁则属于未成年人用户，未成年人用户应在监护人监护、指导下，阅读了解本协议和使用本服务。</li>
      <li>您理解并接受海龟租船对该账号的授权仅限于您个人、非商业、不可转让及非排他性的使用，海龟租船保留该账号的所有权，并可以在必要时收回该账号，您仅可为访问或使用本服务的目的而使用该账号。海龟租船特别提醒您应妥善保管您的帐号和密码。当您使用完毕后，应安全退出。用户对利用该密码和帐号所进行的一切活动负全部责任；由该等活动所导致的任何损失或损害由用户承担，海龟租船不承担任何责任。 因您保管不善可能导致遭受盗号或密码失窃，责任由您自行承担。如果您的密码和帐号遭到未授权的使用或发生其他任何安全问题，应立即通知海龟租船。</li>
      <li>您同意在使用本服务时遵守当地的相关法律法规的所有规定，并尊重当地的道德和风俗习惯。如您的行为违反当地法律法规或道德风俗，您应当为此独立承担责任。构成违法或犯罪的，将由您自行承担刑事责任。如果您违反了本条约定，相关国家机关或机构可能会对您提起诉讼、罚款或采取其他制裁措施，并要求海龟租船给予协助的， 海龟租船可能会依法协助。如果您的违法行为造成海龟租船损害的，您应依法予以赔偿。</li>
      <li>用户可在使用本服务发布文章、图片、评论及其他信息，但不得使用海龟租船服务发送或传播敏感信息和违反国家法律法规政策的信息，此类信息包括但不限于：
        <ul>
          <li>1)	反对宪法所确定的基本原则的；</li>
          <li>2)	危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
          <li>3)	损害国家荣誉和利益的；</li>
          <li>4)	煽动民族仇恨、民族歧视，破坏民族团结的；</li>
          <li>5)	破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
          <li>6)	散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
          <li>7)	散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
          <li>8)	侮辱或者诽谤他人，侵害他人合法权益的；</li>
          <li>9)	含有法律、行政法规禁止的其他内容的。</li>
        </ul>
      </li>
      <li>用户在使用本服务过程中，还必须遵循以下原则：
        <ul>
          <li>1)	遵守中国及所在国有关的法律和法规；</li>
          <li>2)	用户不得侵任何人的知识产权，包括但不限于不得将侵犯任何人的专利、商标、著作权、商业秘密或其他专属权利；</li>
          <li>3)	用户不得侵犯涉密信息，包括但不限于不得将无权传送的内容（例如商业秘密、内部资料、机密资料、个人信息等）进行上载、张贴、发送电子邮件或以其它方式发布、传送、传播、储存、或提供；</li>
          <li>4)	用户不得为任何非法目的而使用网络服务系统，包括但不限于应当遵守法律法规，以及所有与网络服务有关的网络协议、规定和程序，不得利用海龟租船网络服务系统进行任何可能对互联网的正常运转造成不利影响的行为，或其他任何非法行为；</li>
          <li>5)	用户仅可在非商业范围内使用本服务。不得进行任何未经海龟租船书面许可的商业广告行为，包括但不限于将广告函件、促销资料、垃圾邮件等，加以上载、张贴、发送电子邮件、发送站内信或以其它方式发布、传送、传播、储存，或提供；不得对海龟租船上的任何数据作商业性利用，包括但不限于在未经海龟租船事先书面同意的情况下，以复制、发布、传播等任何方式使用海龟租船上展示的资料；</li>
          <li>6)	用户不得利用本服务实施侵权行为，包括但不限于不得使用虚假、冒充他人或其他方的信息注册海龟租船后发布评论或其他内容，不得冒充任何人或机构，或以虚伪不实的方式谎称或使人误认为其言论或身份与任何人或任何机构有关；不得伪造标题或以其它方式操控识别资料，使人误认为该内容为海龟租船所传送；不得以虚构或歪曲事实的方式不当评价其他用户；不得利用海龟租船网络服务系统传输任何骚扰性的、中伤他人的、辱骂性的、庸俗淫秽的或其他任何非法的信息资料；</li>
          <li>7)	用户不得破坏本服务的提供，或侵犯本服务相关的任何权利，包括但不限于不得将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、张贴、发送电子邮件或以其它方式传送；不得采取任何将导致不合理的庞大数据负载加诸海龟租船网络设备的行动；</li>
          <li>8)	用户不得利用网络服务进行任何不利于海龟租船的行为。</li>
        </ul>
      </li>
      <li>如用户违反本协议规定，海龟租船有权在不通知用户的情况下删帖，严重违反上述规定的，海龟租船有权单方取消对用户的服务。 同时如果海龟租船有理由认为用户的任何行为，包括但不限于用户的任何言论、账号、昵称或其它行为，违反或可能违反国家法律和法规的任何规定或影响到海龟租船的利益， 海龟租船可在任何时候不经任何事先通知单方停止向用户提供服务，并无需对用户承担任何义务。</li>
      <li>您在此承诺不经海龟租船书面同意，不能利用本服务进行销售或开展其他商业性行为。如用户违反此约定，海龟租船将依法追究您的违约责任，由此给海龟租船造成损失的， 海龟租船有权主张损失赔偿，该等赔偿包括但不限于直接损失和可得利益损失。</li>
    </ol>
    <h2>二、	服务内容</h2>
    <ol>
      <li>本服务的具体内容，由海龟租船根据实际情况决定提供或不提供，例如：在海龟租船网站及APP产品中发布船舶租赁信息、旅游产品信息、游记、旅游攻略、上传图片；发布或参加各类线上及线下活动；发布并分享对文章、活动、图片的评论。您理解并同意， 本服务是按照现有技术和条件所能达到的现状提供的。海龟租船会尽最大努力向您提供服务，确保服务的连贯性和安全性； 但海龟租船不能随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、 政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。对于任何用户信息或个人化设定之时效、删除、传递错误、未予储存或其它任何问题，海龟租船均不承担任何责任。海龟租船保留不经事先通知为升级、维护或其它目的暂停本服务全部或任何部分的权利。</li>
      <li>请您理解，海龟租船仅提供相关的网络服务，除此之外与相关网络服务有关的设备（如个人电脑、手机、及其他与接入互联网或移动网有关的装置）及所需的费用 （如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由用户自行负担。您理解并同意，您使用本服务时会耗用您的终端设备和带宽等资源。</li>
      <li>您同意海龟租船可以在提供服务的过程中自行或由第三方广告商向您发送广告、推广或宣传信息（包括商业与非商业信息），其方式和范围可不经向您特别通知而变更。 海龟租船可能为您提供选择停止接受广告信息的功能或渠道，但任何时候您都不得以本协议未明确约定或海龟租船未书面许可的方式屏蔽、过滤广告信息。海龟租船依照法律的规定对广告商履行相关义务，您应当自行判断广告信息的真实性并为自己的判断行为负责，除法律明确规定外，您因依该广告信息进行的交易或 前述广告商提供的内容而遭受的损失或损害，海龟租船不承担责任。</li>
      <li>海龟租船依法为用户提供本服务，但是用户应对其使用海龟租船自行承担责任及风险，海龟租船在任何情况下不就因使用或不能使用海龟租船提供的服务所发生的特殊的、 意外的、直接或间接的损失承担赔偿责任。</li>
      <li>除您与海龟租船另行书面约定外，海龟租船保留随时停止、修改或中断服务而不需通知您的权利。海龟租船不需就此对用户或第三方负责。</li>
    </ol>
    <h2>三、	关于第三方提供的服务</h2>
    <ol>
      <li>您在海龟租船平台上使用第三方提供的产品或服务时，除遵守本协议约定外，还应遵守第三方的服务或用户协议。海龟租船和第三方对可能出现的纠纷在法律规定和约定的范围内各自承担责任。</li>
      <li>本服务可能会提供与其他网站或资源进行链接。对于前述网站或资源是否可以利用，海龟租船不承担担保责任。因用户使用上述网站或资源所产生的损失或损害，海龟租船也不负担任何责任。</li>
    </ol>
    <p>附：</p>
    <p><a href="/disclaimer.html">海龟租船免责声明</a></p>
    <p><a href="/privacy.html">海龟租船隐私保护声明</a></p>
    <p><a href="/copyright.html">海龟租船知识产权声明</a></p>
    <p class="text-right">深圳市海云帆游艇发展有限公司</p>
    <p class="text-right">2015年10月</p>
  </div>
  {% endif %}
  <hr class="hr-divider">
</div>