<div class="container columns-sm">
  <ol class="breadcrumb">
    <li><a href="/">{{ __('nav.home') }}</a></li>
    <li class="active">{{ __('site.info.terms') }}</li>
  </ol>
  <div class="page-header text-center">
    <h1>海龟租船用户服务协议</h1>
  </div>
  <div class="static-article">
    <p>“海龟租船(www.hgboating.com)”，是深圳市海云帆游艇发展有限公司(以下简称海云帆) 合法设立的船舶租赁平台（以下可简称“平台”），为广大出海爱好者与船东间建立高效的点对点式的船舶租赁通道。在此特别提醒客户认真阅读《海龟租船用户服务协议》（以下简称"本协议"），并接受或不接受本协议。若您注册成功则视为您对本《协议》的接受及签署，并同意接受本《协议》各项条款的约束。</p>
    <p>本协议的条款“海龟租船”有权随时更新，且毋须另行通知。 此外，当您使用“平台”某一具体网站频道、产品、服务等具体服务时，您应遵守“平台”随时公布的与该具体服务相关的具体协议、指引和规则等。 如《海龟租船免责声明》、《海龟租船隐私保护声明》、《海龟租船知识产权声明》等，前述所有的具体协议、指引和声明等，均构成本协议的一部分。</p>
    <h2>一、	用户使用说明</h2>
    <ol>
      <li>您一旦注册成功，即成为海龟租船用户，可以获得本站规定用户所应享有的一切权限；“用户”是指本服务的使用人，本协议也可能使用“您”来称呼用户。</li>
      <li>若用户未满18周岁则属于未成年人用户，未成年人用户应在监护人监护、指导下，阅读了解本协议和使用本服务。</li>
      <li>您理解并接受海龟租船对该账号的授权仅限于您个人、非商业、不可转让及非排他性的使用，海龟租船保留该账号的所有权，并可以在必要时收回该账号，您仅可为访问或使用本服务的目的而使用该账号。海龟租船特别提醒您应妥善保管您的帐号和密码。当您使用完毕后，应安全退出。用户对利用该密码和帐号所进行的一切活动负全部责任；由该等活动所导致的任何损失或损害由用户承担，海龟租船不承担任何责任。 因您保管不善可能导致遭受盗号或密码失窃，责任由您自行承担。如果您的密码和帐号遭到未授权的使用或发生其他任何安全问题，应立即通知海龟租船。</li>
      <li>您同意在使用本服务时遵守当地的相关法律法规的所有规定，并尊重当地的道德和风俗习惯。如您的行为违反当地法律法规或道德风俗，您应当为此独立承担责任。构成违法或犯罪的，将由您自行承担刑事责任。如果您违反了本条约定，相关国家机关或机构可能会对您提起诉讼、罚款或采取其他制裁措施，并要求海龟租船给予协助的， 海龟租船可能会依法协助。如果您的违法行为造成海龟租船损害的，您应依法予以赔偿。</li>
      <li>用户可在使用本服务发布文章、图片、评论及其他信息，但不得使用海龟租船服务发送或传播敏感信息和违反国家法律法规政策的信息，此类信息包括但不限于：
        <ul>
          <li>1)	反对宪法所确定的基本原则的；</li>
          <li>2)	危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
          <li>3)	损害国家荣誉和利益的；</li>
          <li>4)	煽动民族仇恨、民族歧视，破坏民族团结的；</li>
          <li>5)	破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
          <li>6)	散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
          <li>7)	散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
          <li>8)	侮辱或者诽谤他人，侵害他人合法权益的；</li>
          <li>9)	含有法律、行政法规禁止的其他内容的。</li>
        </ul>
      </li>
      <li>用户在使用本服务过程中，还必须遵循以下原则：
        <ul>
          <li>1)	遵守中国及所在国有关的法律和法规；</li>
          <li>2)	用户不得侵任何人的知识产权，包括但不限于不得将侵犯任何人的专利、商标、著作权、商业秘密或其他专属权利；</li>
          <li>3)	用户不得侵犯涉密信息，包括但不限于不得将无权传送的内容（例如商业秘密、内部资料、机密资料、个人信息等）进行上载、张贴、发送电子邮件或以其它方式发布、传送、传播、储存、或提供；</li>
          <li>4)	用户不得为任何非法目的而使用网络服务系统，包括但不限于应当遵守法律法规，以及所有与网络服务有关的网络协议、规定和程序，不得利用海龟租船网络服务系统进行任何可能对互联网的正常运转造成不利影响的行为，或其他任何非法行为；</li>
          <li>5)	用户仅可在非商业范围内使用本服务。不得进行任何未经海龟租船书面许可的商业广告行为，包括但不限于将广告函件、促销资料、垃圾邮件等，加以上载、张贴、发送电子邮件、发送站内信或以其它方式发布、传送、传播、储存，或提供；不得对海龟租船上的任何数据作商业性利用，包括但不限于在未经海龟租船事先书面同意的情况下，以复制、发布、传播等任何方式使用海龟租船上展示的资料；</li>
          <li>6)	用户不得利用本服务实施侵权行为，包括但不限于不得使用虚假、冒充他人或其他方的信息注册海龟租船后发布评论或其他内容，不得冒充任何人或机构，或以虚伪不实的方式谎称或使人误认为其言论或身份与任何人或任何机构有关；不得伪造标题或以其它方式操控识别资料，使人误认为该内容为海龟租船所传送；不得以虚构或歪曲事实的方式不当评价其他用户；不得利用海龟租船网络服务系统传输任何骚扰性的、中伤他人的、辱骂性的、庸俗淫秽的或其他任何非法的信息资料；</li>
          <li>7)	用户不得破坏本服务的提供，或侵犯本服务相关的任何权利，包括但不限于不得将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、张贴、发送电子邮件或以其它方式传送；不得采取任何将导致不合理的庞大数据负载加诸海龟租船网络设备的行动；</li>
          <li>8)	用户不得利用网络服务进行任何不利于海龟租船的行为。</li>
        </ul>
      </li>
      <li>如用户违反本协议规定，海龟租船有权在不通知用户的情况下删帖，严重违反上述规定的，海龟租船有权单方取消对用户的服务。 同时如果海龟租船有理由认为用户的任何行为，包括但不限于用户的任何言论、账号、昵称或其它行为，违反或可能违反国家法律和法规的任何规定或影响到海龟租船的利益， 海龟租船可在任何时候不经任何事先通知单方停止向用户提供服务，并无需对用户承担任何义务。</li>
      <li>您在此承诺不经海龟租船书面同意，不能利用本服务进行销售或开展其他商业性行为。如用户违反此约定，海龟租船将依法追究您的违约责任，由此给海龟租船造成损失的， 海龟租船有权主张损失赔偿，该等赔偿包括但不限于直接损失和可得利益损失。</li>
    </ol>
    <h2>二、	服务内容</h2>
    <ol>
      <li>本服务的具体内容，由海龟租船根据实际情况决定提供或不提供，例如：在海龟租船网站及APP产品中发布船舶租赁信息、旅游产品信息、游记、旅游攻略、上传图片；发布或参加各类线上及线下活动；发布并分享对文章、活动、图片的评论。您理解并同意， 本服务是按照现有技术和条件所能达到的现状提供的。海龟租船会尽最大努力向您提供服务，确保服务的连贯性和安全性； 但海龟租船不能随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、 政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。对于任何用户信息或个人化设定之时效、删除、传递错误、未予储存或其它任何问题，海龟租船均不承担任何责任。海龟租船保留不经事先通知为升级、维护或其它目的暂停本服务全部或任何部分的权利。</li>
      <li>请您理解，海龟租船仅提供相关的网络服务，除此之外与相关网络服务有关的设备（如个人电脑、手机、及其他与接入互联网或移动网有关的装置）及所需的费用 （如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由用户自行负担。您理解并同意，您使用本服务时会耗用您的终端设备和带宽等资源。</li>
      <li>您同意海龟租船可以在提供服务的过程中自行或由第三方广告商向您发送广告、推广或宣传信息（包括商业与非商业信息），其方式和范围可不经向您特别通知而变更。 海龟租船可能为您提供选择停止接受广告信息的功能或渠道，但任何时候您都不得以本协议未明确约定或海龟租船未书面许可的方式屏蔽、过滤广告信息。海龟租船依照法律的规定对广告商履行相关义务，您应当自行判断广告信息的真实性并为自己的判断行为负责，除法律明确规定外，您因依该广告信息进行的交易或 前述广告商提供的内容而遭受的损失或损害，海龟租船不承担责任。</li>
      <li>海龟租船依法为用户提供本服务，但是用户应对其使用海龟租船自行承担责任及风险，海龟租船在任何情况下不就因使用或不能使用海龟租船提供的服务所发生的特殊的、 意外的、直接或间接的损失承担赔偿责任。</li>
      <li>除您与海龟租船另行书面约定外，海龟租船保留随时停止、修改或中断服务而不需通知您的权利。海龟租船不需就此对用户或第三方负责。</li>
    </ol>
    <h2>三、	关于第三方提供的服务</h2>
    <ol>
      <li>您在海龟租船平台上使用第三方提供的产品或服务时，除遵守本协议约定外，还应遵守第三方的服务或用户协议。海龟租船和第三方对可能出现的纠纷在法律规定和约定的范围内各自承担责任。</li>
      <li>本服务可能会提供与其他网站或资源进行链接。对于前述网站或资源是否可以利用，海龟租船不承担担保责任。因用户使用上述网站或资源所产生的损失或损害，海龟租船也不负担任何责任。</li>
    </ol>
    <p>附：</p>
    <p><a href="/disclaimer.html">海龟租船免责声明</a></p>
    <p><a href="/privacy.html">海龟租船隐私保护声明</a></p>
    <p><a href="/copyright.html">海龟租船知识产权声明</a></p>
    <p class="text-right">深圳市海云帆游艇发展有限公司</p>
    <p class="text-right">2015年10月</p>
  </div>
  <hr class="hr-divider">
</div>