{% macro createForm(booking) %}
  {% if !preset.ua.mobile %}
  <form name="alipay_direct" action="/pay/alipay" method="post" target="_blank">
    <input type="hidden" name="_csrf" value="{{ _csrf }}">
    <input type="hidden" name="WIDout_trade_no" value="{{ booking.bookingId }}">
    <input type="hidden" name="WIDextra_common_param" value="boat">
    <input type="hidden" name="WIDsubject" value="{{ booking.boatName }}-{{ booking.productName }}-{{ booking.packageName }}">
    <input type="hidden" name="WIDtotal_fee" value="{{ (booking.total / 100).toFixed(2) }}">
    <input type="hidden" name="WIDbody" value="{{ booking.boatName }}-{{ booking.productName }}-{{ booking.packageName }}">
    <input type="hidden" name="WIDshow_url" value="http://hgboating.com/product/{{ booking.productId.valueOf() }}/{{ booking.productName }}/{{ booking.boatId.valueOf() }}/{{ booking.boatName }}">
  </form>
  {% endif %}
  <form id="payment-selection">
    {% if !preset.ua.mobile %}
    <label class="btn btn-default">
      <input name="payway" type="radio" value="alipay_direct" autocomplete="off"> 支付宝
    </label>
    {% endif %}
  </form>
{% endmacro %}